[2014-05-12 08:09] lindenb opened #2 "moving the code from picard to htsjdk"
Hi, I'm currently moving my code from picard1.100 to htsjdk. So far I cannot see how I should now map those 'old' classes:
- PicardException
- net.sf.samtools.cmdline.*

any hint ?
Thanks.

[2014-05-23 02:21] d-cameron opened #18 "Extended API for symbolic alleles"
Extending the htsjdk to parse symbolic alt alleles and return meaningful Alleles based on the parsed result would be useful to structural variation users of the API. In particular the following features would be useful:
- separation of symbolic alleles into named structural variations, named contig insertions (both with sequence such as "A<ctg>" and without "<ctg>"), breakends and breakpoints
- me

[2014-05-29 18:42] ldgauthier opened #28 "JEXLMap update to help GATK VariantFiltration"
JEXLMap already has JEXL context variables for isHomRef, isHet and isHomVar (circa line 97 in variant/variantcontext/JEXLMap.java), but it would be great if variables could be added for the other genotype types, specifically noCall.

Of course if GSA had commit rights we could take care of some of these issues on our own.... ;)

[2014-06-04 11:40] lindenb opened #35 "htsjdk.samtools.fastq.FastqReader doesn't accept empty records"
I used the **htsjdk.samtools.fastq.FastqReader** to read fastq files processed with **cutadapt**: some reads were empty : the FastqReader throws an exception from FastqReader.checkLine

is there a way to fix this ? the field 'skipBlankLines' makes it difficult to fix.

Another idea;   in FastqReader would it be advantageous to  use htsjdk.samtools.util.LineReader instead of a java.io BufferedReade

[2014-06-19 20:26] evolvedmicrobe opened #43 "Header lines with same key are lost when parsing VCF."
Consider a VCF file with the following two lines in the header:

    ##GATKCommandLine=<ID=ExtractConsensusSites, ....
    ##GATKCommandLine=<ID=FilterLiftedVariants,....

When this is parsed by the VCFHeader class, both lines  are fed into the meta data object as follows: (VCFHeader.java: 279)

    mOtherMetaData.put(line.getKey(), line);

And the second entry overwrites the first, so the first l

[2014-06-25 18:22] rpoplin opened #44 "Integer overflow problem in tribble.util.popgen.HardyWeinbergCalculation"
Users like Monkol are finding the HWP annotation to be very valuable but unfortunately we stopped emitting it in GenotypeGVCF because there is an integer overflow problem in the code with 91K samples. Hopefully this stack trace from Tim will be enough to reproduce the issue.

Hi All,

First I thought you’d all like to know that the 91k got kicked off on Saturday.  However, all of the GenotypeGVCF

[2014-07-04 11:50] superbobry opened #50 "Separate JAR files"
Hello, I want to use the samtools part of the `htsjdk`, but the current Ant file doesn't have a task for building separate JAR files for each of the subprojects. Is there any particular reason for this?

[2014-07-07 13:49] #50 closed, assigned to nobody

[2014-07-08 13:24] mremmert opened #51 "NPE in TabixReader"
There is a bug in the TabixReader constructor.
You can specify the path to the index file ("idxFn", second argument of the last constructor), but when this value is not null, it is never assigned to the class variable "mIdxFn". Because of that you will get a NullPointerException in the readIndex() method.

[2014-07-08 14:31] #51 closed, assigned to alecw

[2014-07-08 17:17] mremmert opened #54 "Specify Index-File in VCFFileReader"
It would be nice to be able to specify the index-file in the VCFFileReader.
The underlying FeatureReader has the possibility to specify the index resource, but there is no possibility in the VCFFileReader to set the index resource (e.g. an additional constructor). At the moment this VCFFileReader only works if the index file is located in the same folder as the VCF file.

[2014-07-16 23:34] kristoff-it opened #63 "VCFFileReader: InputStream?"
Hello I'm in need of showing completion percentages from an import operation that uses the VCFFIleReader.
At the moment the constructor asks for a java.io.File object which, being only a fancy way to represent a path, doesn't allow me to `tell()` how much data has been consumed (since this is the only way to get an idea about how much time is left to read the entire VCF file).

Is there a way to a

[2014-07-17 21:10] #2 closed, assigned to nobody

[2014-07-17 21:10] #28 closed, assigned to nobody

[2014-07-17 22:17] #35 closed, assigned to nh13

[2014-07-18 13:34] #44 closed, assigned to yfarjoun

[2014-07-18 18:32] #63 closed, assigned to nobody

[2014-07-21 21:50] chilinglam opened #73 "Bam slicing issue: Unable to query by chromosome"
I tried to use the SamReader:

[code]

where intervals contain a single QueryInterval which is:

[code]

It will throw an exception as follows:

[code]

The BAM file size is about 15 GB downloaded from 1000 Genomes: ftp://ftp-trace.ncbi.nih.gov/1000genomes/ftp/data/HG00595/alignment/HG00595.mapped.ILLUMINA.bwa.CHS.low_coverage.20120522.bam

Any help is appreciated.

[2014-07-24 20:44] #54 closed, assigned to nobody

[2014-07-29 20:07] chilinglam opened #76 "Potential Bug: Missing reads when querying using Reader API"
Hi developers,

I need your help again! I got an issue when I try to query bam files using SamReader/SAMFileReader.
Basically, there are two reads in the BAM:

[code]

Note that they both have the same `QNAME (ERR019497.24419495)`, `RNAME (1)` and `POS (11966)`.

When I use the reader query API as follows against this BAM file:

[code]

where

[code]

I got 2 reads back which is perfect!

However

[2014-07-29 20:36] #73 closed, assigned to mccowan

[2014-07-29 21:38] #76 closed, assigned to nobody

[2014-08-25 15:36] bpow opened #84 "Use commons-compress instead of apache-ant-1.8.2-bzip2.jar (library provenance and support more compression types)?"
`htsjdk.samtools.util.IOUtil` depends on `CBZip2{Input,Output}Stream` in order to implement `openBzipFileForReading` and `openBzipFileForWriting` and the calls in `openFileForReading` and `openFileForWriting` where file types are autodetected by extension.

`CBZip2{Input,Output}Stream` are provided in the source in `lib/apache-ant-1.8.2-bzip2.jar`, but this is effectively a binary blob. There is n

[2014-08-30 01:55] #84 closed, assigned to nobody

[2014-09-08 08:57] lindenb opened #99 "htsjdk.version.property.xml not saved as xml"
I'm running ant 1.9.4 :

[code]

in build.xml the file htsjdk.version.property.xml should be saved as XML but it is not:

[code]

It breaks ant when reading the xml to get the htsjdk.version(  https://github.com/lindenb/jvarkit/issues/11 )

may be it should be named 'htsjdk.version.properties' ?

[2014-09-19 20:49] nh13 opened #117 "Make a snapshot release of HTSJDK after a travis CI build of master"
See: https://github.com/samtools/htsjdk/pull/115

[2014-09-22 16:48] jkbonfield opened #120 "CRAM support for non-ref encoding"
I'm not sure if this has been fixed yet or not, as I was only able to test cramtools-2.1.jar from EBI web site.  Is there a way to run picard tools with CRAM (I tried ViewSam and it didn't work).

Anyway, that aside, cramtools is unable to read CRAM files that has no reference. My file entirely uses cram features to store the base calls and never has need to reference an external sequence. It does

[2014-09-26 18:47] nh13 opened #124 "CRAM to support interval querying"
Before we release, we would like to support interval range querying of CRAM files.  @vadimzalunin could this be supported?
[code]

[2014-10-16 19:06] chilinglam opened #128 "BAM and BAI files Validation"
Hi there,

Is there a tool to validate if the BAM/BAI file is valid?

Thank you!

Jerry

[2014-10-16 19:07] #128 closed, assigned to nobody

[2014-11-24 16:33] yfarjoun opened #135 "TextCigarCodec is stateless but has non-static methods"
if encode, decode, isDigit would be made static one could use them without first creating an instance of class.

[2014-12-17 20:06] kshakir opened #142 "CIO.isCRAM uses DIS.readFully instead of SFR.readBytes and throws EOFE"
[`CramIO.isCRAM()`][isCRAM] should not use [`DataInputStream.readFully()`][readFully] on unknown input streams. [`SamFileReader.isBAMFile()`](https://github.com/samtools/htsjdk/blob/ee4c4bacf113d20c9d8583af1fa11f4890445cf2/src/java/htsjdk/samtools/SAMFileReader.java#L729) instead uses `SamFileReader.readBytes()`, and hence does not throw an exception when the stream is not as expected.

**Test cas

[2014-12-18 14:56] nh13 opened #143 "Incorporate test cases for testing the ranges of values for the SAM 'i' data type"
Please note that @jkbonfield has provided us with some test cases.

[2014-12-18 18:26] #120 closed, assigned to jacarey

[2014-12-18 19:10] #142 closed, assigned to jacarey

[2014-12-18 19:28] #135 closed, assigned to gbggrant

[2014-12-18 19:45] #99 closed, assigned to nh13

[2014-12-21 15:37] kshakir opened #148 "CRAM rewriting fails on assert"
I'm not going to say I think it's CRAM and the NM tag<sup>[1]</sup>, but I think it's CRAM and the NM tag<sup>[2],[3]</sup>.

This command line works, using the test crams in the current cramtools master branch<sup>[4]</sup>:

[code]

The same command with the addition of `-ea` crashes on an assert<sup>[5]</sup>:

[code]

[1]: http://www.ebi.ac.uk/ena/software/archive-cram-specification-1-0#comput

[2015-01-06 15:25] jacarey opened #150 "CRAM code base coding style"
Update CRAM code base to our code standards. This mostly involves code
style, variable names and standard conventions.

[2015-01-06 15:27] jacarey opened #151 "CRAM code base javadoc and code documentation."
There are a number of classes that are lacking documentation. In general any public API methods should be documented (unless they are self explanatory). Also any complicated control logic should be properly commented.

[2015-01-06 15:29] jacarey opened #152 "CRAM code base test cases."
Test cases need to be converted to testng and additional coverage added. A fair amount of
the tests are currently run by main()s. These tests should be converted to
a full testng test suite such that our automated builds can run them. This
is also a good time to look at code coverage. Once the tests are converted
to testng we can run some code coverage plugins to get a good sense of how
well this

[2015-01-13 20:25] kshakir opened #153 "CRAM ReadTag throws BufferUnderflowException under multithreaded usage"
Not sure the performance implications, but perhaps [`ReadTag.buf`][1] could still be "risky", maybe just with a `static ThreadLocal<ByteBuffer>` instead of just a `static ByteBuffer`?

[1]: https://github.com/samtools/htsjdk/blob/429f2a8585d9c98a3efd4cedc5188b60b1e66ac5/src/java/htsjdk/samtools/cram/structure/ReadTag.java#L270

[2015-01-14 19:10] kshakir opened #155 "CRAM doesn't set Slice.refMD5"
There appears to be a [`Slice.setRefMD5()`](https://github.com/samtools/htsjdk/blob/429f2a8585d9c98a3efd4cedc5188b60b1e66ac5/src/java/htsjdk/samtools/cram/structure/Slice.java#L222), but it appears that it's not wired in. By the time `SliceIO` writes the `Slice.refMD5` it is still [`null`](https://github.com/samtools/htsjdk/blob/429f2a8585d9c98a3efd4cedc5188b60b1e66ac5/src/java/htsjdk/samtools/cra

[2015-01-14 21:41] nh13 commented on #155
@vadimzalunin

[2015-01-15 21:23] bbimber opened #156 "Request that Feature have getters for start/end that use a consistent coordinate system"
Feature is a very useful interface when dealing with different input file types.  However, the Feature interface explicitly states: "The coordinate conventions for start and end are implementation dependent, no specific contact is specified here."  As a feature request, I would propose that the interface provide some method to obtain the start/end coordinates with a known coordinate scheme, such t

[2015-01-16 08:10] nnordborg opened #157 "aux.bam and aux.sam is not valid file names on windows"
Hello,

I have previously been doing some work on Picard and Htsjdk, but now when I try to update to the latest master branch in htsjdk there is a problem with the aux.bam and aux.sam files in the testdata/htsjdk/samtools directory. Apparently it seems like files named 'aux' are forbidden in Windows due to some restrictions since the MSDOS times!!! (https://social.technet.microsoft.com/Forums/wind

[2015-01-16 11:02] jmarshall commented on #157
FYI we recently had to rename test files similarly in htslib (samtools/htslib@9b1cb948e78a51b93473fc1dbd5e05a9c5fddf8b).  Stupid Windows!

[2015-01-16 15:12] #153 closed

[2015-01-16 15:29] kshakir commented on #155
The fix in master now works for me.

[2015-01-16 15:30] #155 closed

[2015-01-16 16:24] #157 closed

[2015-01-19 07:04] nnordborg commented on #157
Thanks!

[2015-02-06 18:54] lbergelson opened #161 "add getBackingResourceName() to SAMReader"
There is currently no way to get information about the datasource backing the SAMReader.  This makes it difficult to return useful error messages when there is any sort of exception.

It should return a `String` which sufficiently describes the resource  enough that a human could identify which file, url, database, etc was the problem.

[2015-02-10 12:57] dakl opened #163 "Maven central?"
Hi,

Are you planning on distributing htsjdk on maven central? I can only see 1.118 there, from user "seqdoop" which I expect isn't you guys.

(The scenario is that I'm using the GATK-framework to develop custom walker but need to update htsjdk from the supplied version 1.120).

thanks

Daniel

[2015-02-10 13:24] aiirtime opened #164 "Licence"
Hi what about the MIT licence in the htsjdk.
If I use some classes to develop a new tool, I should implement the licence-text into all my classes?
Or I'm not allowed to use this packages in my new tool?

[2015-02-10 13:33] superbobry commented on #164
[This](https://tldrlegal.com/license/mit-license) might help.

[2015-02-10 13:41] aiirtime commented on #164
perfect, thank you.

[2015-02-10 21:05] mattsooknah opened #165 "Move Picard's CompareSAMs functionality into HTSJDK"
The ability to compare two *AM files seems generally useful, especially for unit tests.

There is currently a Picard CLP named CompareSAMs that tests the equality of two such files, and collects more detailed statistics as well. Many unit tests in Picard instantiate this class in a non-CLP context, making dangerous assumptions about mutated fields and such.

It could easily be refactored into a st

[2015-02-11 19:30] nh13 commented on #163
See: https://github.com/samtools/htsjdk/pull/115 and https://repo1.maven.org/maven2/com/github/samtools/htsjdk/1.128/

Enjoy!

[2015-02-11 19:30] #163 closed

[2015-02-11 19:31] #164 closed

[2015-02-11 19:32] nh13 commented on #165
I would ask for more clarity around the statement "returns an object with various collected metrics".  Is this object already created, is this proposed, what is the definition (or is that the task)?  Like you said, it could overlap with the ```SamFileValidator```.

[2015-02-11 19:41] nh13 commented on #117
We will punt on this for the time being.

[2015-02-11 19:41] #117 closed

[2015-02-11 19:49] nh13 commented on #161
Would ```SamReader.Type``` help?  Could you give a concrete example? Since you are in the same room, I would be happy to discuss in person.

[2015-02-11 19:51] nh13 opened #167 "Get coveralls working with Travis CI"
I would like to see code coverage here: https://coveralls.io/r/samtools/htsjdk

[2015-02-11 21:21] mattsooknah commented on #165
After talking to several people, I'm no longer convinced that this should be moved to HTSJDK. It has a fairly rudimentary view of whether two SAMRecords are "equal", and seems more useful as a quick command line "diff"-style tool. Let's close this issue for now.

[2015-02-11 21:21] #165 closed

[2015-02-11 23:13] arahuja opened #169 "Merging out of order sequence headers results in error"
Recently, I got an error
[code]
Can someone explain this error further?

Does this need to be an error or is this case not implemented yet?  Is there a downstream problem if sequence header that are in different orders are still added?

[2015-02-17 19:40] nh13 commented on #169
Could you post the two sequence dictionaries here so we can compare.  The order in which chromosomes (or reference sequences) are specified is important to how the files are sorted.  Many tools rely on the sort order for performance.  You will need to rectify the order before continuing.

[2015-02-17 22:24] arahuja commented on #169
I can post the sequence dictionary, but there there is no question they are in different orders - one places `chrM` first and the other last

[code]
vs
[code]

My question really was this doesn't seem to be an issue in actually *merging* the the sequence dictionaries but removes other guarantees on the BAM?

[2015-02-20 15:35] mattsooknah commented on #161
Should be resolved by https://github.com/samtools/htsjdk/pull/168.

[2015-02-20 15:35] #161 closed

[2015-02-20 15:54] mattsooknah opened #175 "Publish "unstable" build on each push to master?"
(related to https://github.com/samtools/htsjdk/pull/115)

There's been some interest in having an "unstable" jar published to Maven on each push to master, in addition to the "stable" release every ~2 weeks.

This would be useful for larger projects that depend on HTSJDK where a few members of the project want to contribute features to HTSJDK, without everyone having to worry about syncing their l

[2015-02-20 16:04] lbergelson commented on #175
I am indeed interested in this.  I haven't gotten a chance to look into it yet much though.

[2015-02-20 18:36] nh13 commented on #175
Have a suggestion when I get back in next week. Thanks for tracking this!

N

Thumb typed for added typos

[2015-02-23 15:33] hlapp opened #176 "Explicit declaration of license is missing"
The README doesn't state a license, and there is also no LICENSE file. It seems from at least some of the source code that the code is under the MIT license. I'd recommend making that explicit by putting a LICENSE file in the root folder of the repo, and/or declaring the license under which the code is released explicitly in the README.

[2015-02-23 16:11] mattsooknah opened #177 "Clean up Iterators / Iterables"
1. See the comment on SecondaryOrSupplementarySkippingIterator - it combines a peekable iterator with an implicit filter, but it would be cleaner if these were implemented separately and then composed.
2. Should we get rid of, or rename, NotPrimarySkippingIterator (currently unused)? The problem is that it only filters out secondary (but not supplementary) alignments, but someone new to the code m

[2015-02-23 16:17] nh13 commented on #169
Order is important, even in sequence dictionaries when merging.

[2015-02-23 16:17] #169 closed

[2015-02-23 16:28] lbergelson commented on #177
That's a crazily specific class to begin with.  Definitely agree that it should be a composite of filtering iterator wrapped around a peeking iterator or something like that.

[2015-02-23 16:33] lbergelson opened #178 "Refactor Filters to be functional interface"
Currently filters implement 2 different functions, a filter on a single `SAMRecord` and a filter on 2 mated `SAMRecords`.

This should be reduced to just a single method that takes 1 `SAMRead`.  Classes that need a mate pair filter can build their own, or filters that are need for mated pairs could implement their own `MateFilter` interface.   In almost all cases the result on mates is just `&&` o

[2015-02-23 16:40] yfarjoun commented on #178
one could have a default implementation of the paired version that uses the
unpaired (or even possibly two, with with || and one with &&) and then if
someone needs to implement the pair separately they always can.

On Mon, Feb 23, 2015 at 11:33 AM, Louis Bergelson <notifications@github.com>
wrote:

[2015-02-23 16:46] nh13 commented on #177
For (2) the intention is that it is either primary or secondary (see the Multi-mapping section in the [SAM spec](http://samtools.github.io/hts-specs/SAMv1.pdf)).  Supplementary is something different.

[2015-02-23 17:08] lbergelson commented on #178
Yes, but not in java 6.

[2015-02-24 18:37] lbergelson opened #180 "move HTSJDK to java 8"
I suspect this suggestion will be controversial.

It would be helpful for a lot of reasons to allow java 8 code in htsjdk.  There are many useful features which included in 8 which were not in 6, or 7.  See (here)[http://www.oracle.com/technetwork/java/javase/8-whats-new-2157071.html] for a complete list.

In my view, the biggest and most desirable changes are the introduction of lambdas, default

[2015-02-24 18:53] geoffjentry commented on #180
I can assure you that this would cause great wailing and gnashing of teeth, There is a non-trivial portion of the user base who are still tied to Java 6 and I don't think we can abandon them. My understanding is that you can't use -target down to even 1.7 much less 1.6 from 1.8 but I could be wrong there.

Personally I'm a fan of telling people to get with the times, but that's not really how thin

[2015-02-24 18:59] lbergelson commented on #180
I would also support a move to scala, but there is even less appetite for that.  It's unclear to me who is still using java 6, and for what reason.  If you can't update your software versions once every decade, I'm not sure you need the newest htsdjk?

[2015-02-24 19:01] mattsooknah commented on #180
1. Meta question: what's the best place to talk about this? If we want to have a discussion we should possibly try to maximize its visibility to users. At the same time, we need to make sure it doesn't turn into a flamewar.

2. I'll echo Louis' question - what are some reasons why some users are tied to Java 6?

[2015-02-24 19:02] lbergelson commented on #180
Yeah, we need to find out who is using java 6 and for what reason.  Maybe there is a good one, but I don't know what it is.

[2015-02-24 19:07] geoffjentry commented on #180
When we moved Picard to 1.7 the decision to keep htsjdk at 1.6 was intentional to make it as inclusive as possible - it's often the case that an organization will be tied to an old version of something due to a least common denominator effect. We even get the occasional person trying to get 1.5 to work.

Also note that 1.8 can't (again, I might be wrong) be targeted to 1.7 - and while I agree that

[2015-02-24 19:21] lbergelson commented on #180
It's not ludicrous to be on 1.7, but I don't know a very good reason for it either.  Java 8 is mostly compatible with 7 binaries see http://www.oracle.com/technetwork/java/javase/8-compatibility-guide-2156366.html.

[2015-02-24 19:32] lbergelson opened #181 "OldDbSNPFeature uses 0-based locations"
Other features return 1-based locations.  This should be fixed.  Or we should delete OldDbSNPFeature.

Does anyone use this?

[2015-02-24 19:33] mattsooknah commented on #180
If we moved to 1.8, we could still keep a pointer to the last 1.6-compatible release, so people could use that if they needed to. Moving to 1.8 doesn't need to mean "remove all references to older HTSJDK releases". And as Louis implied, if you're on 1.6 then you're probably not eagerly updating your HTSJDK on every release (although I could be wrong).

On the other hand, supporting the older versi

[2015-02-24 19:38] lh3 commented on #180
Although I am not directly involved in htsjdk, I work with various endusers quite often. I am strongly against moving to java 8 which is only one year old. Htsjdk is a library intended to be used by all java programs processing BAM/CRAM. When you are dealing with this large user base, you will have many exceptions. For example, some biologists may not know how to install java but the system only p

[2015-02-24 19:44] geoffjentry commented on #180
The problem is that HTSJDK is designed to be at the bottom of a tech stack and in general you want to be more universal the further down you go.

I'm all for Java 8 - if I was forced to use java as my primary language again I'd shed a tear if it wasn't 8 but I'll just reiterate my initial statement that if one was to bump HTSJDK all the way to 8 there'd be a lot of commotion. I suspect you'd have

[2015-02-24 21:46] lbergelson commented on #180
The upcoming changes to Picard/Gatk are moving them to be java 8, so anyone who isn't doing their own development is going to have to update already.  If you *are* doing java development based on htsjdk yourself, I'd wager you know how to install a new version of java.

We're moving to 8 for new tool development, so they're not going to be running anything in this case

That's a real problem for t

[2015-02-24 21:49] geoffjentry commented on #180
@lbergelson "so anyone who isn't doing their own development" - And that's exactly why htsjdk is separate from Picard.

[2015-02-24 21:50] nh13 commented on #180
Lets discuss in person.

[2015-02-24 21:50] #180 closed

[2015-02-25 01:54] akiezun commented on #180
Java 6 is from 2006, almost a decade ago. Is there a principle that will be followed to decide when an upgrade to newer versions happens? There needs to be one or we may be forever stuck on technology from 2006.

[2015-02-25 02:46] lh3 commented on #180
What is more relevant is that Java 7 is from 2011. Has everyone moved to Java 7 in these 4 years? (As a non-java programmer, I don't know the answer.) Are there life-changing features in Java 7/8 we have to use? (Again, I don't know the answer.)

[2015-02-25 03:11] geoffjentry commented on #180
@lh3 There are some nice things in 7 but 8 is where the real goodies are, although as I've stated I think that 8 is far too new to move to for htsjdk. I'd personally support a move to 7 but I'm not sure the advantages of that are worth the potential disruptions to others.

[2015-02-25 03:22] pgrosu commented on #180
@lh3, when you use Java 8, the clouds part, the sun starts shining, the snow begins to melt and the birds harmoniously are chirping :)  I'm kidding, Java 7 is still being used quite a lot.  Java 8 just offers some new features that can be pretty and efficient from a programming perspective, as well as some optimizations:

- Lambda expression (anonymous functions or inner classes, which can make fo

[2015-02-25 03:28] lbergelson commented on #180
There are some pretty major improvements in java 8.  Java 7 is a minor upgrade from 6, but still has nice features. I'm not sure there would be much advantage in a move to 7.  There's major advantages in in terms of convenience and improved capabilities in 8 though.  As of this month, java 7 is automatically upgrading itself to java 8 on home installations.  Oracle is discontinuing public support

[2015-02-25 03:33] nh13 commented on #180
There are many use cases (think clinical) where extremely slow IT is a feature.  The issue is closed so we can discuss this with a few folks internally before making a proposal, if any, to the community of htsjdk users and developers.

[2015-02-25 17:41] lbergelson commented on #175
@nh13 What was your suggestion for this?

[2015-02-25 18:15] nh13 commented on #175
Responded in person, posting for posterity.

[2015-02-26 21:57] jeremiahsavage opened #183 "Support VN:1.5"
I've used biobambam to merge some files, and it ouputs
`@HD VN:1.5 SO:coordinate`
using https://github.com/gt1/libmaus/blob/master/src/libmaus/bambam/BamCatHeader.hpp#L116

According to the spec ( http://samtools.github.io/hts-specs/SAMv1.pdf ), 1.5 is the current version, but picard ValidateSamFile gives an error, which the diff below eliminates.

[code]

[2015-02-27 16:31] droazen opened #184 "IndexFactory.createTabixIndex() is not able to handle block-compressed files"
Currently, if you pass a block-compressed file into `IndexFactory.createTabixIndex()`, the file never gets decompressed internally, causing the underlying codec to blow up with errors like the following:

        Exception in thread "main" htsjdk.tribble.TribbleException$InvalidHeader: Your input file has a malformed header: We never saw the required CHROM header line (starting with one #) for the

[2015-02-27 18:31] jmthibault79 commented on #184
I like option 2, so calling it just works.  What are the downsides to this solution?

I noticed that there are two `FeatureIterator` classes with similar signatures, so we may want to improve this confusing situation as well.

[2015-02-27 18:33] jmthibault79 commented on #184
See also #185 !

[2015-02-27 19:50] mattsooknah commented on #184
I also prefer option 2 - it should be the factory's job to handle this sort of thing.

[2015-03-03 14:46] aiirtime opened #187 "How to work with BED or vcf files"
Hello,
I'm unsure if this is the right way to ask a developing question. But I searched for examples how to use the htsjdk and for the SamReader/SamReaderFactory there are nice examples.
Is there also some available examples how to read BED or vcf files?

Best Air

[2015-03-04 17:13] nh13 opened #188 "Implement the PM tag in the ReadGroup header record"
Lets add support the ```@RG-PM``` tag in the SAM Header.  This relates to the recent SAM specification change: https://github.com/samtools/hts-specs/issues/16

A first implementation hint is to take a look at ```SAMReadGroupRecord``` and its ```STANDARD_TAGS```.  We will want to add the ```PM``` tag, and expose it here.  Add unit tests too.

[2015-03-04 17:24] nh13 opened #189 "Add a check for correct platform values, case insensitively"
We never use ```INVALID_PLATFORM_VALUE``` but the spec defines platform values.  The platform values are uppercase but in production cases there are BAMs with mixed or lowercase (:/) platform values.  Lets add a check in ```SamFileValidator``` for the correct set of values, case-insensitively, along with unit tests.  This is motivated by a new ```@RG-PL``` value in the SAM Spec: https://github.com

[2015-03-04 20:39] nh13 commented on #188
Fixed in #190.

[2015-03-04 20:39] #188 closed

[2015-03-04 20:40] nh13 commented on #189
See #191.

[2015-03-04 21:39] #189 closed

[2015-03-05 14:47] aiirtime commented on #187
for example like that:
BEDCodec bed_c = new BEDCodec();
TribbleIndexedFeatureReader bed_file = new TribbleIndexedFeatureReader("/x.bed", bed_c, false);
CloseableTribbleIterator<BEDFeature> tribble_it = bed_file.iterator();
while(tribble_it.hasNext()){
BEDFeature bed_entrie = tribble_it.next();}

[2015-03-06 19:50] nh13 commented on #176
The license is in each source file or sub-package.  We should add this to the readme.

[2015-03-06 19:51] nh13 commented on #152
@vadimzalunin any movement on this?

[2015-03-06 19:51] nh13 commented on #151
@vadimzalunin any movement on this?

[2015-03-06 19:52] nh13 commented on #150
@vadimzalunin any movement on this?

[2015-03-06 19:52] nh13 commented on #148
@vadimzalunin any movement on this?

[2015-03-06 19:52] nh13 commented on #143
@jacarey did we get this merged in?

[2015-03-06 19:52] nh13 commented on #124
@vadimzalunin any movement on this?

[2015-03-06 19:55] jacarey commented on #143
yes we did

[2015-03-06 19:55] #143 closed

[2015-03-07 02:51] akiezun opened #192 "replace clone() with copy constructors or factory methods"
overriding and using clone is discouraged - SAMRecord and SAMFileHeader should provide copy constructors or static factory methods instead.

[2015-03-16 13:11] s-andrews opened #196 "Bug when parsing spliced BAM record with very large intron"
I've had a bug report against our software which appears to be an underlying bug in the htsjdk parser for BAM files.  The read which fails to parse is a spliced read with a huge intron in it (226Mbp).  When parsing the cigar string htsjdk corrupts this value (it looks like it overflows so I get a negative value), but if I use samtools to convert the bam file to sam, then htsjdk reads it just fine.

[2015-03-16 17:00] tfenne opened #197 "What's with switching to "contig" everywhere? It's not even correct/accurate?"
I just noticed that there are changes to many core classes (SAMRecord, VariantContext, Interval) to implement a new Locatable interface.  The main result seems to be deprecation of getChr(), getChrom() getChromosome(), getReference() etc. methods in preference to a new getContig().

I get the desire to standardize, but it's confusing to long time users of the library to suddenly change and depreca

[2015-03-16 17:11] nh13 commented on #197
@droazen @lbergelson @mattsooknah

[2015-03-16 17:21] lbergelson commented on #197
We picked getContig() because it seemed like the most accurate name under a
dozen characters.  getReferenceSequence() seems confusing to me because I
would expect it to return the matched sequence at that point, i.e. the
actual bases.  getReferenceSequenceName() would be less confusing, but is
incredibly verbose.  getReference() is less confusing to me than
getReferenceSequence(), and is fairly co

[2015-03-16 17:23] geoffjentry commented on #197
@lbergelson Where did the 12 character limitation come from? IDE auto-complete exists for a reason :)

[2015-03-16 17:27] lbergelson commented on #197
12 characters is a random number I just chose, but for common functions that are called often, I would definitely prefer shorter names over marginally more clear long one.

We will have lots of code that looks like
[code]
which I think is worth preferring over the more explicit
[code]

[2015-03-16 17:28] nh13 commented on #197
@lbergelson but does this conform with the rest of this jdk?

[2015-03-16 17:38] lbergelson commented on #197
`getChr()`, `getChrom()`,  `getChromosome()`, and `getSequence()` are all relatively short and equally ambiguous.  If people think that `getReference()` is clearer than `getContig()` we should change to that. None of these methods were long precise names.

The fact that we have many classes implementing the same function with different names seems to point to the idea that no one of these names is

[2015-03-16 17:39] droazen commented on #197
@nh13 The rest of htsjdk is not self-consistent on this issue. What we have is a zoo of `getChr()`, `getChrom()` `getChromosome()`, `getReference()`, etc., across `htsjdk.samtools` / `htsjdk.tribble` / `htsjdk.variant`. When these three codebases were brought together, no effort was made to reconcile their various interfaces, which is why we have so many different names for the same operations and

[2015-03-16 17:42] vdauwera commented on #197
Might help to have a short manifesto that defines key terms and clarifies their scope, to avoid future multiplication of alternatives.

Personally I don't think it matters if the term that ends up being chosen is not the most technically accurate, as long as it is defined explicitly and used consistently.

[2015-03-16 17:43] lbergelson commented on #197
@vdauwera That's a good idea.

[2015-03-16 17:54] tfenne commented on #197
@lbergelson makes the good point that GA4GH nomenclature for this is just "reference", and since that is both short and technically right (the best kind of right), perhaps that makes sense?

@vdauwera I definitely agree that having a glossary and clearly defined preferred terms for things would help going forward.

[2015-03-18 23:35] akiezun opened #203 "write tests for VariantContext validation"
htsjdk 1.129
none of the validation methods on VariantContext is tested:
extraStrictValidation
validateReferenceBases
validateRSIDs(rsIDs);
validateAlternateAlleles();
validateChromosomeCounts();

[2015-03-19 14:08] lbergelson opened #204 "Queries using empty intervals always produce no results."
With the repeated discussions we've been having around how to treat 0-length intervals, we've been thinking that it would be useful to find out how they actually behave in the current tools.

Currently, querying a SAMReader with a 0-length interval seems to always produce no results.  Likewise tribble queries with an  empty interval also produce no results.

I think in the ideal case we could matc

[2015-03-19 14:12] lbergelson commented on #204
[relevant GA4GH documentation] (http://ga4gh.org/documentation/api/v0.5.1/ga4gh_api.html#/schema/%2FUsers%2Fkeenan%2FDropbox%2Fgit-checkouts%2Fschemas%2Fsrc%2Fmain%2Fresources%2Favro%2Ftarget%2Fall.avpr/org.ga4gh.GASearchReadsRequest)

[2015-03-23 13:44] nh13 commented on #204
I could also take the position we push the ga4gh to improve their reads api?

[2015-03-23 14:15] pgrosu commented on #204
:)  Actually this point is becoming a large GA4GH side-discussion at the following PR:

https://github.com/ga4gh/schemas/pull/253/files#r26700450

~p

[2015-03-23 20:23] nh13 opened #209 "Minimum Java Version Policy"
In an effort to support development on modern platforms as well as giving the community sufficient notice of migrations, I would like to propose the following plan for minimum Java version for HTSJDK.  I will welcome comments until April 6th 2015 at which a time we will make a decision based upon the communities feedback and discussion.

[2015-03-23 21:03] lbergelson commented on #209
:+1:

[2015-03-23 22:57] jrobinso commented on #209
This looks good.   We have dropped support for 6 in IGV as of the latest release,  so if you're maintaining support through Oct for our sake you don't need to.    Hopefully Oracle is better at keeping Macs up to date than Apple was.

[2015-03-23 23:07] akiezun commented on #209
Jim, what Java version are you on now?

On Monday, March 23, 2015, Jim Robinson <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-03-23 23:09] jrobinso commented on #209
1.7

[2015-03-26 18:36] bbimber opened #210 "IndexFactory.createTabixIndex() not working for .vcf.gz files?"
I find that calls to IndexFactory.createTabixIndex() are consistently failing for VCF files with an error along the lines of "ERROR: Your input file has a malformed header: We never saw the required CHROM header line (starting with one #) for the input VCF file".  I was trying to see where this might be going wrong.  Should IndexFactory.initStream() account for the potential of GZ input files?

[2015-03-26 19:20] jmthibault79 commented on #210
Duplicate of #184

[2015-03-26 19:20] #210 closed

[2015-03-30 15:52] vdauwera commented on #43
We are going to fix the GATK VCF header writer to make those lines easier to handle in the next version. Alex will propose some clarifications for the spec.

[2015-03-31 21:52] abaumann commented on #43
GATK will be fixed in a subsequent release to make unique keys for each GATKCommandLine run rather than using a single key.  This will fix the issue you noticed in VCFHeader.java.

According to the VCF spec, the meta-information lines are key=value pairs, so in reality you can only have a key once if a parser treats these values as key/value pairs.  INFO, FORMAT, and FILTER are exceptions to the r

[2015-04-02 15:20] abaumann commented on #192
Currently there is not a plan to provide either copy constructors or copy factory methods, and clone is utilized in many places throughout that ideally would be changed as well if we went the copy constructor/factory route.  The clone method there is also shallow, so a full copy method may be a nice (or needed depending on how you are planning to use it) addition.

If these copy methods are needed

[2015-04-03 21:47] superbobry opened #213 "A bug in LiftOver?"
Hello, we've discovered an issue with the way `LiftOver` works. Consider remapping an interval from `hg18` to `hg19`:

[code]

`LiftOver` remaps the query interval to [2499028, 2499127] on the negative strand, while the correct interval seems to be [2499028, 2499142]. Below are the sequences corresponding to query, remapped and correct intervals:

[code]

It's easy to see that the remapped interva

[2015-04-08 18:27] sndrtj opened #214 "addMetaDataLine duplicates sequence dictionary of VCF header"
Hi there,

When adding an info field to a VCF header with the sequence dictionary of the header gets duplicated. Specifically, `addMetaDataLine` duplicates the sequence dictionary. This leads to an `IllegalArgumentException` when using that header later to specify the reference dictionary for a `VariantContextWriterBuilder`. I've created a gist [here](https://gist.github.com/sndrtj/5ea8451da628cf5

[2015-04-10 14:32] abaumann commented on #214
This looks like an unintended side effect of the addMetaDataLine call - I tracked this down to find that the contigMetaData gets duplicated when you add a metadata line - which is not intended and causes that sequence dictionary failure (addMetadataLine(...) calls loadMetaDataMaps() which adds to lists that already contain items) - I will talk to someone familiar with this code to see if there was

[2015-04-10 20:56] abaumann commented on #187
Every example I observe of this makes use of the AbstractFeatureReader:

[code]

This has the advantage of being more generally useful to return either a `TribbleIndexedFeatureReader` like you used, or a `TabixFeatureReader` if you are reading a tabix indexed file.

Additionally, you can also use the for-each syntax:
[code]

[2015-04-15 15:54] vadimzalunin opened #218 "BAMIndex impl for CRAI index"
CramFileReader expects only BAI but in theory it should be possible to build BAMIndex of a CRAI file. Then the whole stack of random access would work both on BAI and CRAI.

[2015-04-23 12:02] pd3 commented on #43
Hi, sorry for my late response, I missed this thread. The VCF specification does allow multiple keys, for example, this is valid:

     ##comment=This is a comment line..
     ##comment=.. and here is another one
     ##comment=.. and all are valid

[2015-04-23 13:11] vdauwera commented on #43
@pd3 Thanks for your comment. We're aware that this is possible, the problem is that when downstream tools parse this it can cause some difficulties depending on the purpose of the information in those lines, which is what @abaumann was referring to in

We've handled the problem in the GATK use case but we believe some clarifications in the spec (esp. regarding the potential pitfalls for parsing)

[2015-04-23 15:01] nh13 commented on #124
@vadimzalunin: please submit all pull request with this feature supported, and write one or more units that tests this support with SAM, BAM, and CRAM, if one does not already exist.

[2015-04-23 15:04] nh13 commented on #148
@vadimzalunin : please write a unit test that re-creates the failure, then submit a fix taht  passes after the fix is applied.

[2015-04-23 15:07] nh13 commented on #150
@vadimzalunin : please submit a pull request with the changes for this fix for our review.  Once we approve, we can close this issue.

[2015-04-23 15:08] nh13 commented on #151
@vadimzalunin please submit a pull request with changes so we can review.

[2015-04-23 15:09] nh13 commented on #152
@vadimzalunin we would like the following to accept completion of this issue:
* all CRAM tests use testng
* code coverage report produced on CRAM code
* add any tests to uncovered classes as directed by htsjdk Java developers
* code review accepted by htsjdk Java developers members

[2015-04-23 15:11] nh13 opened #222 "CRAM 3.0 Support in HTSJDK"
Current branch being proposed:https://github.com/samtools/htsjdk/tree/cam3_update

Acceptance tests:
- issues #124, #148, #150, #151, and #152 are closed
- Be able to read and write all CRAM 3.0 test files/cases as specified by Vadim: CRAM implementors standard acceptance files.  @vadimzalunin I believe that you have these somewhere; ew would like to include them here.

[2015-04-23 17:12] nh13 commented on #222
@vadimzalunin, from James Bonfield, here are the test files and a test script: https://github.com/samtools/htslib/tree/develop/test

These should be unit tests within htsjdk.

[2015-04-26 20:47] vdauwera commented on #187
@aiirtime Can you indicate whether this answered your question? If so we'd like to close this issue.

[2015-04-26 20:51] vdauwera commented on #181
I'm not aware that anyone uses this anymore, and it has been deprecated for a while. So I would recommend deleting it. If someone complains we can always necromance it back.

[2015-04-26 20:52] vdauwera commented on #209
April 6th 2015 has come and gone. Considering the lack of uproar I suggest we go ahead with the proposed policy.

[2015-04-26 20:55] vdauwera commented on #197
Can we consider this answered and close it, possibly with the condition to open a doc ticket to document the scope/definitions of key terms?

[2015-04-26 21:07] vdauwera opened #227 "Enabled Huboard for samtools/htsjdk to facilitate issue management"
This adds numbered status labels so we can prioritize work through https://huboard.com/samtools/htsjdk/

[2015-04-26 21:08] #227 closed

[2015-04-26 21:21] vdauwera commented on #183
@nh13 Do I understand correctly that this is just a matter of adding "1.5" to the list of acceptable versions? Or is there any actual dev/validation work required?

[2015-04-26 21:27] vdauwera commented on #43
@evolvedmicrobe I'm closing this on the assumption that the GATK fix and Alex's proposed clarification are satisfactory, but let me know if you feel there is something else needed to address this.

[2015-04-26 21:27] #43 closed

[2015-04-26 22:01] vdauwera commented on #196
Oops, didn't mean to close this -- wrong button.

@s-andrews I agree this looks like an overflow. Forgive the naive question, but does it make biological sense to want to try to handle such a large intron? To be honest my instinct would be to treat this as a bad input and filter out this read.

@nh13 Has any thought been put into setting specific thresholds for what size elements are acceptable in

[2015-04-26 22:28] evolvedmicrobe commented on #43
@vdauwera Thanks for following up on this!  It looks like the GATK fix resolves the problem just fine by maintaining that information through parse/write cycles, thanks!

[2015-04-26 23:00] yfarjoun commented on #183
It would be good to know what the differences are between 1.4 and 1.5 and
make sure (i.e. test?) that we actually support 1.5 before we do this...

no?

On Thu, Feb 26, 2015 at 4:57 PM, Jeremiah H. Savage <
notifications@github.com> wrote:

[2015-04-26 23:45] vdauwera commented on #183
You tell me, I don't have a sense of how much changes between spec versions. Would be awfully convenient if there was an official release corresponding to each version of the spec, with exotic things like, say, release notes spelling out the important differences.

[2015-04-27 08:08] jmarshall commented on #183
That would indeed be convenient (and is samtools/hts-specs#47), but like many convenient things it is temporarily thwarted by the existence of day jobs.

Fortunately a minute or two with `git log -S1.5 SAMv1.tex` brings you to samtools/hts-specs@80bc68f7619da60eaa4f43a16878c4675e930570, showing that **1.5** corresponds to the addition of the `0x800 SUPPLEMENTARY` flag and the `SA:Z` optional field

[2015-04-27 09:54] s-andrews commented on #196
I don't actually think this makes any biological sense, but if there are programs which are generating these long splices (which apparently there are) then the program should parse them correctly, or give a sensible error if the value is too long, rather than just overflowing.

Personally I'd have thought an int (31 bits) should be enough for this.  I don't know of any examples of individual chrom

[2015-04-27 10:06] jmarshall commented on #196
The practical limit on this is the way CIGAR is encoded in the BAM format.  It gets 28 bits: there is a `uint32_t`, but the bottom four bits are used to encode the `MIDN`… operator.

Your N operator has a length > 2<sup>27</sup> so sets the top/"sign" bit of that `unit32_t`, so probably the htsjdk bug is that it is doing an arithmetic shift to unpack the cigar length rather than a logical shift.

[2015-04-27 14:03] nh13 commented on #181
:+1:

[2015-04-27 14:03] nh13 commented on #209
Already done, added to the README.md.

[2015-04-27 14:03] #209 closed

[2015-04-27 14:21] nh13 commented on #183
@vdauwera given those two changes, we should have a test case that has a read with the `0x800 SUPPLEMENTARY` flag (see @jmarshall link above for a good example contained in the actual spec doc) and another read with the `SA:Z` optional field, and make sure that they pass ```ValidateSamFile```.  Those may already be there, given the spec

[2015-04-27 14:25] nh13 commented on #196
Looks like an arithmetic shift (```>>```) is being used rather than a logical shift (```>>>```): https://github.com/samtools/htsjdk/blob/master/src/java/htsjdk/samtools/BinaryCigarCodec.java#L84

@vdauwera looks like a bug to me, but we should also fix the other arithmetic shifts in this code too.

[2015-04-27 14:46] vdauwera commented on #183
Hah, fair enough. Those pesky day jobs. So thanks for the git trick, that's pretty handy!

Considering that commit is dated from 2013, I'm inclined to assume things are probably ok, but we can run a few tests to be sure. I guess we just need a bam snippet with a couple of supplementary alignments and the new field.

[2015-04-27 14:47] vdauwera commented on #183
Well, this will teach me to leave a comment unfinished and finally post it without looking for updates.

OK @nh13, we'll get this tested.

[2015-04-27 15:06] #176 closed

[2015-04-27 15:53] vdauwera commented on #196
Ah ok, thanks all for the very helpful clarifications. This looks like a very secon-friendly task.

I'll put in a separate task to find & fix other instances of injudicious arithmetic shifts since that's a broader scope than this particular bug fix.

[2015-04-27 15:55] nh13 commented on #196
@vdauwera only need to look for incorrect arithmetic shifts in this class as it affects the cigar decoding and encoding, so probably not worth another task.

[2015-04-27 15:58] vdauwera commented on #196
To be clear, the work for this issue consists of:

1. Fix the shift type that is causing the bug
2. Add a test to check that the test case included above gets handled correctly

[2015-04-27 16:00] vdauwera commented on #196
Oh I thought you meant throughout the codebase -- so it's just the operations on lines 50 and 86 then?

[2015-04-27 16:02] nh13 commented on #196
Ah, now you have made me think about it.  Line 50 shouldn't matter since it is shifting up not down.

[2015-04-27 19:09] vdauwera opened #229 "Increase number of likelihoods allowed in PL field"
Needed to fix https://github.com/broadinstitute/gsa-unstable/issues/937

There is a bug occurring in GATK (reported independently several times already) due to large numbers (hundreds) of alternative alleles in the processed loci in some users' GVCF files. Assuming there are N alleles in diploid organism, then VCF file stores N * (N - 1) / 2 likelihoods in the PL field. However, htsjdk reads only

[2015-04-27 19:58] nh13 commented on #229
@vdauwera gsa-unstable is not public, do you want to link that here?

[2015-04-27 20:12] vdauwera commented on #229
I'm including the link for the internal team's convenience. Unless it's frowned upon to do this, I don't see the harm?

[2015-04-27 20:19] nh13 commented on #229
It doesn't allow the community to comment or be involved when the details are hidden.

N

Thumb typed for added typos

[2015-04-27 20:22] vdauwera commented on #229
Well that's why I copied the issue description almost verbatim. There are no details hidden/missing.

If people want to see the original bug reports, see the support forum here: http://gatkforums.broadinstitute.org/discussion/comment/20470#Comment_20470

[2015-04-27 20:37] nh13 commented on #229
Perfect thank you!

Thumb typed for added typos

[2015-04-29 13:00] vadimzalunin commented on #124
fixed in https://github.com/samtools/htsjdk/pull/224

[2015-04-29 13:00] vadimzalunin commented on #148
fixed in https://github.com/samtools/htsjdk/pull/224

[2015-04-29 13:01] vadimzalunin commented on #151
hopefully fixed in https://github.com/samtools/htsjdk/pull/224

[2015-04-29 13:01] vadimzalunin commented on #152
added in https://github.com/samtools/htsjdk/pull/224

[2015-04-29 13:02] vadimzalunin commented on #222
Added tests for the sam file. Not sure if C-generated CRAM files should be added as well.

[2015-04-29 14:17] sndrtj commented on #214
Any more updates on this issue?

[2015-04-29 22:35] abaumann commented on #214
Sorry for the delay, this should be resolved by https://github.com/samtools/htsjdk/pull/215

[2015-04-30 14:02] sndrtj commented on #214
Oh wow, thanks!

[2015-04-30 22:24] vdauwera commented on #184
Folks, it looks like we have two solutions for the same problem here. Can we get a show of hands for what's preferred between #185 and #217?

[2015-04-30 22:26] vdauwera commented on #184
Umm, looks like I'm late to the party, #217 has been merged. Never mind.

[2015-05-04 16:00] niruchennagiri-claritas opened #234 "Subtracting one interval list from another"
I am trying to subtract one interval list from another using pseudo-code below:
IntervalList testIntervals1 = new IntervalList(someHeader);
testIntervals1.add(a-few-intervals);
IntervalList testIntervals2 = new IntervalList(someHeader);
testIntervals2.add(a-few-intervals);
IntervalList.subtract(testIntervals1, testIntervals2);

This should work according to the documentation but when I implement i

[2015-05-04 17:12] yfarjoun commented on #234
Hmm. there is a function with the signature you are looking for:

*public static IntervalList subtract(final IntervalList lhs, final
IntervalList rhs)*
perhaps you need to update your HTSJDK?

On Mon, May 4, 2015 at 12:00 PM, niruchennagiri-claritas <
notifications@github.com> wrote:

[2015-05-04 17:20] niruchennagiri-claritas commented on #234
The only version available on Maven is 1.118. Should that version have this method implemented?
Thanks.

[2015-05-04 17:31] yfarjoun commented on #234
I'm not sure why you are not seeing the other methods, but if you like you
can wrap your IntervalList's with a singelton:

Collections.singletonList(lhs)

Y.

On Mon, May 4, 2015 at 1:20 PM, niruchennagiri-claritas <
notifications@github.com> wrote:

[2015-05-04 18:06] lbergelson commented on #234
Version 1.130 is available in maven central.  [See here](http://search.maven.org/#artifactdetails%7Ccom.github.samtools%7Chtsjdk%7C1.130%7Cjar)

if you're using maven this is the right dependency to use

[code]

[2015-05-04 18:09] niruchennagiri-claritas commented on #234
Thanks.
I got the above maven repository and my code is below:
IntervalList test1 = new IntervalList(new SAMFileHeader());
        test1.add(new Interval("chr1", 1000, 2000));
        IntervalList test2 = new IntervalList(new SAMFileHeader());
        test2.add(new Interval("chr1", 900, 2000));

       IntervalList minus1 = IntervalList.subtract(test1, test2);
        IntervalList minus2 = Interva

[2015-05-04 18:32] yfarjoun commented on #234
Yes, this seems to indicate that more input checking is required...please
add "chr1" to your header (and use the same header for both lists).

On Mon, May 4, 2015 at 2:09 PM, niruchennagiri-claritas <
notifications@github.com> wrote:

[2015-05-05 13:19] niruchennagiri-claritas commented on #234
It worked after I supplied the header. Thanks for your help.

[2015-05-05 13:38] #234 closed

[2015-05-05 13:39] yfarjoun opened #236 "IntervalList doesn't check"
That added intervals have sequences that are in the header.

I think that it should have this test. Any objections?

[2015-05-05 17:36] vdauwera commented on #229
@ronlevine is taking this one via fork

[2015-05-05 21:15] ronlevine commented on #229
Do you have the original input variant from the user?

[2015-05-05 21:23] vdauwera commented on #229
Yep, see filepath in https://github.com/broadinstitute/gsa-unstable/issues/856

[2015-05-06 22:56] ronlevine commented on #229
Work being done on the fork https://github.com/ronlevine/htsjdk.git on the branch rhl_increase_num_likelihoods.

[2015-05-07 13:40] ronlevine commented on #229
Added the pull request from the fork: https://github.com/samtools/htsjdk/pull/241

[2015-05-08 13:38] vdauwera commented on #196
@s-andrews Do we have your permission to use your bam snippet in the integration test set?

[2015-05-08 14:14] johnwallace123 commented on #229
I've also been hit by this issue, and I was wondering if it's worthwhile to add a split method in the ParsingUtils that returns its tokens via Vector<String>.  This would allow theoretically unlimited splitting with the same efficiency (given careful preallocation).  The downside is that wherever we want to utilize theoretically unlimited splitting, we would need to change the function call.

I've

[2015-05-08 14:19] ronlevine commented on #229
This seems like it's reinventing the wheel. From org.apache.commons, we already have commons-jexl, why not commons-lang3? It's a powerfull library and would save a lot of coding effort in the future.

[2015-05-08 14:32] johnwallace123 commented on #229
Can't say I disagree with you on that front.  It's not a terribly difficult
function to add, but I don't want to have to write all those test cases!  I
assumed that there was a specific need to implement the ParsingUtils.split,
but it's possible that the commons-lang3 library obviates that need.  I
have seen in the past that rewriting a text parser incorporating
assumptions can be substantially fa

[2015-05-09 15:38] nenewell commented on #181
CountRecords.getFeatureCodec() in tribble.example returns an OldDbSNPCodec for .snp and .rod feature files. How should we handle? Just comment out the if statement as was done for VCFCodecs and SoapSNPCodecs in this method? Thank you.

[2015-05-11 17:57] bpow commented on #229
Note that the issue of having a custom `StringUtils.split` instead of using `String.split` for performance reasons is likely moot in versions of java from 7 and beyond, so when support for jdk 6 is dropped this code can be substantially cleaned up (see my comment in #246 )

[2015-05-11 18:05] vdauwera commented on #236
:+1:

[2015-05-11 18:49] vdauwera commented on #181
Yes, please comment out those lines in the same way. Usually we'd delete rather than comment out but in this case I think it's probably good to have a conveniently accessible record of the different formats (as opposed to having it buried in the git history).

[2015-05-11 19:03] nenewell commented on #181
Will do.

From: Geraldine Van der Auwera
Sent: Monday, May 11, 2015 2:49 PM
To: samtools/htsjdk
Cc: nenewell
Subject: Re: [htsjdk] OldDbSNPFeature uses 0-based locations (#181)

Yes, please comment out those lines in the same way. Usually we'd delete rather than comment out but in this case I think it's probably good to have a conveniently accessible record of the different formats (as opposed to

[2015-05-13 14:51] #229 closed

[2015-05-13 14:56] droazen opened #250 "VCFHeader class design is unsafe"
The current version of the `VCFHeader` class maintains a master list of header lines (`mMetaData`) plus type-specific lookup tables for each kind of header line. This design is unsafe and a source of bugs (we've already seen one!), as the various views into the header data are prone to getting out of sync, and the various accessor methods are not consistent in the views they access (some rely on t

[2015-05-13 14:58] droazen opened #251 "VCFHeader should not strip version lines"
Currently `VCFHeader` strips out version line(s) at construction, and then SOME of the accessor methods add a VCF 4.1 header line back in on-demand. This is incredibly poor design -- if we want to version output headers to VCF 4.1, that should be done in `VariantContextWriter`, not `VCFHeader`.

[2015-05-13 21:07] #197 closed

[2015-05-13 21:08] #214 closed

[2015-05-13 21:08] #187 closed

[2015-05-18 16:58] james-d opened #253 "Javadocs for htsjdk.variant.* packages need formatting"
Many of the javadocs for the htsjdk.variant package and subpackages are not properly formatted. In some cases this leaves them almost unusable. Just as an example: http://samtools.github.io/htsjdk/javadoc/htsjdk/htsjdk/variant/variantcontext/writer/VariantContextWriterBuilder.html

[2015-05-18 20:21] james-d commented on #250
Just a comment: implementations of the type-specific (and key-based) accessor methods (`getContigLines()`, etc) will be substantially cleaner (and potentially quicker) using Java 8 API. Since it is relatively close (< 5 months) to the projected end of support for Java 7 in this project, perhaps it makes sense to wait until then to change the implementation.

[2015-05-19 07:12] d-cameron opened #255 "VariantContextBuilder does not perform a deep copy"
When using VariantContextBuilder to create a new variant based on an existing variant, the underlying objects and collections are not copied nor are they wrapped with copy-on-write semantics. Making changes to a copied variant change the original variant as well.

Failing unit test for VariantContextUnitTest.java
[code]

[2015-05-19 10:59] yfarjoun commented on #255
attributes *are* protected against this, I guess filters need the same
treatment.

On Tue, May 19, 2015 at 3:13 AM, Daniel Cameron <notifications@github.com>
wrote:

[2015-05-19 12:01] d-cameron commented on #255
Yes, attributesCanBeModified does look pretty obvious when reviewing the code again. Depending on when GenotypesContext is/is not immutable, genotypes *might* also be an issue.

[2015-05-19 19:45] mattsooknah opened #256 "Bug in DuplicateScoringStrategy"
DuplicateScoringStrategy.compare() compares two records, essentially returning score(rec2) - score(rec1). However, it has:

[code]

The signs are flipped. Luckily, the only place where this method is called (in MarkQueue) does the correct version of the comparison earlier on, so currently I think this is a no-op bug. But it should still be fixed.

[2015-05-20 15:41] lbergelson commented on #250
Everything will be better once java 8 is here!

[2015-05-23 02:56] #196 closed

[2015-05-23 02:57] vdauwera commented on #196
Thanks Nick!

[2015-05-23 03:02] #181 closed

[2015-05-23 03:19] #184 closed

[2015-05-23 03:21] vdauwera commented on #175
I am also interested in this. What needs to happen to make this happen *soon*?

[2015-05-27 17:01] vdauwera opened #257 "Change of HashMap to LinkedHashMap in AbstractSAMHeaderRecord.java may be responsible for major slowdowns in GATK tools"
A GATK user is complaining that a job that took 19 hours with GATK 3.3 is now taking 75 hours with 3.4 (reproducibly, not a system issue), and has tentatively traced the runtime increase to SAMReadRecordGroup.

@jacarey suggests the following change in AbstractSAMHeaderRecord may be responsible:

    -    private final Map<String,String> mAttributes = new HashMap<String, String>();
    +    privat

[2015-05-27 17:50] droazen commented on #257
Discussed in person, but going to go on record here as expressing my skepticism that this change could be responsible for the performance regression -- `LinkedHashMap` adds only a small amount of overhead to the basic `HashMap`, and is actually faster for some operations (such as iterating over all the elements in the map, which is something that `Map.equals()` does).

Recommend running a profiler

[2015-05-28 14:03] jacarey commented on #222
https://github.com/samtools/htsjdk/pull/258

This has been rebased to master and is undergoing final review.

[2015-05-28 14:04] jacarey commented on #150
https://github.com/samtools/htsjdk/pull/258
Is up to date with java standards for variable names and style.

[2015-05-28 14:04] #150 closed

[2015-05-28 14:04] jacarey commented on #152
https://github.com/samtools/htsjdk/pull/258

Cram code coverage is 89%

[2015-05-28 14:04] #152 closed

[2015-05-28 14:04] jacarey commented on #151
https://github.com/samtools/htsjdk/pull/258

All set and ready to go.

[2015-05-28 14:04] #151 closed

[2015-05-28 19:49] kshakir commented on #175
I'll touch base on Monday. Setup is on the same order of magnitude as the existing Maven Central releases. One can publish pre-releases and/or snapshots. As htsjdk if foss, the repo can be sonatype, or use our artifactory.broadinstute.org. Search "artifactory" on the dsde wiki for a little more info for now.

[2015-05-29 15:50] vdauwera commented on #257
User has proposed a patch to GATK that seems to resolve the problem, so I'm closing this and following up in GATK

[2015-05-29 15:50] #257 closed

[2015-05-29 16:09] vdauwera commented on #175
Looking fwd to this happening! We are in need of this right now for the issue referenced above.

[2015-06-01 14:21] holtgrewe opened #261 "Unexpected behaviour when parsing lists in INFO field"
I have a VCF file with an `INFO` field that has `A` many values, but these values can be empty, as demonstrated below. Reading this with HTSJDK leads to the `FI` and `FS` fields having one atomic value instead of a list of two values.

Is this intented behaviour?

[code]

[2015-06-05 19:07] akiezun commented on #192
Can you at least modify the signature so that clone() returns a SAMRecord? (long time ago, return types in java were invariant (had to match superclass) but they can be covariant now (can be subtypes of what the superclass says))

[2015-06-05 19:13] akiezun commented on #192
also the signature says `throws CloneNotSupportedException` which I think can never happen so put undue burden on the caller. I have to both type cast and handle the exception (that is never thrown so the current code in htsjdk makes me write dead code)

[2015-06-05 21:57] dmyersturnbull opened #265 ""NoSuchElementException: None.get" on sbt build"
When I run `sbt compile` on release 1.133 using sbt 0.13.8, Java 1.8.0_25 and Scala 2.11.6, I get:

[code]

Running `ant htsjdk-jar` completes successfully.

[2015-06-08 19:29] droazen commented on #175
Any word on this?

[2015-06-08 20:10] kshakir commented on #175
I pinged GG last week with the following:

Once the above is resolved, that person just needs to point the build at the right `-SNAPSHOT` or `release` repo: http://central.sonatype.org/pages/ossrh-guide.html#accessing-repositories

[2015-06-08 20:22] kshakir commented on #175
By the way, if that mystery publisher hasn't already setup a shared credential that can be put into travis/jenkins/etc., it should be possible to create one with a few steps.

Here are a few example links I came across that touched on somewhat similar setups:
* https://gist.github.com/neothemachine/4060735
* http://benlimmer.com/2014/01/04/automatically-publish-to-sonatype-with-gradle-and-travis-c

[2015-06-09 05:42] vdauwera commented on #175
Oops, sorry for the radio silence, that's my bad. To answer the questions, I don't know who currently pushes releases but I thought it might be @jacarey; and I assume we would want the -SNAPSHOT versioning.

[2015-06-09 14:49] lbergelson commented on #175
I'm strongly in support of individual versions per commit.

[2015-06-09 14:56] vdauwera commented on #175
I happily defer to the expertise of my learned colleague

[2015-06-09 15:28] kshakir commented on #175
Btw, click [here](https://broadinstitute.atlassian.net/wiki/display/DSDE/Versioning#Versioning-ContinuousIntegration) for the `sbt` based code snippet for generating a `git` based pre-release version suffix per commit. Similar exists for Maven[[1](https://github.com/broadgsa/gatk/blob/616e6962c6d5644ef80fa3258ee561beaf294c87/public/gatk-root/pom.xml#L606)][[2](https://github.com/broadgsa/gatk/blob

[2015-06-10 20:51] lbergelson commented on #265
Hi @dmyersturnbull.  Thanks for the report.

`ant` is the currently supported build tool for htsjdk.    The `sbt` build is used for publishing the build to maven central and isn't tested for other purposes.  It's confusing to have both build files in there, and it's possible that `sbt` will be fully supported in the future, but for now just use `ant`.

[2015-06-10 20:56] lbergelson commented on #175
@kshakir thanks for the pointer to the DSDE wiki.  It turns out it's rather easy to publish to the artifactory thanks to your tutorial.

I think snapshots would be OK if they were per branch.  I think that ideally, builds should be entirely repeatable, and snapshots break that assumption.

[2015-06-16 14:34] nh13 commented on #256
https://github.com/samtools/htsjdk/blob/919e901557258db71501d825a4aaeb031759e76e/src/java/htsjdk/samtools/DuplicateScoringStrategy.java#L94

[2015-06-18 16:24] tfenne opened #269 "ReferenceSequenceFileWalker uses IndexedFastaSequenceFile which is rather inefficient"
I'll start by saying that I'm happy to submit a PR for this, but am looking to have a bit of discussion about the right way to fix the problem first.

I'm running into problems where Picard's CollectMultipleMetrics (and other programs) are running very slowly on one system that I have access to.  Running on a tiny BAM (2MB) CollectMultipleMetrics is taking over half an hour on the system I'm havin

[2015-06-18 16:54] lbergelson commented on #269
Would [CachingIndexFastaSequenceFile](https://github.com/broadinstitute/hellbender/blob/af16a71d2c76c57d00112da3694f8e5fcd0e1b73/src/main/java/org/broadinstitute/hellbender/utils/fasta/CachingIndexedFastaSequenceFile.java) help with this?  We're happy to push it down to htsjdk.  It caches chunks of reference so iterating over the whole file in order is very fast.

[2015-06-18 17:01] tfenne commented on #269
Taking a quick look, I don't think it would help.  The reference is read only once in the use case described, but that the code in IndexedFastaSequenceFile is very inefficient if you want to just load all of each chromosome in order.  It looks like CachingIndexFastaSequenceFile delegates the actual I/O to IndexFastaSequenceFile but then puts a cache around it, so I can't see that helping unfortuna

[2015-06-18 18:04] nh13 commented on #269
Is there a possibility of increasing the read size from 128kb?  In any case, it seems like having control over configuring the factory before returning a walker seems reasonable.

[2015-06-22 11:28] tfenne commented on #269
@nh13 Upping the buffer size doesn't help much.  Running some tests this morning, using the streaming read from the non-index fasta reader my test takes ~30 seconds; using the indexed reader and the default 128kb buffer takes 6 minutes; upping the buffer to 4MB (about as high as I'm willing to go since it effects all buffers in samjdk) still took 6 minutes.

I'll take a look at changing the factor

[2015-06-23 20:45] nenewell opened #272 "SamRecord.IsValid() improperly raises errors for singleton reads"
SamRecord.IsValid() raises errors when a read with FLAG 0x1 unset (an unpaired read) has FLAG 0x2
(proper pair), 0x8 (mate unmapped), 0x20 (mate reversed), 0x40 (first read), or 0x80 (second read) set.
But the SAM file specification states that if 0x1 is unset, no assumptions can be made about the other
FLAGs listed, so these conditions should be ignored. Please see hellbender issue 569 for a disc

[2015-06-23 20:50] nh13 commented on #272
Please see this: http://broadinstitute.github.io/picard/sam-differences.html

Also, is hellbender supposed to be mentioned in a public issue tracker?

[2015-06-23 21:19] tfenne commented on #272
This is an issue that has been debated many times, with the Broad/Picard/HTSJDK group preferring to "validate" common sense things that are not part of the specification and the Sanger/Samtools/HTSLIB folks preferring a free-er interpretation that anything that is not specified is allowable.  I'm in the former camp and believe that in the vast majority of cases having flags that refer to the mate

[2015-06-23 21:56] lbergelson commented on #272
I think we should support as much of the spec as possible, but if the spec allows nonsense then the spec should be changed to disallow it.

https://github.com/samtools/hts-specs/pull/92

[2015-06-23 22:09] nenewell commented on #272
Thanks very much for your response. I agree that the data in a record should make sense and be consistent – that’s the spirit of the change we’ll be submitting to google – a read shouldn’t be flagged as mate unmapped if its not even paired. I’d be interested to see what the consensus is on your idea of relegating these checks to “STRICT” – the idea of having STRICT enforce consistency and common s

[2015-06-23 22:11] nenewell commented on #272
Looks great!

From: Louis Bergelson
Sent: Tuesday, June 23, 2015 5:56 PM
To: samtools/htsjdk
Cc: nenewell
Subject: Re: [htsjdk] SamRecord.IsValid() improperly raises errors for singleton reads (#272)

I think we should support as much of the spec as possible, but if the spec allows nonsense then the spec should be changed to disallow it.

samtools/hts-specs#92

—
Reply to this email directly or vi

[2015-06-24 00:36] nenewell commented on #272
Thanks for all input. We'll pursue this through the google route.

[2015-06-25 03:46] kshakir commented on #175
So I was mistaken about Sonatype hosting pre-releases that one could take down after release.

I thought there was an intermediary step between the OSSRH repo, and the HTSJDK pre-release being pushed to Central. It turns out the intermediary step is _before_ the artifact reaches the OSSRH release repo.

-- http://central.sonatype.org/pages/releasing-the-deployment.html

-- http://central.sonatype.

[2015-07-01 21:52] dfsurdyk opened #274 "Genotype.getAnyAttribute incorrectly handles converting int[] to List<Integer>"
Both getAD() and getPL() return an int[], and doing ```Arrays.asList(int[])``` will return a ```List<int[]>``` instead of ```List<Integer>```.

https://github.com/samtools/htsjdk/blob/master/src/java/htsjdk/variant/variantcontext/Genotype.java#L544

[2015-07-02 13:43] nh13 commented on #274
```Arrays.asList(int[])``` **will** return `` List<Integer>```, so I am closing this issue.

[2015-07-02 13:45] nh13 commented on #274
Wow, I am **so** wrong.

[2015-07-02 19:43] lbergelson opened #276 "Builds are failing a lot because of failed FTP tests"
All of the tests that make FTP connections seem to be failing at a very high rate since I switched us to travis container builds.  I'm talking with travis to figure out what is going on, but we might want to switch back to non-container build until it's resolved.

[2015-07-02 19:50] jacarey commented on #276
These tests have always been a bit fritzy. Ideally we should have an embedded ftp server that comes up and serves files locally. I wouldn't be surprised if we are hitting some kind of connection throttling on the ftp server (I think we open and close a connection with each test)

[2015-07-02 19:54] droazen opened #277 "VCFHeader class should allow multiple "other metadata" lines with the same key to be added"
The proposed VCF 4.3 spec (https://github.com/samtools/hts-specs/pull/88) adds some clarifications regarding uniqueness of header lines. Specifically, "structured" lines that have their value enclosed with "<>" must have an ID attribute that is unique within their type (contig, filter, etc.), however the actual keys for header lines (this is the part before the first "=" sign, eg., "comment" in "#

[2015-07-02 19:55] droazen commented on #277
This ticket is for @nenewell (unfortunately github won't let me assign it to you explicitly).

[2015-07-02 20:03] droazen opened #278 "SamReader.queryUnmapped() does not return all unmapped reads"
`SamReader.queryUnmapped()` does not return all unmapped reads -- specifically, it does not return unmapped reads that have a mapped mate, and are assigned the position of their mate. This appears to be a consequence of `BAMFileIndexUnmappedIterator` checking the reference index of records rather than the read unmapped flag.

We are probably not at liberty to change the semantics of this method, s

[2015-07-02 20:03] droazen commented on #278
This ticket is also for @nenewell

[2015-07-03 00:54] tfenne commented on #278
I'd suggest calling such a method something like `SamReader.unmappedIterator()` instead of `SamReader.queryAllUnmapped()`.  The reason being that in order to return all unmapped reads you'll need to iterate over the entire file, and I think the `query` prefix tends to imply use of the index and a more efficient operation.

[2015-07-08 02:30] kshakir commented on #175
Credentials are now available as environment variables for "local" builds, aka [not in pull requests](http://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings).

The next steps to be done are wiring a script (sbt, bash, or otherwise) to use these environment variables, and publish the artifacts on each successful build if the [`${TRAVIS_BRANCH}`](http://docs.

[2015-07-17 14:56] ldgauthier commented on #175
@kshakir are you going to have any time in the immediate future to put into this? There's a GATK issue I was going to assign to one of our assoc. comp bios that needs an htsjdk update and it would be a little more approachable if it didn't need a merge to htsjdk master in the middle.

[2015-07-20 15:10] lbergelson commented on #276
Should we move tests to use something like http://mockftpserver.sourceforge.net/ ?

[2015-07-20 15:45] #276 closed

[2015-07-24 06:37] vadimzalunin commented on #278
I agree with Tim, all-unmapped reads can only be iterated.
On 3 Jul 2015 01:54, "Tim Fennell" <notifications@github.com> wrote:

[2015-07-27 23:11] lbergelson opened #290 "Start brainstorming updates for the switch java 8"
I think it would be a good time to start compiling at list of compelling TODO's for the upcoming transition to java 8.  This might also be a good time to think about areas of the API that have become outdated and could be updated.

Some thoughts:
+ Refactor the `SamRecordFilter` to be a functional interface with a default implementation of `filterOut(first, second)`.
+ Remove all pre-java 8 date/t

[2015-07-30 19:05] vdauwera opened #291 "Update VCF version header line to 4.2"
Originally raised in http://gatkforums.broadinstitute.org/discussion/5893/gatk-3-4-46-producing-v4-2-vcfs and discussed in https://github.com/broadinstitute/gsa-unstable/issues/1084

In a nutshell: we are now emitting VCFs that have features introduced in the 4.2 version. We should update the version header line accordingly.

Relevant code is right at the top of VCFWriter.java

[2015-07-31 01:34] nh13 commented on #291
@vdauwera see #292

[2015-08-03 16:55] droazen opened #296 "SamReaderFactory does not pass discovered index files into CRAMFileReader"
If a *.bai index is found for a cram file via the `SamFiles.findIndex()` call in `SamReaderFactory.open()`, that index file does not propagate to the `CRAMFileReader` returned from `open()` (unlike the `BAMFileReader` case, where the index is passed in to the reader).

[2015-08-06 13:25] akiezun opened #297 "SAMRecord with no bases blows up on toString"
htsjdk 1.137
`toString()` should never blow up.
But it does blow up for a SAMRecord with no bases. The stacktrace is:
`java.lang.NullPointerException
    at htsjdk.samtools.SAMRecord.getReadLength(SAMRecord.java:232)
    at htsjdk.samtools.SAMRecord.toString(SAMRecord.java:1768)
`

And the culprit is `return getReadBases().length;`

[2015-08-11 20:07] kshakir commented on #175
First build is up, and should work for maven, sbt, gradle, ivy, leiningen, et al.

https://artifactory.broadinstitute.org/artifactory/libs-snapshot/com/github/samtools/htsjdk/1.137-bf78837-SNAPSHOT/

I believe this issue is complete.

[2015-08-11 20:20] jacarey commented on #175
And our first 1.138 snapshot too! Looks good @kshakir

[2015-08-11 20:29] vdauwera commented on #175
Thanks @kshakir!

[2015-08-11 20:29] #175 closed

[2015-08-12 13:51] droazen commented on #296
This was resolved in https://github.com/samtools/htsjdk/pull/299

[2015-08-12 13:51] #296 closed

[2015-08-12 13:52] droazen commented on #291
Resolved in https://github.com/samtools/htsjdk/pull/292

[2015-08-12 13:52] #291 closed

[2015-08-22 06:50] covingto opened #310 "htsjdk intermittent indexed fasta read errror"
I had an issue with intermittently getting an exception from htsjdk.samtools.reference.IndexedFastaSequenceFile:

htsjdk.samtools.SAMException: Sequence dictionary and index contain different numbers of contigs or htsjdk.samtools.SAMException: Unable to get ...

the problem was that I was querying in a thread and calling thread interrupt which was interrupting the retrieval of data.  The interrupt

[2015-08-26 16:53] droazen opened #314 "TestNG verbosity change hides test failures"
In https://github.com/samtools/htsjdk/pull/306, `testng.verbosity` in `build.xml` was changed from 2 to 1 to prevent the logs from hitting the travis log file size limit. Unfortunately, now we can no longer see which tests are actually failing (with the corresponding stack trace) when there are test failures.

We may need to implement a custom TestNG listener to get the level of verbosity we want.

[2015-08-27 14:24] yfarjoun commented on #314
I will not be able to get to this for at least 10 days. if you think this
is more urgent then that, let me know.

On Wed, Aug 26, 2015 at 12:53 PM, droazen <notifications@github.com> wrote:

[2015-08-31 20:32] dariober opened #316 "Usage of SAMRecord.validateCigar"
Hello,
I'm surely missing something trivial here... I can't make `validateCigar` to actually capture errors in a `SAMRecord`. In the example below I create a `SAMRecord` with nonsensical cigar. Still, `validateCigar` returns null instead of a list of errors. This is on htsjdk-1.130 and Java 1.6.

Thanks!
Dario

[code]

[2015-09-11 10:28] mp15 opened #322 "uint32_t is a valid BAM type but blows up CRAM"
[code]

This line from the standard Samtools test suite blows up HTSJDK and thus GATK. Given that Java 8 has explicit support for unsigned arithmetic on the Integer type it might be good to fix this. I am told it originates here:
https://github.com/samtools/htsjdk/blob/3d13016bef282595328d4eb6eed9c71d885a0347/src/java/htsjdk/samtools/cram/structure/ReadTag.java#L380

[2015-09-11 10:32] mp15 commented on #322
Specifically I suggest you use:
http://docs.oracle.com/javase/8/docs/api/java/lang/Integer.html#parseUnsignedInt-java.lang.String
When you do migrate to 8 but in the mean time use a long?

[2015-09-23 19:07] mattsooknah opened #329 "SequenceUtil.calculateMdAndNmTags does not match other methods"
As part of the CRAM support, the ```SequenceUtil.calculateMdAndNmTags``` method was added. However it uses a different algorithm for calculating mismatches than, say, ```SequenceUtil.countMismatches```.

Is there a good reason for having a separate implementation (performance, consistency with samtools, etc)? @vadimzalunin / @jacarey ?

If not, I suggest consolidating the code.

[2015-09-23 19:17] mattsooknah opened #330 "Remove deprecated methods in SequenceUtil"
SequenceUtil contains deprecated versions of the following methods:
- countMismatches
- sumQualitiesOfMismatches
- calculateSamNmTag

The main difference is that `referenceBases` is passed in as a `char[]` in the deprecated versions, rather than a `byte[]`. Due to the structure of the code, it is not easy to factor out the internal logic without a performance hit, so the code is mostly duplicated

[2015-09-23 20:57] jrobinso opened #331 "bug: hasBlockCompressedExtension fails for URLs with parameters"
The method "AbstractFeatureReader.hasBlockCompressedExtension" does not take into account url parameters and thus fails for resources such as the following because it doesn't end in ".gz"

https://www.googleapis.com/download/storage/v1/b/deflaux-public-test/o/NA12877.vcf.gz?alt=media

[2015-09-23 21:37] jrobinso commented on #331
The following version of the method fixes the problem

    public static boolean hasBlockCompressedExtension(final String path) {

        final String fileName = (path.startsWith("http://") || path.startsWith("https://")) ?
                path.split("\\?", 2)[0] :
                path;

        for (final String extension : BLOCK_COMPRESSED_EXTENSIONS) {
            if (fileName.toLowerCase().en

[2015-09-24 03:57] jrobinso opened #332 "Test for gzip extension fails for URLs with parameters"
Thi similar to bug #331,  but in a different location:  class WFIterator in TribbleIndexedFeatureReader.  There is a test path.endsWith(".gz")  that will fail for URLs such as
https://www.googleapis.com/storage/v1/b/deflaux-public-test/o/bed_chr_17.bed.gz?alt=media

[2015-09-24 03:59] jrobinso opened #333 "Test for gzip extension fails for URLs with parameters"
Thi similar to bug #331,  but in a different location:  TribbleIndexedFeatureReader.  There are tests of the form  path.endsWith(".gz")  that will fail for URLs such as
https://www.googleapis.com/storage/v1/b/deflaux-public-test/o/bed_chr_17.bed.gz?alt=media

[2015-09-24 04:00] jrobinso commented on #333
Duplicate

[2015-09-24 04:00] #333 closed

[2015-09-24 13:18] eitanbanks commented on #330
If they are deprecated AND not being supported (so are out-of-date) then my vote would be to remove.  It's much more dangerous to keep them around as people might still be using them.

[2015-09-28 16:04] vadimzalunin opened #337 "CI failed: github unavailable"
travis/push failed on the branch https://github.com/samtools/htsjdk/pull/336

fatal: unable to access 'https://github.com/samtools/htsjdk.git/': Couldn't resolve host 'github.com'

is this an intermittent issue?

[2015-09-28 16:30] lbergelson commented on #337
It should be.  I've restarted the build manually.

[2015-09-28 16:31] lbergelson commented on #337
Closing this since it seems to have gone beyond that point in the rebuild.

[2015-09-28 16:31] #337 closed

[2015-10-01 23:23] raduvanciu opened #340 "decodeInts return null for PL/GL containing dots"
When dealing with multiple samples, ``bcftools merge`` fills in the genotype PL field with '.' constants to account for samples  where the variant is not present.

When the method ``decodeInts`` parses a PL field that has dots it return null.

For example,  ``decodeInts("146,.,.,0,.,40")`` returns ``null``
Instead, it should return:
``[146,2147483647,2147483647,0,2147483647,40]``
or some other val

[2015-10-02 02:38] yfarjoun commented on #340
Hi raduvanciu ,

I do not see in the vcf-spec any discussion of missing values in a integer
array. Is there something I missed, or are you proposing a change to the
spec? Perhaps bcftools should emit the value you consider as "reasonable"
instead?

Cheers,

Yossi.

On Thu, Oct 1, 2015 at 7:23 PM, raduvanciu <notifications@github.com> wrote:

[2015-10-02 08:43] vadimzalunin opened #341 "Unexpected failures in travis: not a regular file: /dev/null"
See build errors in https://github.com/samtools/htsjdk/pull/339

Basically build seems to fail on things unrelated to the PR:
Cannot create MD5 file for BAM because output file is not a regular file: /dev/null
Cannot create index for BAM because output file is not a regular file: /dev/null

[2015-10-02 09:36] jmarshall commented on #340
@yfarjoun: §6.3.3: _For each integer size, the value with all bits set\[[sic](https://github.com/samtools/hts-specs/issues/102)\] (0x80, 0x8000, 0x80000000) for 8, 16, and 32 bit values, respectively) indicates that the field is a missing value._  See also the imminent VCF v4.3 spec for additions in this area.

[2015-10-02 10:39] yfarjoun commented on #340
hmmm. given that section 6 is for BCF encoding, I'm not sure it applies in
general. There should be a vcf comment about this, I think.

On Fri, Oct 2, 2015 at 5:36 AM, John Marshall <notifications@github.com>
wrote:

[2015-10-02 10:50] jmarshall commented on #340
In general, things that are expressible in one of VCF/BCF are also expressible in the other; if not, that's a bug.

§1.4.1 (Fixed fields) surely suffices:  _In all cases, missing values are specified with a dot (‘.’)._  You may wish to raise an issue pointing out that it should be clarified that this applies to genotype fields.

[2015-10-02 11:04] yfarjoun commented on #340
I am aware of the missing field, but here the request is that we interpret
a missing part of a non-missing field as something else.

Even in the BCF case it is implementation dependent (depending on the
number of bytes given to the field) but in vcf it is unspecified (and
indeed not mentioned) therefore, I surmise that an array of values in vcf
that has missing values in it, is not a missing value

[2015-10-02 11:24] jmarshall commented on #340
The text I quoted says _missing values_, not _missing field_.  Please also contemplate the `HQ` array at position 14370 in the example in §1.1 of the spec.

Anyway, the point is that this is what `bcftools merge` does, and it believes it is emitting valid VCF.

So either htsjdk needs to deal with it, or you need to convince the bcftools maintainers that they're wrong — if the latter, please explai

[2015-10-02 13:14] yfarjoun commented on #340
John,

position 14370 has both values missing, which is equivalent to having the
whole field missing, I do not think that this is a good example for the
matter at hand.

The text that you quoted was for fixed fields, in which case value and
field is the same thing..This is exactly the issue here, so I do not think
that it clarifies things. I agree that PL field for the mixed genotypes is
hard to f

[2015-10-02 15:14] raduvanciu commented on #340
John and Yossi,

Thank you for looking into this.

You raised some interesting points:
1. using maximum for a missing value  works only for PL.  One solution may be to add a parameter to decodeInts that represents the missing value. In the case of AD, ``-1`` might work.
2. The patch must distinguish between missing values vs. missing fields. That is a nice catch. ``decodeInts(".")`` should return

[2015-10-02 16:11] jmarshall commented on #340
It's not a great example of the question at hand, but nonetheless I'm sure you noticed that the spec has written it as `1/1:43:5:.,.` rather than `1/1:43:5:.`

The text I quoted was for fixed fields including the INFO field, where certainly value and field are not necessarily the same thing.  You should consider that what applies to INFO applies in general to genotype fields; and again, you may wi

[2015-10-08 16:10] yfarjoun opened #346 "makeReadUnmapped in SamUtils creates possibly out-of-spec Sam files."
SamUtil.makeReadUnmapped() unsets the setNotPrimaryAlignmentFlag thereby possibly creating two records that are both primary, have the same query name and are "first in pair".

This seems to be out of spec with regards to section "1.2 Multiple mapping" in the sam-spec.

I would like to remove the line that unsets the "NotPrimaryAlignment" flag.

Any comments?

@lh3 ?

[2015-10-08 16:33] tfenne commented on #346
I think not having the method clear the "Not Primary Alignment" flag would also be weird though.  Because it makes no sense to have an unmapped read marked as not primary alignment.  I would suggest either:
a) It's the caller's responsibility to ensure that, when using this method, multiple reads with the same name and pair flags don't end up getting written to the same file, or
b) Add a check in

[2015-10-08 16:39] mattsooknah commented on #346
Also, currently ```SAMRecord.isValid()``` will throw a validation error if it finds unmapped reads with the secondary or supplementary flags set:
https://github.com/samtools/htsjdk/blob/b1a05dbaa32006f492ef52922c8e8dfeac5056da/src/java/htsjdk/samtools/SAMRecord.java#L1627

It's not clear if this is the correct behavior, since the SAM spec indicates that "If 0x4 is set, no assumptions can be made a

[2015-10-08 16:49] tfenne commented on #346
@mattsooknah regarding `SAMRecord.isValid()` we made the decision long ago to "validate" more rigorously than the spec suggests, as it is often very helpful in finding bugs and problems.  The goal (not always correctly hit) is that validating at ValidationStringency.Strict should check for spec violations and additional problems/errors, and that Lenient should check only what's in the spec.

[2015-10-08 17:20] mattsooknah commented on #346
In that case, I'd prefer clearing the secondary and supplementary flags, so that  ```makeReadUnmapped``` is compliant with ```ValidationStringency.Strict```. And make it the caller's responsibility to deal with any duplication issues that arise as a result.

[2015-10-08 20:45] yfarjoun commented on #346
thanks!

[2015-10-08 20:45] #346 closed

[2015-10-08 20:46] yfarjoun commented on #346
thanks for the discussion. will not change behaviour and will fix the split with supplemental (that is what instigated this issue, behind the scenes...)

[2015-10-10 12:19] tfenne opened #347 "Histogram caches computed mean, but does not recompute after all changes"
`Histogram`'s `getMean()` method caches the result in an instance variable.  An attempt is made to nullify the cached value when the histogram is mutated, but the attempt is not completely successful.  Since `Histogram` extends `TreeMap`, one can call methods like `remove()`, `clear()` etc. and after these calls the result of calling `getMean()` is incorrect.  It looks like even the `trimBy..()` m

[2015-10-10 12:19] tfenne commented on #347
@nh13 @yfarjoun What do you think?

[2015-10-10 16:26] nh13 commented on #347
I am trying to figure out why its even there.  Like you said, other values are not cached.  I thought for second that perhaps because there is a copy constructor, but that isn't used anywhere in Picard for example.  On the other hand, ```getStandardDeviation``` needs to use ```getMean``` so we would be computing the mean twice (see ```insertSizeMetricsCollector```).  Seems like a pre-mature optimi

[2015-10-11 13:19] yfarjoun commented on #347
I looked in our usages of Histogram.mean() and I only see places where the
current implementation may cause problems if someone add a call to mean
earlier in the code. I do not see anywhere that it would actually improve
runtime.

I agree that this should either be done right (by reimplementing all the
TreeMap functions to invalidate the cache, and also all the other member
functions that change t

[2015-10-13 12:47] superbobry commented on #124
This seems to be implemented. Close?

[2015-10-13 13:12] superbobry opened #349 "CRAIEntry overflow"
I have a 25G CRAM file indexed by [`cramtools`](https://github.com/enasequence/cramtools). Reading it with `htsjdk` leads to an exception in `CRAIEntry`:

[code]

The exception is caused by the container start byte offset being too large to fit into a signed int. Section "12 Indexing" of the CRAM [spec](http://samtools.github.io/hts-specs/CRAMv3.pdf) doesn't mention any restrictions on this field.

[2015-10-13 14:37] superbobry opened #351 "How to contribute"
I've tried cloning the repo and opening it as IDEA project, but it didn't work due to SBT errors.

 Can you please add "How to contribute" section to the `README.md` covering setting up the project, running tests, code style guidelines etc?

[2015-10-13 15:12] lbergelson commented on #351
Hi @superbobry

The sbt script is only used for publishing htsjdk to maven.  Builds are handled through ant.  This is a confusing situation and we should clarify it.

The following commands should help get you started:

`ant`
`ant test`
`ant single-test -Dname=AbstractFeatureReaderTest`
`ant clean`
and
`ant htsdjk-jar`

There's an intellij project file checked into the repo that you can use for an

[2015-10-13 15:57] #349 closed

[2015-10-13 19:12] superbobry commented on #351
Thank you very much for explaining.

I think this is worth adding to `README.md` or project [Wiki](https://github.com/samtools/htsjdk/wiki).

[2015-10-15 11:53] vadimzalunin commented on #329
I think the difference is that calculateMdAndNmTags reproduces the behavior of samtools and currently there is no "native" way to calculate MD tag.
Another note is that neither SequenceUtil.calculateMdAndNmTags nor SequenceUtil.countMismatches are have tests.

[2015-10-16 20:48] yfarjoun opened #352 "unmap read should also store the original sequence index"

[2015-10-21 15:23] vadimzalunin commented on #322
see PR https://github.com/samtools/htsjdk/pull/339, blocked by travis failure irrelevent to the PR, issue https://github.com/samtools/htsjdk/issues/341

[2015-10-22 13:30] vadimzalunin commented on #341
https://github.com/samtools/htsjdk/pull/355 build fails as well

[2015-10-22 23:09] droazen commented on #341
Closing as invalid -- as explained in a comment to https://github.com/samtools/htsjdk/pull/339, the test failure in that branch is very much related to the contents of the PR.

[2015-10-22 23:09] #341 closed

[2015-10-22 23:09] droazen commented on #314
I've fixed this -- closing.

[2015-10-22 23:09] #314 closed

[2015-10-27 05:20] priimak opened #360 "In maven central pom file lists compile time dependency on org.testng:testng:6.8.8"
Looking at this file https://repo1.maven.org/maven2/com/github/samtools/htsjdk/1.140/htsjdk-1.140.pom you can see compile scope dependency on org.testng:testng:6.8.8

[code]

but as far as I can see there is no compile time dependency on testng. If so, could that be resolved in a next version of htsjdk?

[2015-10-30 21:31] cmnbroad opened #362 "Require all CRAM files to have a reference"
Currently its possible to create a CRAMFileReader that doesn't have an associated reference, which can result in several downstream problems (NPE, failure to locate contigs, etc). I have some changes to lock this down tighter but its unclear how strict we should be.

@vadimzalunin - is there *any* valid use case/operations for reading CRAM files without the accompanying reference, or are there cas

[2015-11-02 09:28] vadimzalunin commented on #362
I think this has been fixed in https://github.com/samtools/htsjdk/pull/339 but perhaps needs testing.

CRAM supports unmapped readds as well as embedded reference, and in both cases ref file is not required.
Also there is a feature of downloading a sequence on demand from ENA ref service.

[2015-11-03 21:22] akiezun opened #364 "round-tripping a SAMRecord through CRAM changes getInferredInsertSize"
Look at the first read in the sam file here.
If you write the file as CRAM (using the writer factory) and then read back again, the inferredInsertSize changes from 201 (in the sam file) to 202

[print_reads.sorted.sam.txt](https://github.com/samtools/htsjdk/files/26529/print_reads.sorted.sam.txt)
[print_reads.fasta.txt](https://github.com/samtools/htsjdk/files/26530/print_reads.fasta.txt)

[2015-11-03 21:23] droazen commented on #364
@vadimzalunin Can you please take a look at this cram bug?

[2015-11-04 15:56] cmnbroad opened #365 "SAMFileWriterFactory.makeWriter ignores factory settings and flags when creating CRAM files"
SAMFileWriterFactory.makeWriter will try to create a CRAM file if the passed in file extension is  ".cram". However, it ignores the "presorted" parameter in that case, which leaves the new CRAMFileWriter with presorted set to true. This can result in downstream exceptions if the input isn't presorted.

If we really require the input to be presorted for CRAM files, we should validate the inputs (th

[2015-11-04 16:09] cmnbroad opened #366 "SAMWriterFactory.makeSAMOrBAMWriter creates BAM files with a ".cram" extension"
If you pass in a filename with a .cram extension, makeSAMOrBAMWriter will create a BAM file with a .cram extension and return a BAMFileWriter, which is probably not what was intended. This was causing many Hellbender tools to create BAM files with the .cram extension. Using makeWriter instead will remedy this (as it will create a real .cram file) but makeSAMOrBAMWriter should check the extension a

[2015-11-04 16:20] cmnbroad opened #367 "CRAMIterator.next can throw NoSuchElementException when there are more records"
If you call next() on a CRAMIterator that has never had hasNext() called (sketchy, I know), the current implementation will throw a NoSuchElementException even if there are records. This is due to a side effect of hasNext (calling nextContainer, which initializes the iterator.

Although the pattern is questionable, the behavior seem wrong. Calling next() should return the next record if there is o

[2015-11-04 21:17] cmnbroad opened #369 "SamFileValidator results in NPE on CRAM files with invalid sort order"
When running SamFileValidator on a CRAM file with an invalid sort order, a NPE gets thrown when validating NM tags by ReferenceSequenceFileWalker.

There is a proposed fix in PR #368.

[2015-11-06 20:42] ldgauthier opened #371 "more VariantContext attribute getters"
@yfarjoun thinks it "would be nice to have utility functions getAttributeAs<*>List for \* in String,Integer,Long,Double...."

[2015-11-06 21:27] yfarjoun commented on #371
and @ldgauthier  "agrees"

[2015-11-06 22:50] yfarjoun opened #374 "function for retrieveing secondary alignment misnamed"
The sam-spec calls the 0x100 flag "secondary alignment", but the htsjdk code it's accessed using getNotPrimaryAlignmentFlag(). This is probably a throwback to a time when there was no supplemental alignments, but now we have them....perhaps it's time to deprecate getNotPrimaryAlignmentFlag  and use instead a function named
getSecondaryAlignmentFlag() ?

opinions?

[2015-11-06 23:29] tfenne commented on #374
:+1:  I think the `notPrimaryAlignment` is still technically correct because I would argue that if the best alignment for a read is broken into multi segments that are not co-linear with the reference then the "primary alignment" is the set of records with the same name, pair flags and the `notPrimaryAlignment` bit not set.  So maybe I am in the mood for a semantic argument today after all :wink:

[2015-11-09 16:54] lbergelson opened #377 "switch hdsjdk build system to gradle"
I recommend that we switch htsjdk to use gradle as our build system.

Ant is old and not very beautiful.  I know from personal experience and anecdotal experience from those working around me that the ant build isn't particularly well supported by intellij.

The GATK4 team has now gained experience working with gradle and it's been a very pleasant tool to use.  Code for common things is very short

[2015-11-09 17:01] vadimzalunin commented on #377
i think this is a great idea

[2015-11-09 17:35] lbergelson opened #378 "process for evolving api"
I think we should formalize a process for evolving the api and removing deprecated functions.  We have some things that have been deprecated for years and never removed.

I'd recommend something like "functions that are deprecated are subject to removal after n months."  Where N is something like 3-6.  We'd commit to documenting what was removed and how to replace it if relevant in those releases.

[2015-11-09 17:43] tfenne commented on #377
Thanks for writing this up @lbergelson.  I agree that the gradle built script looks quite nice.  I'm curious if you looked at other builds tools also before settling on gradle for GATK 4?

Regarding the downsides you've listed, I'll comment on two of them:
* Rearranging is disruptive - it's not so bad.  I agree it's a bit of a pain in the butt to have to rename src directories and move every file

[2015-11-09 17:52] nh13 commented on #377
@lbergelson I have no objects.  I checked out your branch and found that the javadoc location has changed, as well as the htsjdk jar.  But we can go into those debates upon a PR.

[2015-11-09 18:35] yfarjoun commented on #378
I agree with the sprit, but I think that 3-6 months is too fast. We already
have users (eg igv) who inform us of the trouble they go through when they
rev htsjdk, removing deprecated functions after 3 months would make it much
harder for users like that to use the library. I think that something on
the order of 1 year, assuming there was a discussion of the (specific)
deprecation as an issue, and

[2015-11-09 18:52] tfenne commented on #378
I tend to agree with @yfarjoun - deprecated things should have a fairly long twilight period before being yanked.  While high volume users of the library and likely to update frequently, I suspect there is a fairly long tail of users who don't update all that often and would get bitten by that kind of change.  I would think something in the 9-12 month range would be more realistic.

[2015-11-09 18:56] lbergelson commented on #378
I think it would be a good idea to pair a deprecation policy with a 'experimental' or 'beta' tag policy, so that new functionality wouldn't be locked in immediately.

Basically: new functionality that isn't quite solid gets tagged with `@beta` or `@experimental`.

We reserve the rights to change these methods at will.  That way we can experiment with new ideas without being immediately committed t

[2015-11-09 19:12] lbergelson commented on #377
@tfenne
- Adam looked into build systems last year for hellbender and picked out gradle. I think the big requirement was no xml.  The obvious other choices were maven, which violates no xml in a big way, and sbt.  Sbt has the disadvantage that it's scala based, which is a farther jump from java than groovy is.  It also requires a scala installation as far as I know, which can be off putting for a

[2015-11-09 19:13] lbergelson commented on #377
Forgot to say, but I strongly support removing the intellij files from source control.  They cause all sorts of problems for me.

[2015-11-09 19:23] ronlevine opened #379 "VCFSimpleHeaderLine.getGenericFieldValue() should be public"
VCFSimpleHeaderLine.getGenericFieldValue() does not have an access control specifier, which makes it private. It should be public so that other packages can access the data.

[2015-11-09 19:33] #379 closed

[2015-11-10 01:50] cmnbroad opened #380 "Need javadoc for CRAM support"
Many of the CRAM APIs lack javadoc, and its unclear how much of the CRAM spec is implemented (i.e., embedded references, preservation policies).

At a minimum, we need to document the preservation and compression policies used by default, i.e., when a CRAM file is created using SAMFileWriterFactory, and what are versions supported (it looks like the current implementation can read version 2.1 or 3

[2015-11-12 18:43] droazen commented on #377
A massive, enthusiastic :+1: to removing the checked-in IntelliJ project files -- we are constantly having to revert changes to those files before every commit. Gradle makes it easy/automatic to create an IntelliJ project, so the checked-in project files should no longer be needed with this change.

[2015-11-12 22:03] jacarey commented on #377
This is great @lbergelson. :+1: I'd like to work out how to do the oss signed releases using gradle. This would be a good time to hand the public releases off to @ktibbett and the ops team.

[2015-11-12 23:04] vadimzalunin commented on #364
@droazen @akiezun see https://github.com/samtools/htsjdk/pull/384

[2015-11-12 23:28] droazen commented on #322
Fixed in https://github.com/samtools/htsjdk/pull/339 -- closing!

[2015-11-12 23:28] #322 closed

[2015-11-12 23:32] droazen commented on #364
Fixed by https://github.com/samtools/htsjdk/pull/384 -- closing.

[2015-11-12 23:32] #364 closed

[2015-11-16 11:50] magicDGS opened #387 "Request: SamLocusIterator including indel and pair information"
SamLocusIterator is a great class to provide "pileup" information, but it lacks insertion and deletions that could be useful for develop tools for indel calling at the same time as SNP calling. On the other hand, pair-end information in the iterator could be very useful to use linkage in the calling procedure.

If the problem for indel calling is solve somehow with a different class or the pair-en

[2015-11-16 12:08] yfarjoun commented on #387
pair-end information can be found by processing the data with either
MergeBamAlignment or FixMateInformation (Picard tools). This will place the
mate CIGAR string in each read in a MC: tag. I think this could provide
much of the information you require.

Regarding indels I need to look further into the issue, perhaps someone
else can respond.

On Mon, Nov 16, 2015 at 6:50 AM, magicDGS <notificatio

[2015-11-16 12:12] magicDGS commented on #387
I was thinking more on developing new tools (independent of Picard), but it could be a requirement to pre-process the BAM file to add the MC tag. Thank you very much for the suggestion.

[2015-11-16 12:47] tfenne commented on #387
@yfarjoun I think including, in LocusInfo, the sets of reads that have insertions and/or deletions at that position would be relatively straightforward.  I think it would involve:
1. Either modifying `LocusInfo` to have separate collections of records for 'covered with base', 'deleted in record', and 'insertion in record' _or_ modifying `RecordAndOffset` to have a discriminator type.
2. Deciding a

[2015-11-16 12:59] magicDGS commented on #387
@tfenne That idea sounds great and it could help a lot. With respect to the second point, the base before is more reasonable for my point of view, as in the output from samtools mpileup. Thank you very much.

[2015-11-16 13:46] cmnbroad commented on #365
presorted, create index, and md5 settings are all ignored by makeWriter when creating a cram file.

[2015-11-16 13:58] cmnbroad opened #388 "CRAMFileWriter doesn't close its output stream"

[2015-11-16 14:18] yfarjoun commented on #387
This is a great request, but I'm not sure at all who will get around to
actually doing it..is there a downstream tool that would greatly benefit
from having this option?

On Mon, Nov 16, 2015 at 7:59 AM, magicDGS <notifications@github.com> wrote:

[2015-11-16 14:35] cmnbroad commented on #366
This should probably throw if its handed a .cram extension since it doesn't accept a reference, so in the CRAM case it would only be useful with the download service or an embedded reference.

[2015-11-16 14:55] cmnbroad commented on #362
@vadimzalunin - we still have several cases where we have bad failure modes if a reference isn't provided (including NPEs). Do you have any suggestions for how we can validate the referenceSource at creation time (ie., in CRAMFileReader, Writer and Iterator) that isn't overly constraining? Verifying that the referenceSource is backed by a file is too stringent (and breaks some tests that use fake

[2015-11-16 15:02] magicDGS commented on #387
@yfarjoun I'm developing now a tool that needs that information, so I could try to implement in the way suggested by @tfenne: adding to `LocusInfo` two lists (deletedInRecord and insertionInRecord) and methods to retrieve them and a modified accumulator (accumulateSamRecordWithIndels) for processing indels. Some minor changes will be include a boolean field for the indel option and setter/getter m

[2015-11-16 15:24] droazen commented on #362
I think that we should require a reference for CRAM at construction time if both of the following are true: `Defaults.USE_CRAM_REF_DOWNLOAD` is `false`, **and** the CRAM has no embedded reference. Thoughts?

[2015-11-16 15:56] yfarjoun commented on #387
getAlignmentBlocks avoids calculating deletions and insertions indeed, but
not for performance. You will break many things if you change that as the D
and I blocks are not considered "AlignmentBlocks". If you need something
akin to getAlignmentBlocks that will also return the D and I blocks, I'd
recommend you add an option paramter (leaving the default signature that
will keep the old behavior).

[2015-11-16 16:00] cmnbroad commented on #362
Ideally that sounds right. And for the factory APIs (where the currency is reference files) I think that would work. However the CRAM apis themselves accept other forms of reference sources, and the htsjdk tests use these. Take a look at the code starting  [here](https://github.com/samtools/htsjdk/blob/f18740b15378e31af23e0f8765c63e0de31ace44/src/tests/java/htsjdk/samtools/CramFileWriterTest.java#

[2015-11-16 16:07] magicDGS commented on #387
@yfarjoun I do not plan to change the `SAMRecord.getAlignmentBlocks()`, my question is about if it could affect the performance if I don't use that method because the `SAMRecord` keeps the list of `AlignmentBlock`s in a field to avoid re-computation of them.

Of course, my idea is leave the class behaving as currently, but allowing it to return indels as well.

[2015-11-16 16:44] vadimzalunin commented on #362
@droazen @cmnbroad
Reference is not required in two cases:
1. unmapped reads
2. embedded reference

But they cannot be reliably determined at construction time.

Also I don't see why null should propagate into CRAM code.If a ref is required but not found (for any reason) then an error should be raised. Would it help if there is a specific exception instead of NPE?

[2015-11-16 16:59] yfarjoun commented on #387
Yes, I imagine that it will affect performance, but don't worry about
premature optimization...leave that for a second round.

On Mon, Nov 16, 2015 at 11:07 AM, magicDGS <notifications@github.com> wrote:

[2015-11-16 19:07] tfenne commented on #366
I admit I haven't followed this all too closely, but I thought the reason for the entry in Defaults for `reference_fasta` was so that there was a way to specify a default reference fasta for CRAM so as not to need to update every single API?  I.e. could one call this to make a CRAM file in a JVM that was started with -Dsamjdk.reference_fasta=my.fasta?

[2015-11-16 19:39] cmnbroad commented on #366
Yes, we could fix this so that if you had the environment variable set (or
the download service enabled) it could pick those up. We'd still need to
make the change to go down the CRAM path though. However, in the (common ?)
case where neither of those is true, the downstream failures may not be
obvious. So maybe we should have this check for a .cram extension, and
throw only if neither of default

[2015-11-17 18:40] droazen commented on #362
@vadimzalunin We can't allow NPEs to propagate to our users -- they just result in confused bug reports when most of the time the problem is just that the user needed to specify a reference. I'd rather err on the side of caution and just require a reference up-front for CRAM in most cases, as chasing down all the possible sources of NPEs in the code would be difficult. Can you not determine up-fro

[2015-11-18 12:34] vadimzalunin commented on #362
@droazen

This is per container, so file header won't help unfortunately.

It looks like users need some way of telling what to do when a reference is required, for example default behavior could be: scan a fasta file(s) if given, then local cache, then ENA ref service and then fail/skip if not found.

There is not much we can do about it other than make it user friendly. It seems that ReferenceSe

[2015-11-18 14:23] jmmut opened #389 "VCFContigHeaderLine throwing Exception although the spec doesn't require it"
The field "length" in a contig header line, is documented as required:

but the specifications of VCF 4.2 and 4.3 don't require it:

4.2:

4.3:

[2015-11-18 15:03] cmnbroad commented on #362
@vadimzalunin - A couple of questions about embedded references: does the current htsjdk implementation support them ? Also, how do you create such a CRAM, and are there any test files with embedded references in the repo now ?

[2015-11-18 16:53] vadimzalunin commented on #362
@cmnbroad
Embedded refs are not supported by htsjdk yet. I haven't seen any files in the wild but scramble from io_lib can produce them.

[2015-11-18 19:34] droazen commented on #362
@vadimzalunin If embedded references are not supported in htsjdk, then let's just require an external reference for crams at construction time for now (if reference auto-download is off). We can relax this restriction later if support for embedded references is added. Getting NPEs and other cryptic errors from the cram classes is a major usability issue for us currently, so I think an up-front ref

[2015-11-19 09:22] vadimzalunin commented on #362
@droazen making reference source required is fine but still we need to replace NPE with something meaningful. After all, sequences may be missing from the provided fasta file.

[2015-11-19 16:40] cmnbroad commented on #362
Right, ideally we would do both, since in the end getReferenceBases can always fail even if a reference has been provided, and the NPE isn't great in that case. Are there any cases where the code can reliably recover from a null return from getReferenceBases ? If not we maybe it should just have it throw if its going to return null.

I'll do another PR and change the SAM* factory classes to throw

[2015-11-19 17:09] vadimzalunin commented on #362
@cmnbroad

Don't think so. Some information like flag stats can still be obtained from a CRAM file but not SAM/BAM equivalent.

I agree :+1:

Absolutely! Sounds like this is up to me :)

[2015-11-23 22:07] lbergelson opened #391 "add ngs-java 1.2.2 as a dependency for the maven artifact"
Since we've merged #323 we need to make sure that the maven artifact includes ngs-java 1.2.2 as a dependency.

[2015-11-23 23:38] dariober opened #393 "Corrupted tabix index"
Hello,

It seems to me that tabix indexes created with `writeBasedOnFeatureFile` are corrupted. Am I doing something wrong?

Here's a bed test file, it has 1M rows on 10 chroms. I bgzipped with tabix 1.2.1:
https://dl.dropboxusercontent.com/u/53487723/tmp.bedGraph.gz

I created an index for it with the following program (java 8, htsjdk-1.141):

[code]

Querying the resulting index returns only the

[2015-11-25 16:41] fathersson commented on #351
@lbergelson, it's not common practice to push specific IDE files into the repository. Some people using Eclipse, NetBeans and other IDEs. Even if people use Intellij Idea, their set up might be different from the one that's committed.
What I see right now is inconvenient. As soon as I imported project into my Intellij Idea, some of the files under .idea/ are changed. But I am really not sure I may

[2015-11-25 17:14] lbergelson commented on #351
Hi @fathersson .  I agree with you completely.  It's extremely inconvinient for almost all users right now.  These will be removed in the near future as part of #383.

[2015-11-25 17:51] akiezun opened #394 "CRAMFileReader.query does not propagate validationStringency to created iterators"
`CRAMFileReader.query` creates a new `CRAMIterator` but does not propagate validationStringency so it's always STRICT and blows up even if the CRAMFileReader's stringency is SILENT

[2015-11-25 17:57] akiezun commented on #394
@vadimzalunin can you have a look? I'm not a gatekeeper so i won't assign it to you but please grab it if is it a bug

[2015-11-27 23:50] yfarjoun opened #396 "Order of attributes in SAM header and record"
The arrival of Java 8 to HTS-JDK also brought with it a change in the order of unordered collections like hash-maps and sets. This, in particular has changed the order of attributes in the header lines and possibly in the optional tags in a SAM record, causing tests that compare files rather than SAM headers and records to fail.

There are several solutions to this (that I see):

(From easiest and

[2015-11-28 02:37] akiezun commented on #396
i vote for 2. That's what we do in gatk4

[2015-11-28 10:16] tfenne commented on #396
I would say that #2 would be best, but it is reasonable to do that quickly so that the Picard build can be fixed?

[2015-11-28 10:53] tfenne commented on #396
@yfarjoun I don't think the problem is in HTSJDK.  I did some poking around and it appears that a few months ago someone (trigg?) modified `AbstractSAMHeaderRecord` to use a `LinkedHashMap` for attributes so that it would maintain insertion order.  The problem is that `IlluminaBasecallsToSam`'s insertion order was changing based on `HashMap` ordering.

[2015-11-30 18:53] droazen commented on #394
Assigning to @vadimzalunin -- please look at this when you have a chance, as it's a blocker for some downstream development.

[2015-12-01 16:07] #391 closed

[2015-12-02 09:55] vadimzalunin commented on #378
I would advise to separate API and implementation even further. APIs are generally much more stable and that's ok. At the moment it looks like we tend to classify all public classes/methods as API but they are not API imo. Ideally an API would have a version, which is different from htsjdk version.

[2015-12-02 20:43] lbergelson opened #401 "Figure out there is a bug in BAMIndexMetaData.recordMetaData"
@vadimzalunin I noticed this and I wanted to know if it's a bug or if it's deliberate.  If it's deliberate it's confusing.

I'm not really sure what is supposed to happen, so it's hard for me to tell if the logic is correct.

`start` and `end` are being set to the same value.

[code]

[2015-12-03 18:07] cmnbroad opened #402 "SAMRecord equals should not use reference equality for attributes"
SAMRecord.equals should use value equality for attributes now that we have deepCopy. As it is now, rec.deepCopy().equals(rec) always fails if the record has attributes.

[2015-12-03 20:46] MatthewRalston commented on #169
For the sake of posterity, I've encountered this same issue when merging unmapped tophat reads with sorted mapped reads. The solution was to instead merge the tophat outputs accepted_hits.bam and unmapped.bam with Picard MergeSamFiles, using Validation_Stringency=LENIENT.

[2015-12-04 16:43] cmnbroad commented on #369
Fixed  via https://github.com/samtools/htsjdk/pull/368.

[2015-12-04 16:43] #369 closed

[2015-12-04 16:44] cmnbroad commented on #365
https://github.com/samtools/htsjdk/pull/368.

[2015-12-04 16:44] #365 closed

[2015-12-04 16:46] cmnbroad commented on #388
Fixed via https://github.com/samtools/htsjdk/pull/368.

[2015-12-04 16:46] #388 closed

[2015-12-04 19:26] cmnbroad opened #404 "CRAMIterator fails on queryname sorted input with unmapped reads"
CRAMWriter can generate a CRAM file with queryname sorted reads, but when reading the file get an exception when iterating on the first record that is unmappped :

htsjdk.samtools.util.RuntimeEOFException: java.lang.RuntimeException: Slice mapped outside of the reference.

	at htsjdk.samtools.CRAMIterator.hasNext(CRAMIterator.java:264)
	at htsjdk.samtools.SamReader$AssertingIterator.hasNext(SamRea

[2015-12-04 19:28] cmnbroad commented on #404
@vadimzalunin Can you take a look ?

[2015-12-04 19:34] cmnbroad commented on #404
The stack for the original exception is:

Caused by: java.lang.RuntimeException: Slice mapped outside of the reference.
	at htsjdk.samtools.cram.structure.Slice.alignmentBordersSanityCheck(Slice.java:74)
	at htsjdk.samtools.cram.structure.Slice.validateRefMD5(Slice.java:84)
	at htsjdk.samtools.CRAMIterator.nextContainer(CRAMIterator.java:179)
	at htsjdk.samtools.CRAMIterator.hasNext(CRAMIterator.j

[2015-12-06 18:33] yfarjoun commented on #316
@dariober, sorry it took so long to get to your issue. I added a test in PR #405. As you can see there, the problem with your code is that the default validationStringency for a SamRecord is SILENT. So, before you validate you have to setValidationStringency to STRICT and then the validation will indeed fail.

[2015-12-06 18:33] #316 closed

[2015-12-09 14:02] vadimzalunin commented on #404
@cmnbroad
I can't reproduce this, htsjdk seems to read the file just fine:
https://github.com/broadinstitute/gatk/blob/1ecb871ce375799f9245bf932ed5da40f045d7ec/src%2Ftest%2Fresources%2Forg%2Fbroadinstitute%2Fhellbender%2Ftools%2Fcount_reads.cram

Also tried enforcing unmapped flags on some random reads - no exception.

Am I missing some test condition?

[2015-12-09 19:00] cmnbroad commented on #404
Interesting. I should be able to get you a reproducible test case.

[2015-12-09 20:51] cmnbroad commented on #404
I pushed a [commit](https://github.com/cmnbroad/htsjdk/commit/62c37af07b1d1322533197e81e0ad67df2a191a1) to a [branch](https://github.com/cmnbroad/htsjdk/commits/cn_cram_sort) on my [fork](https://github.com/cmnbroad/htsjdk) with a test case that repros this. The test code is in SAMFileReaderTest.java.

I think its a little more subtle than I first stated - you're right that we can read the origina

[2015-12-10 14:01] vadimzalunin commented on #404
@cmnbroad found it, thanks! Just some muddy logic around detection of slice sequence id. Working on PR...

[2015-12-15 12:25] magicDGS commented on #387
PR #408

[2015-12-15 12:51] lindenb opened #409 ""main" java.lang.UnsatisfiedLinkError: gov.nih.nlm.ncbi.ngs.Manager.SetAppVersionString(Ljava/lang/String;)V"
not sure if it's a bug or if this belongs to picard.
I was playing with

[code]

and picard

[code]

but I get the following (JNI ?) exception:

[code]

[2015-12-15 13:00] yfarjoun commented on #409
Hi Pierre,

Can I ask you to try it with the PR #407 and see if it changes anything?

Thanks!

On Tue, Dec 15, 2015 at 7:51 AM, Pierre Lindenbaum <notifications@github.com

[2015-12-15 13:15] lindenb commented on #409
Thanks : Using htsjdk *.jars from https://github.com/samtools/htsjdk/pull/407 with a private program that reads SAM fixed the problem

[2015-12-15 15:09] yfarjoun commented on #409
Great. thanks.

On Tue, Dec 15, 2015 at 8:15 AM, Pierre Lindenbaum <notifications@github.com

[2015-12-16 08:56] apeltzer opened #410 "Data Corruption when modifying header?"
Hi everyone,

I'm trying to modify the header of a given SAM/BAM file as I manipulate certain reads according to a certain pattern. This worked pretty well until a while ago, but with htsjdk 1.141 (I have to stay with Java 7 for now, some other tools require it specifically), I get corrupt output:

[code]

[2015-12-16 15:02] apeltzer commented on #410
Okay, I actually found the "issue". Apparently, if you modify a header, the SAMRecord.setReferenceIndex() method points still to your "old" reference-style header, even if you're trying to remove unrequired SQ ids in your header. I solved it by simply changing these index "pointers" to the appropriate ones after removing IDs from my SAMHeader, e.g.

[code]

[2015-12-16 15:02] #410 closed

[2015-12-18 15:35] vdauwera commented on #183
Closing as this was finished in #285

[2015-12-18 15:35] #183 closed

[2015-12-22 11:07] tfenne opened #414 "Remove SRA related code and replace with a plugin API"
The SRA related code that was recently accepted as part of #323 has caused too many issues, is tarnishing the reputation of HTSJDK and projects which depend upon it and is a big step in the wrong direction.  My problems with #323 are as follows:

1. It adds an extra dependency to HTSJDK.  For a core library this is to be frowned upon.  While I _think_ it is possible for someone using HTSJDK for no

[2015-12-22 16:30] nh13 commented on #414
I would whole-heartedly agree, as the commit goes against the spirit of htsjdk, and generally has bad behavior as you mentioned above.  The error message every time it would try to load various libraries were also confusing.  I also looked at the source [`ngs-java`](https://github.com/ncbi/ngs/blob/master/ngs-java/ngs), which has no tests and adds in a lot of duplicate functionality, so it is not

[2015-12-25 08:25] chaoshwc opened #415 "build.xml:64: Problem: failed to create task or type propertyfile"
I have never learn java before.When I download htsjdk and ant it, it showed failed to create task or type propertyfile.How can i handle it? Thanks very much!

[2015-12-31 15:04] lindenb opened #418 "Parser for ANN http://snpeff.sourceforge.net/VCFannotationformat_v1.0.pdf"
Hi all,

not a bug but a question: would you accept a PR for the ANN annotation format ( http://snpeff.sourceforge.net/VCFannotationformat_v1.0.pdf ) or do you think it doesn't belong to htsjdk ?

thanks.

[2016-01-02 10:20] magicDGS opened #419 "Bug in SAMRecordSetBuilder"
In the PR #408 I changed `SamLocusIteratorTest` to use `SAMRecordSetBuilder` as requested, but `SamLocusIteratorTest.testEmitUncoveredLoci()` fails (even with the previous implementation of `SamLocusIterator`) but without using the builder it is still working.

It seems that the problem comes from the `SAMRecordSetBuilder` implementation, when adding fragments with a header that differs from the d

[2016-01-02 12:03] magicDGS commented on #419
PR #421

[2016-01-04 20:51] yaschenk commented on #414
Support for SRA format in htsjdk was introduced the same way as support for CRAM. Attempting to download sra native libraries before recognizing the input format was a bug, which is corrected now.
Do you have any ongoing issue which prevents or in any way inhibits the use of htsjdk due to introduced support for SRA format?

[2016-01-04 21:19] droazen commented on #414
I agree that the `ngs-java` library is guilty of some bad/sketchy behavior in downloading a native library on-demand, and if we had known about that behavior during code review it certainly would have become a blocking issue for the merge of https://github.com/samtools/htsjdk/pull/323.

But I have to object to the radical solution of excising SRA support from htsjdk completely for the following re

[2016-01-04 22:28] yaschenk commented on #414
The use of SRA native code should only be triggered by an attempt to use SRA datafile or accession. This is not much sketchier than the optional use of IntelDeflater, which is also a native code.
The biggest difference is that SRA code is not a part of htsjdk package - it is under control of NCBI. But it is an open source code and provides additional benefit of enabling the users to transparently

[2016-01-04 23:21] nh13 commented on #414
I don't think anyone is arguing against the utility given the uses (dbGaP) have been provided. Nonetheless, the code itself is not up to the standards for inclusion into htsjdk, is suboptimal in its integration, and muddies up the API with similar functionality. Would it be possible to standardize in the current or previous versions and work on a more acceptable way?

For posterity, I don't think

[2016-01-04 23:28] yaschenk commented on #414
Any objective pointers to "the standards for inclusion into htsjdk"?

[2016-01-05 00:14] nh13 commented on #414
A good start is

[2016-01-05 00:16] nh13 commented on #414
@yaschenk please read through the current code, that's the best way to see the coding style, the tests and their coverage, and any other conventions.  Perhaps the latter is a more precise word.

[2016-01-05 00:27] lbergelson commented on #414
I would not  describe the cram code as "heavily tested" or up to the same coding standards as the rest of htsjkd.  It was included in a highly unfinished and essentially unusable state.   It's still going through tons of bug fixing and will require a lot of refactoring before we can say it "meets coding standards"

The auto-downloading was a big problem that we didn't notice until too late, but Cr

[2016-01-05 01:41] nh13 commented on #414
Cram is in he htsjdk repo and ngs-java is not. Perhaps the latter should be a sub-package with added tests and reformatted coding style?

I don't think any of us have been convinced to change our positions so I suppose we need a way to decide among relevant stakeholders (and identify the deciders) since this is a public github repository and organization, with members from multiple organizations.

[2016-01-05 04:06] yaschenk commented on #414
ngs-java is an API on its own, which is also used outside of htsjdk. It has a consistent coding style which, by the way, I don't consider an objective measure.  Also, ngs-java style consistency and functional level compatibility extends to ngs-python and ngs-c++.

The code responsible for bridging abstractions in htsjdk with implementation of ngs-java is a part of htsjdk repository. It is implemen

[2016-01-05 05:31] nh13 commented on #414
@yaschenk
1. I am looking here: https://github.com/ncbi/ngs/tree/master/ngs-java.  There are some example files, but no unit tests that I can see, but I would be happy to be wrong.
2. I am in no way defending the existing code in htsjdk as the best implementation; it has a lot of faults that in most cases are found in hindsight. In fact, most of the code was written by folks no longer actively mai

[2016-01-05 06:15] kwrodarmer commented on #414
I hadn't understood that the @tfenne points 1-3 were questions...

1. Yes, it introduces a new dependency. One of many - this is clear. How else would you access data in the SRA? Can someone use HTSJDK with the dependency present and without running into it? Yes - there was a very brief moment of oversight that was corrected in the shortest possible time. I guarantee that we are as busy as anybody

[2016-01-05 06:31] yaschenk commented on #414
Kurt reply came as I was typing the message, so add them together
Answers:
1. ngs-java classes have embedded testing
2. This is why we's chosen to follow the same path as cram did - to minimize disruption
3. The statement might be interpreted as hyperbolic, but it was designed to counteract incorrect assertions early in the discussion that the pull request was needed for processing inside NCBI. If

[2016-01-05 06:33] kwrodarmer commented on #414
@nh13 - regarding the unit tests. There should be three things noted:

1. All Java code is a simple wrapper onto C++ code. The same is true for Python.

2. The unit tests we run in C++ under `ngs-sdk` are to test the ngs library itself, which also is basically interface without implementation. NGS was designed to be trilingual for the time being, and to maintain almost identical semantics between

[2016-01-05 07:26] kwrodarmer commented on #414
Note to all - I edited my late night comments slightly to try to ensure greater clarity of meaning where I had left ambiguities in the original.

[2016-01-05 11:13] tfenne commented on #414
@yaschenk you say that you've asked people to remain civil in this conversation, but you are the one providing the hyperbole and attacking people personally.  My intent was not to impugn any individual, but to point out that we have reached a breaking point in HTSJDK, that we can't go on adding more code each time another team with another format decides they want their format supported in HTSJDK

[2016-01-05 11:40] tfenne commented on #414
My apologies @yaschenk I mis-attributed some comments from @kwrodarmer to you, and that's my mistake.

Can we refocus this discussion around two points please:
1. Are there objections to using a plugin/SPI model to provide SRA support vs. bundling the bridge code into htsjdk directly?
1. How do we (htsjdk team) take all the feedback and make a decision on this issue and future changes?

[2016-01-05 13:23] vadimzalunin opened #422 "opinions wanted: how to specify lossy parameters for CRAM?"
CRAM lossy parameters are:
- lossy read names (boolean)
- tags (list of tags to drop or to keep)
- quality score: drop, bin, preserve (more weird ones are omitted for now)

This could become a general filter/transform API but I'm also happy to keep it CRAM-specific, just need a way to pass this from a user to the code (CRAMFileWriter).

[2016-01-05 14:14] kwrodarmer commented on #414
@tfenne - alright, perhaps I was mistaken. I probably didn't get the subtlety of "The SRA related code ..., is tarnishing the reputation of HTSJDK" and "the format is basically unused outside of NCBI, so this has very limited general utility", or that `ngs-java` is "guilty of some bad/sketchy behavior" and "the code itself is not up to the standards for inclusion into htsjdk", etc. I'll concede th

[2016-01-05 14:26] yfarjoun commented on #414
For what it's worth, I think that it would indeed be preferable to have a plug-in system that allows the users chose what additional external libraries would be available for their system. they would then be responsible for upgrading/updating these plugins as needed.

I also think that removing the SRA support that already exists is an extreme move which is probably what is evoking the emotions se

[2016-01-05 15:09] droazen commented on #414
I agree wholeheartedly with @yfarjoun -- a plug-in system sounds great, but until it materializes let's not remove working features that downstream code is relying on (and I've been told that there are actually PI's out there waiting for the SRA support in the GATK that NCBI just contributed).

Instead of removal, I vote that we ask NCBI to patch `ngs-java` and `htsjdk` as necessary so that auto-d

[2016-01-05 15:10] tfenne commented on #414
@yfarjoun Thanks for joining us.  My hope was that the changes on master were recent enough that we'd all be comfortable with pushing them off to a branch and unwinding them from master while we worked on a better solution.  But if there are already downstream users that would be negatively affected by this, then perhaps that is not the best approach.

I agree with your thoughts on your questions,

[2016-01-05 15:37] kwrodarmer commented on #414
We had to grapple with this issue, too. I think most people appreciate the idea of making the user get involved before things start to happen in the background. The problem is one of UI, and how many calls to the help desk we are willing to dedicate to answering the question, "why doesn't it just work?" Had this been an application with a GUI, or even without, getting one-time user involvement wou

[2016-01-05 15:46] droazen commented on #414
@kwrodarmer The standard mechanism for opting-in to behavior like this in htsjdk is via system properties as defined in the `Defaults` class -- I think that's the right place for this option as well.

Note that htsjdk is a low-level library that users who would tend to call the help desk won't be exposed to directly. They'll be exposed indirectly through higher-level toolkits like the GATK and Pic

[2016-01-05 16:17] lbergelson commented on #414
It would be great to have a plugin system for new data types (or at least a well defined API for adding new data types.)

Since we have SRA support already though, it seems wasteful and disruptive to remove it.

We do need to address people's concerns with how the SRA dependency behaves, but it seems like changing the default to not download any native code is a mutually agreeable solution.   We j

[2016-01-05 16:53] vdauwera commented on #414
Speaking as GATK community manager and advocate, I agree that removing SRA
support at this point would be disruptive. I have had some interactions
both with developers who are already incorporating SRA support in their
projects through htsjdk, and with end-users who need this functionality in
their research work.

As regards support/help desk aspects of the proposed solutions, there is a
lot we ca

[2016-01-05 17:31] yaschenk commented on #414
I am glad that more people have  started to reply, it makes the discussion more legitimate and forces objectivity.

It is up to you to decide how htsjdk is organized. It did start as an abstraction of reading BAM, then CRAM was added using this abstraction. SRA just followed exactly the same path.

I believe the goal of avoiding network exchanges is at least a decade obsolete.
SRA tries to auto-co

[2016-01-05 19:32] droazen opened #423 "htsjdk should parse multiallelic AF/AC"
Requested by @ldgauthier:

It would be wonderful to be able to use SelectVariants with a query like -select "AF > 0.1" on a VCF containing multiallelics and have it filter multiallelics by the allele with the highest AF. (Possibly conversely for "AF < X"queries. Right now it crashes unless you use a crazy JEXL or pull out the multiallelics. Maybe we could make a maxAF/minAF in htsjdk/JEXLmap.java

[2016-01-05 19:34] droazen opened #424 "make 100% sure that allele ordering is preserved in htsjdk"
Requested by @ldgauthier:

Thoroughly test htsjdk code to make sure the alternate allele ordering in the input VCF (for multiallelic variants) is preserved during VC reading/writing/manipulation.

As part of this task, while whoever is doing is it making changes, it would be wonderful to take out the allele alphabetizing in the VariantContext::toString method because that makes debugging this issu

[2016-01-05 19:34] droazen commented on #423
Depends on https://github.com/samtools/htsjdk/issues/424

[2016-01-06 15:21] #418 closed

[2016-01-06 19:22] cmnbroad opened #426 "CRAMFileReader query calls throw NPE on non-seekable input streams"
There are two CRAMFileReader constructors that accept an InputStream along with an index file or stream, but all(?) subsequent query calls throw an NPE if the input stream is not actually an instance of SeekableStream (getSeekableStreamOrFailWithRTE doesn't live up to its name). We should either remove these constructors, change the signatures, or document the requirement and throw a reasonable ex

[2016-01-06 19:56] cmnbroad commented on #422
Do you expect the number of these to evolve/vary with the CRAM version (as the spec evolves) ? Since it seems like there are already quite a few, it might make sense to replace the individual setters and getters on we have now on CRAMFileWriter with a separate CRAMOptions object that you can get/set, with a set of pre-populated defaults.

We should also think about whether other parameters that ar

[2016-01-07 10:31] vadimzalunin commented on #422
@cmnbroad
CRAMOptions is a good idea. Something like this?
`SAMFileWriterFactory.makeCRAMWriter(..., CRAMOptions options)`

[2016-01-07 16:53] droazen commented on #414
@kwrodarmer Since there seems to be broad consensus around keeping the existing SRA support intact while making the native library download explicitly opt-in, would NCBI be willing to submit a PR that:

1. Turns off auto-download of the native library by default (even when using SRA)
2. Adds a new system property to `Defaults` that allows auto-download to be re-activated on an opt-in basis
3. Adds

[2016-01-07 17:15] kwrodarmer commented on #414
@droazen We are working on how to make this happen in a way that will not break existing tools in the field, i.e. we can't simply update `ngs-java` to universally remove this behavior. However, we have control over how it gets initialized within HTSJDK, and this is where we can make a modification.

So the answer is that we are willing to work on this (doing it already), and I'm confident we will

[2016-01-07 21:32] cmnbroad commented on #404
@vadimzalunin Any update on this ? BTW, is it the intention that queryname sorted records are supported by the CRAM spec ? CRAM seems to be optimized for coordinate sorting and the spec seems to require that, but the implementation seems to handle it with the exception of this issue.

[2016-01-08 10:13] dianalemos opened #429 "Extract annotation info"
I don't know if here is the best place to put this if it's not please tell me where it is.
I have a vcf file with variant annotations and now I want to extract that information. I never used this library before so I don't now much about all the methods. Right now the only information that I can see is what is present in the header. Can someone tell me how to access the data lines after that?

[2016-01-08 11:48] lindenb commented on #429
I wrote something like this some times ago: https://github.com/lindenb/jvarkit/blob/master/src/main/java/com/github/lindenb/jvarkit/util/vcf/predictions/VepPredictionParser.java

(I wish this could be included in htsjdk)

[2016-01-08 12:01] yfarjoun commented on #429
Is there a small set of standards for annotation information? My concern
would be that with VEP, SNPEff and other annotators, there would be too
many formats. If there is a standard (should it be defined in HTS-specs?)
then I think it could be fine to add a parser for it here, but otherwise I
worry that htsjdk would be burdened with keeping up with too many formats.

what do others think?

On Fri,

[2016-01-08 12:09] lindenb commented on #429
the only one I know is  http://snpeff.sourceforge.net/VCFannotationformat_v1.0.pdf

I saw people talking about a plugin system for htsjdk. May be we could write a SPI , something like:

[code]

[2016-01-08 12:48] vdauwera commented on #429
For a generic way to do this that is pre-baked and easy to use by end-users, see GATK VariantsToTable.

[2016-01-08 13:22] yfarjoun commented on #429
Geraldine's note made me realize that I was thinking about annotations
a-la-VEP, but perhaps the OP intended annotations as geraldine meant, i.e.
the INFO field values...perhaps the OP could clarify what is sought....

On Fri, Jan 8, 2016 at 7:48 AM, Geraldine Van der Auwera <
notifications@github.com> wrote:

[2016-01-08 14:12] vadimzalunin commented on #404
@cmnbroad almost there, it somehow interleaved with https://github.com/samtools/htsjdk/pull/355, hence the delay.
CRAM is able to handle unsorted data as well, it's just that focus has been on coordinate sorted.

[2016-01-08 15:24] cmnbroad commented on #422
@vadimzalunin - @droazen and I were talking yesterday about whether we might want to extend the existing SAMFileWriterFactory options pattern and add a "setOptions" or "setCompressionOptions" method on the factory. But it looks like the existing options that use this pattern are more generic; the one existing case where there is a compression parameter is the BAM compression level, which is passed

[2016-01-08 15:37] vdauwera commented on #429
I think the OP probably meant functional annotations, but either way VTT
can retrieve any key-value pair that is either in INFO or FORMAT. If the
functional annotation is further structured (like snpeff output tends to
be) then there is a bit more unpacking to be done, but such unpacking isn't
really something we'd want in htsjdk anyway. There I can see plugins coming
in handy.

But anyway I got t

[2016-01-08 21:03] akiezun opened #430 "IndexFactory.writeIndex is incorrect for tabix indexes, missing BlockCompressedOutputStream"
IndexFactory.writeIndex is incorrect for tabix indexes (does not use BlockCompressedOutputStream) and thus loading the index will blow up (reading does use BlockCompressedInoutStream).

Courtesy of @droazen, we know that compressing the index is indeed the right thing:
"the tbi index itself is supposed to be block compressed. Cf., eg., the code for writing tbi indices in htslib (https://github.com

[2016-01-10 14:48] dianalemos commented on #429
Thank you for all the help.
Yes, what I want is to extract the annotations that are in the INFO field with the htsjdk library. I only want to extract that column but I don't know which method (in the library) or class access that information.
I'm interested in htsjdk because I'm writing my code in Java, but I could use GATK all the same just to extract the column that I want.

[2016-01-10 15:17] yfarjoun commented on #429
in htsjdk you can use getAttributeAsString (from VariantContext)

from the commandline you can use VTT as mentioned above.

if this answers your question, please close the issue.

On Sun, Jan 10, 2016 at 9:48 AM, Diana Lemos <notifications@github.com>
wrote:

with the htsjdk library. I only want to extract that column but I don't
know which method (in the library) or class access that information.

[2016-01-12 09:19] #429 closed

[2016-01-13 11:07] vadimzalunin commented on #404
@cmnbroad please review https://github.com/samtools/htsjdk/pull/432

[2016-01-13 20:27] cmnbroad opened #433 "Implement support for creating CRAI files"
Ideally, both from an existing CRAM and on-the-fly during CRAM writing. @vadimzalunin it looks like this is implemented in cramtools - do you know if any reason that implementation couldn't be moved to htsjdk ? I'm happy to do the work since we want it for htsjdk.

[2016-01-13 22:04] lbergelson opened #435 "Update TestNg version"
The current version is very old.  It doesn't have some new features like 'SkipException'.

Anecdotal evidence has the current version of testng failing to work with intellij 15's testng integration as well

[2016-01-13 22:07] lbergelson opened #436 "SRA tests should be skipped with a SkipException if they can't be run"
Currently SRA tests pass if the SRA native code isn't available.  This is very deceptive.  They should be skipped instead. (or possibly run in their own test group)

requires #435

[2016-01-14 09:54] vadimzalunin commented on #433
I think it was agreed before that we focus on BAI rather than CRAI in htsjdk to avoid confusion. But I'm :+1 on full CRAI support.

[2016-01-14 14:31] ronlevine opened #437 "GenotypeLikelihoods should handle anyploid, not just diploid"
`GenotypeLikelihoodsAllelePair GenotypeLikelihoods.getAllelePair(final int PLindex)` returns the cached alleles corresponding to the PLindex. This cache is diploid because the method that initializes it, `GenotypeLikelihoodsAllelePair[] GenotypeLikelihoods.calculatePLcache(final int altAlleles)`,  uses a diploid number of likelihoods ( `numLikelihoods(1 + altAlleles, 2)`) and adds an allele pair e

[2016-01-14 15:25] yfarjoun commented on #437
hmmm. I think that the optimization of using a GenotypeLikelihoodsAllelePair overweighs the generalizability of multipliody.

is there a usecase for this?

[2016-01-14 15:26] yfarjoun commented on #437
is it needed for select variants? perhaps a non-diploid method could be **added** rather than changing the signature of this function.

[2016-01-14 15:31] ronlevine commented on #437
Here's the usecase: https://github.com/broadinstitute/gatk/issues/1382
The plan is to keep the diploid optimization.

[2016-01-20 20:09] cmnbroad opened #442 "SRA test creating a huge local file/cache"
Running code pulled from master (up to commit 96a55713e673daaab8fc2938615eb47725eb4c6b), [this SRA test](https://github.com/samtools/htsjdk/blob/00337afdb712380722ff484e689f78fa79badfdd/src/tests/java/htsjdk/samtools/sra/SRATest.java#L104) tests fill up the hard drive on my MacBook running Yosemite. The same code/build/test (ish) running on my Ubuntu VM on a Windows host leaves only a 16M file. In

[2016-01-20 20:12] cmnbroad commented on #442
BTW, its the [first test](https://github.com/samtools/htsjdk/blob/00337afdb712380722ff484e689f78fa79badfdd/src/tests/java/htsjdk/samtools/sra/SRATest.java#L93) in the data provider that causes the problem. If I run just the second test (or even all the tests in the SRA package except that first one), the cache is there but much smaller.

[2016-01-21 21:44] droazen commented on #442
@a-nikitiuk Could you have a look at this?

[2016-01-21 22:05] a-nikitiuk commented on #442
Thanks for the information provided. We are working on a fix

[2016-01-21 22:32] kwrodarmer commented on #442
The actual fix for this will be to supply a sparse-file implementation for HFS, which resides in the C library that will either need to be automatically downloaded or require a manual download step on the part of the user. We'll let you know when that's available.

We can quickly disable the first test, if that helps in the meantime.

[2016-01-22 07:33] jayinhuang opened #445 "FastqRecord not implements Serializable"
We are tring to serailize FastqRecord, but the FastqRecord (htsjdk/src/java/htsjdk/samtools/fastq/FastqRecord.java) cannot be serializable. Can this be fixed?

[2016-01-22 09:12] lindenb commented on #445
I've sent a pull request for this: https://github.com/samtools/htsjdk/pull/446

[2016-01-22 16:15] peterjc opened #447 "Support CSI as well as BAI indexes"
The original BAM index format (BAI) has a fixed bin size system, and suffers from a maximum reference sequence length of 512Mbp making it unsuitable for large chromosomes (e.g. many plants, some marsupials). The newer CSI indexing format supports longer references, and also different bin sizes - which ought to help with ultra-high coverage in RNA sequencing or viral samples.

On the C side, htslib

[2016-01-22 16:18] jmarshall commented on #447
Ignore _CSIv2.pdf_ for the time being.  It is a draft from an experimental branch, and CSI v2 may well be different from what that document describes when it finally lands.

[2016-01-27 14:06] cmnbroad opened #453 "Remove inlined performance instrumentation code from CRAM classes"
We should remove the inlined performance instrumentation code and classes from the CRAM code, especially where its exposed through the public interface. Container, ContainerParser, DataReaderFactory to start.

[2016-01-27 16:47] vcaropr1 opened #455 "Cram to Bam Conversion Lost MD:Z Tag"
I attempted to use GATK 3.5 to convert a cram file back to a bam file to see if this format is truly lossless.  In doing so, I noticed the MD:Z tag for each record is lost.  I contacted GATK via their forums about the issue and they have determined that this appears to be at the htsjdk library level.

Here is the link for additional information from the GATK forum (http://gatkforums.broadinstitute

[2016-01-27 16:48] droazen commented on #455
@vadimzalunin @cmnbroad Could one of you look into this?

[2016-01-27 20:15] cmnbroad commented on #455
We should get the official word from @vadimzalunin, but it does look like htsjdk BAM->CRAM conversion deliberately drops the MD and NM tags (probably because they're derived from the original read bases which are not stored by CRAM, and can be regenerated during decompression), but does not regenerate them on CRAM->BAM conversion.

[2016-01-27 20:17] cmnbroad commented on #455
Once we get the confirmation or explanation from Vadim, we should update the GATK forum thread.

[2016-01-28 21:54] cmnbroad commented on #455
It looks like the NM tag *is* regenerated by default when going from CRAM to back to BAM, and only the MD tag is not. @vadimzalunin is there any reason we can't change the default (lossless) behavior in htsjdk to preserve all tags ?

[2016-01-28 23:00] dfsurdyk commented on #274
@lbergelson - Any progress on merging this with master?  Am I missing something in the PR?

[2016-01-29 13:42] vadimzalunin commented on #455
Legacy reasons I think, in cramtools NM/MD tags by default are not re-generated.
I'm fine with NM/MD tags generated by default. However this should be reflected somewhere in the documentation -- people may start asking the opposite question :)

[2016-01-29 13:46] vadimzalunin commented on #455
@cmnbroad  should've read your comment more carefully.
NM/MD tags are treated specially to achieve better compression on lossy modes, which was one of the goals in cramtools. For lossless it doesn't matter as much, so I guess we can remove NM/MD bypass and treat them as normal tags.
PS sorry for slow responses, I've been away for couple of weeks, back in the office next week.

[2016-01-29 14:47] vcaropr1 commented on #455
No worries, and thanks for the explanation!  We are exploring the options for using the cram format over bam for archieving purposes (and eventually a full transition) and just want to make sure the conversions are truly lossless.

Thanks again @vadimzalunin !
-Vito C.

[2016-02-01 15:37] dianalemos opened #457 "Parse VCF files"
I don't know if here is the right place to ask this, probably not. If someone knows where is the right place please tell me.
I'm using VCFFileReader to read the file and then
`CloseableIterator<VariantContext> vc = fileReader.iterator();`
                    `          while(vc.hasNext()){`
                        `            VariantContext v = vc.next();`

to extract the annotation data.

But ev

[2016-02-01 15:57] lindenb commented on #457
it depends what you what you want to do. Putting everything in memory ? Increasing the memory using xmx could be a solution : http://stackoverflow.com/questions/5374455
if you need to only access a small part of the VCF, yes, indexing (tabix or tribble ) could be a solution.

[2016-02-02 15:52] cmnbroad commented on #378
I've added a new  "version" label to htsjdk to use with PRs or issues that affect the public API in a way that requires a version number change. I've also [tagged](https://github.com/samtools/htsjdk/issues?utf8=%E2%9C%93&q=label%3Aversion) the PRs that I know of since the 2.0.1 release. I think it would be useful if going forward, submitters and reviewers would add that label to any PRs or issues

[2016-02-02 16:31] droazen commented on #378
@cmnbroad After some discussion, we agreed that this release will be tagged as 2.1.0, and we'll add a note like this to the project README: "htsjdk is migrating to semantic versioning (link to semantic versioning definition). We will eventually adhere to it strictly and bump our major version whenever there are breaking changes to our API, but until we more clearly define what constitutes our offi

[2016-02-04 16:19] lbergelson commented on #442
In general tests should not leave any files lying around.  Please have tests delete any files they create.  A lot of people would be unpleasantly surprised to have ~/ncbi show up in their home directory without explanation, even if it only takes up 16mb.

Is there a way for users to specify where the SRA cache goes?

[2016-02-04 16:45] lbergelson opened #459 "Disable failing SRA tests until they can be made more robust"
We're seeing intermittent SRA test failures despite #434.  This is causing headaches for production.

We're seeing `IllegalArgumentException` "Invalid SRA accession was passed to SRA reader" in many tests.  Before running the tests we checked that `SRAAccession.isSupported()` The accession number usually passes, so I think it must be failing `NGS.isValid(acc)` (or `SRAAccession.isSupported() has c

[2016-02-04 16:53] lbergelson opened #460 "Improve error messages when instantiating an SRAFileReader"
Currently constructing a new `SRAFileReader` calls `SRAAccession.isValid()` and throws an exception saying `Invalid SRA accession was passed to SRA reader` if `isValid` returns false.

Since is valid can fail for a number of reasons, this is not a very helpful message.  It's particularly not helpful because it could actually be a valid accession, but SRA is just not supported.

This should be impr

[2016-02-04 16:56] lbergelson opened #461 "Fix inexplicable SRA test failures"
We've seen a case of  `Invalid SRA accession was passed to SRA reader` in many tests. Before running the tests we checked that `SRAAccession.isSupported()`  The accession number usually passes, so I think it must be failing `NGS.isValid(acc)` (or `SRAAccession.isSupported()` has changed between invocations... is that possible?)

Following the trail leads down to an undocumented native method call

[2016-02-04 16:59] lbergelson commented on #460
@a-nikitiuk @kwrodarmer  Can you take this one please.

[2016-02-04 17:02] lbergelson commented on #461
@a-nikitiuk @kwrodarmer  Here's a fun one for you.  Sorry I don't have more to go on.  There's a stack trace, but at the moment it's lost due to atlassian failures.  I'll update when that comes back online.

[2016-02-04 17:03] kwrodarmer commented on #460
Yes, we have already been working on a new reporting framework for this, as you have suggested, based upon various exception types.

[2016-02-04 17:06] kwrodarmer commented on #461
It would be helpful enough to at least give us a reproducible command line, or accession in question. These things have a lot to do with behaviors. We need to know, for example, if an accession leads to something already downloaded and in a user's cache area, or whether it is only accessible with dbGaP authorization, or whether the original submitter has for whatever reason withdrawn its publicati

[2016-02-04 17:32] kwrodarmer commented on #442
I've been considering how to address this one... It seems to me that we might want to be more clear about requirements, especially those that are in conflict with one another.

1. You want adequate tests. Presumably this means some real-world tests. If not, we can check in some canned data that will solve most of the problem and have the tests access them directly. Unfortunately, this will *not* e

[2016-02-04 17:32] lbergelson commented on #461
Here's the testng output from one of them.  22 SRA tests failed with similar stack traces.  We're unable to reproduce the failure and subsequent attempts in the same environment passed.

It's a bit worrisome that something like the contents of the users cache could affect test results.  Is there a way to isolate the tests from the rest of the system?

[code]

[2016-02-04 17:45] kwrodarmer commented on #461
Did you **just** run into this error? The accession * SRR1298981* is public and perfectly accessible, but not small. I am able to access it without issue from outside of NCBI.

The contents of users' caches do not affect tests, only their diagnosis. It's possible to disable caching entirely during tests, but this obviously means that all data have to be retrieved over the network every time the te

[2016-02-04 19:01] lbergelson commented on #461
Our production team ran into this error last night.  SRR1298981 is the accession that was given to us as a good accession to use for tests.  If it's large, is there a trivially small accession we could use for tests instead?   Can we commit a cached version to our test files so we can exercise the code without going over the internet?

I don't believe we have any local version of this accession an

[2016-02-04 19:18] kwrodarmer commented on #461
Okay, fair enough. The accession you mention is 40G compressed, but that wouldn't account for the report. I've asked @a-nikitiuk to look at this more closely and give me details of what is happening. We'll report back asap.

In the meantime, there are quite small accessions that exercise everything, but I think we need to look at the tests and group them by whether network access is available or n

[2016-02-04 19:32] lbergelson commented on #461
Annotating which tests require network access would be great.  Minimizing network access for the tests would be ideal.  We definitely don't want to be downloading 40G for any reason during a test.  Thanks for the help.

[2016-02-04 19:35] lbergelson commented on #461
Here's the full set of test failures.
[FailedAndSkippedSRATests.txt](https://github.com/samtools/htsjdk/files/118099/FailedAndSkippedSRATests.txt)

[2016-02-04 20:13] lbergelson opened #462 "Remove/Clarify Error: Could not find or load main class message"
An error message `Error: Could not find or load main class` has started appearing when starting htsjdk and software that includes htsjdk.  That message doesn't appear anywhere in htsjdk itself, and seems to have started happening around the time we introduced SRA support.

This error message should be suppressed, or at the bare minimum be more descriptive.

[2016-02-04 20:17] lbergelson commented on #462
@a-nikitiuk @kwrodarmer Any idea if this is coming from SRA somehow?  It's the obvious candidate, but I can't find that message in the SRA code.  It's a worrying message that has been confusing people.  It's also possible it's unrelated to SRA.

[2016-02-04 21:18] a-nikitiuk commented on #462
This message comes from SRA when it tries to launch a new process to perform a version check of installed native libraries. That message should disappear after first execution of SRA, since it records version of a found/downloaded library to special properties file and does not launch version checking next time. That error should already be fixed in ngs-java-1.2.3.jar (currently HTSJDK uses ngs-ja

[2016-02-04 21:19] lbergelson commented on #442
@kwrodarmer I didn't mean to attack the test suite in general.  We're trying to make it so that everyone can live in harmony and happiness, and fixing problems as we find them is a necessary part of that.

1)  We do indeed want adequate tests.  Extensive testing is good, and this will by necessity include tests that use network access.  We would like to limit network access though because it's a c

[2016-02-04 22:00] lbergelson commented on #462
Thanks @a-nikitiuk  for the information!

[2016-02-04 22:09] kwrodarmer commented on #442
@lbergelson:

I think we're in agreement with having adequate tests. What about the possibility of dividing the tests into +SRA and -SRA, where the former would imply the user's agreement that they want to use SRA facilities, probably including network access, downloads of native code, establishing cache areas, etc., and the latter would exclude SRA from the testing? Or perhaps divide them into ne

[2016-02-05 15:36] dianalemos commented on #457
I want to see all the data in the file by accessing small parts of the file each time.

[2016-02-08 14:50] vadimzalunin opened #463 "SeekableFTPStreamHelper: reply ignored"
in particular at line 111:
           reply = ftp.retr(path);

            InputStream is = ftp.getDataStream();

In debug mode I can see that the reply comes back as 550: "Failed to open file". Then it just hangs on the first attempt to read data from the stream.

[2016-02-08 19:19] vadimzalunin opened #464 "FTP client can't handle URL encoded file names"
URLs that contain a '#' in the file name are impossible to download using the FTP client.
If the URL is not url encoded (contains '#' character in file name) then URL.getPath() method thinks this is a reference (anchor) and removes trailling characters from 'path' element.
If the URL is url encoded then htsjdk.samtools.util.ftp.FTPClient.size(path) can't find the file.

Example URL: ftp://ftp.sra.

[2016-02-09 14:40] ronlevine commented on #437
@yfarjoun Could you review the accompanying pull request? It should be ready momentarily.

[2016-02-09 14:44] yfarjoun commented on #437
It will not be this week, as I"m out conferencing in agbt. but if it can
wait for next week then sure.

Y.

On Tue, Feb 9, 2016 at 9:40 AM, Ron Levine <notifications@github.com> wrote:

[2016-02-09 14:50] ronlevine commented on #437
@yfarjoun Thanks. I'll look at your comments next week while I'm in Miami.

[2016-02-10 15:07] cmnbroad commented on #362
Closing via #400.

[2016-02-10 15:07] #362 closed

[2016-02-10 15:23] cmnbroad commented on #404
Closed via https://github.com/samtools/htsjdk/pull/432.

[2016-02-10 15:23] #404 closed

[2016-02-10 15:26] cmnbroad commented on #394
Closed via https://github.com/samtools/htsjdk/pull/399.

[2016-02-10 15:27] #394 closed

[2016-02-10 15:28] cmnbroad commented on #124
@vadimzalunin Can we close this ?

[2016-02-10 15:29] cmnbroad commented on #148
@vadimzalunin Can this be closed ?

[2016-02-10 15:32] cmnbroad commented on #222
@vadimzalunin Can this be closed ?

[2016-02-10 15:35] cmnbroad opened #467 "CRAM writers produce v2.1 CRAM instead of v3.0 by default"
@vadimzalunin Is there any reason we're not creating v3.0 by default ?

[2016-02-11 09:36] #148 closed

[2016-02-11 09:36] #222 closed

[2016-02-11 09:37] vadimzalunin commented on #467
@cmnbroad not really but let me double check...

[2016-02-11 10:52] lindenb opened #469 "CloserUtil.close() doesn't catch " java.io.IOException: Stream Closed" throwed by two BinaryCodec.close"
Hi,
In my code, I used **CloserUtil.close()** to be sure that my **VariantContextWriter** is closed, but an exception is raised. I would say that **BinaryCodec** is missing a system to verify that the stream is already closed ?

[code]

Pierre

[2016-02-11 11:03] vadimzalunin opened #470 "FTPClient: line separator in FTP commands"
On our RHEL4 server the FTPClient.login() hangs after USER command (nothing comes back) and a plausible cause is line separator.
The issue resolves after replacing PrintStream.println(cmd) with writing out explicit cmd bytes followed by 0xD 0xA.

The current version works fine on my Windows and Ubuntu (?) but on RHEL4 it hangs. On linux System.getProperty("line.separator") is 0xA but this alone do

[2016-02-11 19:58] lbergelson opened #471 "Investigate potential Fasta reader performance regression"
There was a report about terrible performance reading zipped fasta files in GATK.  Since no changes were made to FASTA reading in GATK itself it's possible that this is due to changes in htsjdk.

Those with access can view it here: https://github.com/broadinstitute/dsde-docs/issues/570

The relevant report is:

[code]

We did recently touch the fasta reader in  4f550e1f1afabf21467957fa672ca2a4ad45

[2016-02-11 19:59] droazen commented on #471
Will discuss this with @cmnbroad today and see if he has time to look into this.

[2016-02-11 20:04] droazen commented on #471
The original report is: http://gatkforums.broadinstitute.org/gatk/discussion/6977/large-number-of-pread-system-calls-on-the-reference-sequence-fasta-file/p1

[2016-02-11 20:10] #436 closed

[2016-02-12 14:58] cmnbroad opened #472 "SAMFileWriterFactory doesn't use getDefaultCRAMReferenceSource"
to navigate the reference fallback chain. Its called from the reader factory but not the writer factory. It should be called from SAMFileWriterFactory.createCRAMWriterWithSettings.

[2016-02-12 23:52] akiezun commented on #378
The definition of API needs to be carefully considered. Technically, because most htsjdk classes are not `final` (and thus subclassing is allowed and subclasses are considered API customers) pretty much *everything* is public API - ie even the order of operations in a private method can affect subclasses. In this trivial example, `SuperA` cannot reorder `m1` and `m2` in the private method `m` beca

[2016-02-15 13:44] vadimzalunin opened #475 "File URLs cannot be open"
Here:
htsjdk.samtools.seekablestream.SeekableStreamFactory.DefaultSeekableStreamFactory#getStreamFor(java.lang.String)

this does not work for file URLs  like 'file:/...'  because:
SeekableFileStream(new File(path)) where path is not a path but a string form of file URL.

[2016-02-16 14:03] vadimzalunin commented on #467
https://github.com/samtools/htsjdk/pull/478

[2016-02-16 16:28] cmnbroad commented on #471
It looks like the current release of GATK is still on htsjdk 1.141, and the nio Path change was first released in 2.0.0, so I don't think its that. It does look like there have been a couple of other changes that could affect this though. Next step is to verify that.

[2016-02-16 20:12] cmnbroad commented on #471
It looks like https://github.com/samtools/htsjdk/commit/e6ba234b47050bc037a1023daed64350d6e11209 caused a performance regression. It greatly reduced the size of the read buffer, thereby increasing the number of system calls required to retrieve a large sequence. This is especially dramatic in the case of the GATK CachingIndexedFastaSequenceFile, which retrieving and caching megabase sized shards.

[2016-02-16 20:36] droazen commented on #471
Ouch -- in other words, that change was designed to improve performance when retrieving small sequences, and in the process it killed performance for retrieving large sequences? What do you suggest we do here?

[2016-02-16 20:38] tfenne commented on #471
@cmnbroad & @droazen I think that's just a bug.  The offending line:
[code]
should be dividing, not mod'ing right?
[code]

[2016-02-16 20:41] cmnbroad commented on #471
@tfenne Exactly right.

[2016-02-16 20:41] droazen commented on #471
@tfenne Good catch -- mod makes no sense at all there.

[2016-02-16 21:54] cmnbroad commented on #471
FWIW, if I traced the history right, this bug has been in htsjdk since 1.133 and in GATK since 3.2.

[2016-02-17 09:23] #124 closed

[2016-02-17 09:24] #218 closed

[2016-02-17 10:28] vadimzalunin commented on #401
Short story: effectively 'end' is not used in CRAM random access. Perhaps since 'end' is exclusive then it would be cleaner to set it to offset+1.

More words:
This is because slices are addressed via landmarks. The 16 bits of BAI pointer is not enough to address bytes within container which is normally 100k-1m bytes long. Instead of byte offset BAI pointers are used to store the ordinal index of

[2016-02-17 16:51] lbergelson commented on #471
Should we consider adding performance tests?  It would be nice to have an automated way of verifying we haven't made any horrible performance regressions.

[2016-02-17 18:47] tfenne commented on #378
I've been spending some time lately writing some code in [rust](http://www.rust-lang.org) and they have an interesting idea that might be worth bringing up here.  On top of the usual mechanisms (access levels, final/not-final) they have a notion of stable/unstable APIs.  In rust this is managed by the compiler and macros, but it could easily be done using annotations in Java.

The idea is that pub

[2016-02-17 18:50] tfenne commented on #435
Fixed in #454

[2016-02-17 18:50] #435 closed

[2016-02-17 19:30] lbergelson commented on #378
@tfenne  I've been thinking about ways to manage this as well.

The spark / hadoop projects use what you're describing, annotations marking the stability level of classes and methods.  ([some annotations here](https://github.com/apache/spark/tree/master/core/src/main/java/org/apache/spark/annotation))

The key element we need is tooling to support automatically identifying changes to the api.  Oth

[2016-02-18 11:11] GWarsow commented on #433
Creation of cram index files during CRAM writing is not yet supported in cramtools (neither bai nor crai). I commented on this just to avoid that others may get confused when they read above cited statement.

Best
Gregor

[2016-02-18 13:11] bhandsaker opened #481 "CRAM files do not support zero for start/end coordinates when doing interval queries"
I believe there is a bug in CRAM support where it is not handling zero correctly for the start/end coordinates for query(), queryContained() and queryOverlapping().  The API specifies that zero should treated as either beginning of sequence (for start coordinate) or end of sequence (for end coordinate). In particular, using query(chr,0,0) should return the whole chromosome, but currently returns n

[2016-02-18 16:01] droazen commented on #481
@vadimzalunin, could you take this one?

[2016-02-18 19:22] cmnbroad opened #483 "Ensure bam->cram->bam roundtripping is completely lossless"
This is related to https://github.com/samtools/htsjdk/issues/455, but we also need to add tests to verify this in general. Specifically, we need to ensure that the NM tag is regenerated using the same algorithm used by Picard. It looks like the CRAM code is using SequenceUtils.calculateMdAndNmTags (with restoreMD set to false), whereas it looks like Picard is using SequenceUtils.calculateSamNmTag.

[2016-02-18 19:33] cmnbroad commented on #455
We should think about whether the right thing to do for these tags is to just preserve them when they exist (rather than regenerating them, since we don't have a way to remember whether they existed or not), and only use regeneration on request when a lossy mode has been used.

[2016-02-18 19:41] droazen commented on #455
@vadimzalunin This is becoming a more urgent issue for us, as it prevents us from being able to round-trip bam -> cram -> bam in htsjdk with no differences. I vote that in lossless mode, NM and MD should just be treated as normal tags to facilitate this goal. @eitanbanks @ktibbett do you agree?

[2016-02-18 19:51] ktibbett commented on #455
@droazen , what does "treated as normal tags" mean?

[2016-02-18 19:53] droazen commented on #455
@ktibbett It means: if they are already present, they are preserved (not stripped out) during conversion, and if they are not already present, they are not added automatically.

[2016-02-18 21:53] yfarjoun commented on #455
I agree. lossless is clear: preserve the information as given.

On Thu, Feb 18, 2016 at 2:53 PM, droazen <notifications@github.com> wrote:

[2016-02-19 00:05] d-cameron commented on #371
Are there any plans to optionally enforce header typing on VariantContext attributes? It'd be nice if we could assume that the type in the header actually round-trips and matches the type defined in the header for that field. Currently we have to do something along the lines of [this](https://github.com/PapenfussLab/gridss/blob/master/src/main/java/au/edu/wehi/idsv/AttributeConverter.java) to get

[2016-02-19 10:21] vadimzalunin opened #485 "CRAM: EOF container is not read through"
htsjdk.samtools.cram.structure.ContainerIO#readContainer(int, java.io.InputStream, int, int)

For EOF containers the method reads only container header, leaving the remaining container bytes in the stream. While this does not cause any problems normally it may affect some higher-level activities like reading multi-cram streams.

[2016-02-19 11:29] vadimzalunin opened #486 "identical files in testdata"
testdata/htsjdk/samtools/BAMFileIndexTest/index_test.bam
testdata/htsjdk/samtools/ValidateSamFileTest/bad_index.bam

md5 is 05f635c2aac2b2a146bf9570112a0c22 for both, half a megabyte each.

Given git de-dups files this may not be an issue though. I'm just looking for a descent test dataset and not sure if I should upload another file or try re-use an existing. What's out policy on test data? Perha

[2016-02-20 15:51] ktibbett commented on #455
Yep, sounds good.

[2016-02-22 23:18] cmnbroad commented on #402
This is actually overstated; its only array valued attributes where the reference equality fails to do the right thing.

[2016-02-22 23:20] vadimzalunin opened #492 "Design question about SAMFileSpan"
afaics `BAMFileSpan` is the only implementation of `SAMFileSpan`. What is the idea behind this abstraction? Here the usage pattern:
`final Chunk newChunk = ((BAMFileSpan) rec.getFileSource().getFilePointer()).getSingleChunk();`

The methods `removeContentsBefore` and `getContentsFollowing` are not used anywhere in htsjdk, do we still need them?
What is the use case of `isEmpty` method? Given that

[2016-02-22 23:38] d-cameron opened #494 "Leaking file handles"
htsjdk contains a number of locations that leak file handles. Typically, these are located in header parsing and file format determination code which opens additional file handlers which are then not closed. In places where they do call close(), the close() operation is not in a finally block thus a file handle is still leaked when an exception is thrown.

This behavior could be an explanation for

[2016-02-23 10:48] dianalemos opened #496 "VCFFileReader query doesn't work for all regions"
When I use this method for small regions in a file with millions of lines, it doesn't query that region.
Example: CloseableIterator<VariantContext> vc = fileR.query("10", 122751783, 122779589);

[2016-02-23 17:53] lbergelson commented on #496
Hi @dianalemos thanks for this report.

If you make a smaller file with just the region around your query does it correctly query from that?

When you say "doesn't query that region" what do you mean exactly, does it return an empty iterator, throw an exception, return features from somewhere else?

[2016-02-23 18:20] dianalemos commented on #496
"doesn't query that region" the algorithm run without any error but doesn't return anything.
For example: `CloseableIterator<VariantContext> vc = file.query("10", 49315876, 49326817)` I have this region in the file but when I run the code it doesn't recognize the region. The CloseableIterator is empty.
But if I start in a position closer to the beginning of the chromosome with the same end positio

[2016-02-23 20:20] cmnbroad opened #499 "SAM->CRAM->SAM round-tripping doesn't preserve unsigned attributes as unsigned"
The values appear to come back but testing for equality between the before/after records fails due to the attributes having different classes (SAMBinaryTagAndValue vs SAMBinaryTagAndUnsignedArrayValue).

Note sure if CRAM has a way to persist that the attribute is unsigned or not, but this is nominally caused by isReadTag.getValueAsByteArray calling ReadTag.writeSingleValue and unconditionally pas

[2016-02-23 23:52] bhandsaker opened #500 "VCF header lines get dropped"
### Verify
Can you see anything in the logs?
Make sure your issue is not already in the [htsjdk issue tracker](https://github.com/samtools/htsjdk/issues?q=)

### Subject of the issue
In htsjdk 2.1.0, the VCFHeader class will silently drop header lines with the same key but distinct IDs for all keys except INFO, FORMAT, FILTER and contig.  For example, ALT tags (other than the first one) get droppe

[2016-02-24 15:47] droazen commented on #496
@dianalemos Is your file indexed? If it is, can you try deleting and re-creating the index file?

[2016-02-24 15:50] droazen commented on #499
@vadimzalunin Can you have a look at this?

[2016-02-24 17:51] dianalemos commented on #496
I used tabix to generate the indexed file and then I read my file with `VCFFileReader file= new VCFFileReader(new File("file.vcf"), new File("fi.vcf.gz.tbi"), true); `

I tried to create different files but all of them work the same.

[2016-02-24 17:55] droazen commented on #496
@dianalemos Your filenames (`file.vcf` and `fi.vcf.gz.tbi`) suggest that tabix was used to index a gzipped vcf called `fi.vcf.gz`, but then you attempted to use that index with a *non-gzipped* vcf called `file.vcf`. Could this be the problem?

[2016-02-24 18:08] droazen opened #503 "Serve http test data on a different host"
Some tests rely on test data currently hosted at `http://www.broadinstitute.org/~picard/testdata/`. Since the Broad is going to stop serving data from user directories, this will have to be moved to a different host.

[2016-02-25 09:29] dianalemos commented on #496
That was the problem. I was totally destracted. Thank you.

[2016-02-25 09:29] #496 closed

[2016-02-29 21:45] cmnbroad opened #506 "SAMFileHeader in CRAM files is missing attributes required by the CRAM spec"
AFAICT, CRAM files created with htsjdk contain the samFileHeader that was passed in to the CRAM writer, whether or not it has the attributes required by the CRAM spec.The following are missing:
- The SQ:MD5 checksum is required unless the reference sequence has been embedded into the file.
- At least one RG record is required.
- UR (URI for the sequence fasta) field is strongly advised

I think we

[2016-02-29 22:45] cmnbroad commented on #471
The fix for what we believe to be the regression that caused this went in with https://github.com/samtools/htsjdk/pull/479.

[2016-02-29 22:45] #471 closed

[2016-03-01 10:31] tomwhite opened #507 "VCFFileReader can't read BCF files with IDX fields in the header"
IDX fields have been allowed since BCF v 2.2 (see end of http://samtools.github.io/hts-specs/VCFv4.3.pdf). The file ex2.uncompressed.bcf in the htsjdk source has IDX fields and cannot be parsed by VCFFileReader, see:

[code]

I've written a unit test to reproduce: https://github.com/tomwhite/htsjdk/commit/fffc1d5ca02a35c41a89e29e62ea0f5fc5646ced

[2016-03-01 10:32] tomwhite commented on #507
Any thoughts on how to fix this @lbergelson, @droazen?

[2016-03-01 11:48] vadimzalunin commented on #506
ah, yes, this is done in cramtools by i missed it here...

[2016-03-01 15:52] droazen commented on #507
@tomwhite htsjdk does not support the latest BCF spec -- we should probably change the parser to throw if it encounters an unsupported BCF.

I suspect that there are ways in which htsjdk is not fully compliant with the latest VCF spec, either -- we may need to allocate an engineer next quarter to go in and make sure we're fully VCF 4.3-compliant, and bring us up to spec if we're not.

[2016-03-01 16:05] tomwhite commented on #507
OK, thanks for the update. I was surprised because a test file in the htsjdk source tree cannot be parsed by the htsjdk parser...

[2016-03-01 16:07] droazen commented on #507
Your surprise is very justified!

[2016-03-02 15:12] cmnbroad opened #509 "CRAM 2.1 doesn't handle reads with missing bases correctly"
See [this comment](https://github.com/samtools/htsjdk/blob/281dde6e564c2204c345e8d72451d54a09a492f7/src/tests/java/htsjdk/samtools/CRAMComplianceTest.java#L152) in CRAMComplianceTest. The commented out tests do fail for several of the test inputs (with the restored record having lost the read bases that were in the original read).

I'm not sure where/what the underlying problem is, but we should p

[2016-03-02 15:13] cmnbroad commented on #509
@vadimzalunin Do you know what the issue here is ?

[2016-03-02 15:31] vadimzalunin commented on #509
@cmnbroad vaguely remember, this is one of the corner cases where there is no bases in the read. CRAM 2.1 does not recognize the difference between N bases and a single star (*) causing roundtrip mismatches.
I don't think this can be fixed as this is a specification issue. A warning perhaps?

[2016-03-03 22:40] lbergelson opened #512 "BAMIndexer should throw if file is not coordinate sorted"
Since creating a `.bai` index requires that a bam be coordinate sorted, it seems like `BAMIndexer` should check that the file it is indexing is in the correct order.  Since it has access to the `SAMHeader` it can trivially check this for essentially no cost.

[2016-03-04 21:13] cmnbroad opened #513 "NPE when validating a CRAM file with a .fasta reference with no .dict file"
If you pass in a .fasta file for which there is no corresponding .dict file to SamFileValidator you'll get an NPE during NM tag validation. Even though the bug isn't specific to CRAM files, I'm tagging it with the CRAM tag since its way more likely to happen when you're required to pass a reference, as is the case for CRAM files.

java.lang.NullPointerException
    at htsjdk.samtools.reference.Ref

[2016-03-04 23:42] ronlevine commented on #437
I think this should be closed.

[2016-03-07 15:18] #437 closed

[2016-03-08 18:46] heuermh opened #517 "VCF4Parser.parseLine throws exception on optional Source and Version tags in INFO header"
Given VCFv4.2 header with Source and Version tags in `##INFO` header line

[code]

we're getting an exception thrown from htsjdk via HadoopBam

[code]

The same stack trace can be replicated by Picard

[code]

From the VCFv4.2 specification:
### 1.2.2 Information field format

INFO fields should be described as follows (first four keys are required, source and version are recommended):

[code]

[2016-03-09 18:13] jkbonfield opened #518 "CRAM: types for HUFFMAN codecs"
### Subject of the issue
In an attempt to produce a cram_filter tool to drop specific columns, I seem to have hit an issue in the htsjdk decoding which I am unsure about.

Specifically when I drop the quality string, I replace it with a HUFFMAN codec with 1 value (fixed quality, eg 40) and 1 bit-length (zero).  Ideally I'd use quality 255 so the quality comes back at "*", but for some reason that'

[2016-03-10 22:20] tfenne opened #520 "Appetite for a non-backwards compatible upgrade to core APIs?"
Calling @akiezun @lbergelson @vadimzalunin @nh13 @yfarjoun @droazen (and anyone else who's interested)!

I'd like to start some discussion to see if there would be appetite in collaborating on a newer, non-backwards compatible API for some or all of the major APIs in htsjdk?  By _major_ I mean SAM/BAM/CRAM/etc. and also VCF/BCF, with a focus on the former first.

To be specific, what I'm proposing

[2016-03-10 22:37] lindenb commented on #520
Interfaces , Factories, etc.. : +1
count me in, please

[2016-03-10 22:43] nh13 commented on #520
I am in, given the same circumstances.

[2016-03-10 22:44] lbergelson commented on #520
I'm very interested in this.  I've been dreaming of a major htsjdk rewrite for a while now.  I don't know how much time we can dedicate to it though.

[2016-03-11 02:49] akiezun commented on #520
I'm supportive of this though I'm not sure how much we'll be able to contribute to the actual coding. We'll be happy adopters though! And we have opinions and ideas which we can share. When you have a place to make wishlists, I'm happy to add some wishes too.

[2016-03-11 03:05] kwrodarmer commented on #520
I suggest you take a look at the [NGS API](https://github.com/ncbi/ngs). It was designed for exactly this purpose.

The API itself is format and archive neutral, and supports pluggable back-end engines. A tool can access SRA/SAM/BAM/CRAM/etc. all within the same process. The back-end architecture makes it possible to interface via REST or file or whatever.

[2016-03-15 01:25] d-cameron commented on #520
I have some interest in developing a symbolic allele API for BCF/VCF. As it currently stands, I'm already wrapping VariantContext to expose a specialised API for my purposes, but a properly designed htsjdk API would be much more useful in the general case.

[2016-03-15 20:35] yfarjoun commented on #520
I would be very happy for a cleaner API, and would be happy to participate
in the discussion about user-stories and API. I would also be happy to help
with the move of various picard tools over to the new api assuming (of
course) that it indeed results in cleaner and clearer code.

I hesitate to promise any assistance in the implementation because
a) I'm not a software engineer, so I am uncertain

[2016-03-16 07:11] magicDGS commented on #520
+1

As a final user of HTSJDK for development, I would like to have interfaces with well-defined contracts.For instance, I was struggling to made a class to work with base qualities in both both `FastqRecord` and `SAMRecord`, and `Read` interface with a contract for `getBaseQualities()` will be very useful.

[2016-03-16 10:18] vadimzalunin commented on #520
I'm in.
NGS API approach is certainly interesting. Also there is GA4GH attempt to describe reads in a formal way.

[2016-03-16 14:13] droazen commented on #520
@tfenne I'll echo what other members of the GATK dev team have said: we're supportive of the idea and would like to be involved in the design discussions, but we're unsure how much development effort we could actually contribute. If the superiority of the new APIs is compelling enough, we might be able to allocate a few weeks of an engineer's time if our other obligations permit it.

From the GATK

[2016-03-17 15:37] jacarey opened #523 "Errors inflating Intel deflated bams."
Bams generated after https://github.com/samtools/htsjdk/pull/515 are causing issues when we try to inflate them.

@mishalinaik  @akiezun

[Thu Mar 17 11:22:51 EDT 2016] picard.sam.ValidateSamFile INPUT=test3.bam    MODE=VERBOSE MAX_OUTPUT=100 IGNORE_WARNINGS=false VALIDATE_INDEX=true INDEX_VALIDATION_STRINGENCY=EXHAUSTIVE IS_BISULFITE_SEQUENCED=false MAX_OPEN_TEMP_FILES=8000 VERBOSITY=INFO QUIET=f

[2016-03-17 15:40] akiezun commented on #523
oops. @mishalinaik can you fix this ASAP and add a test to prevent this error in the future?

[2016-03-17 15:44] akiezun commented on #523
really, it's my bad for not testing this before merging. I'll take on writing tests ;)

[2016-03-17 15:45] mishalinaik commented on #523
@jacarey I will try to reproduce the issue

[2016-03-17 15:52] jacarey commented on #523
Thanks. I can provide a truncated bam if that helps. You can see the issue in the first block. Block header seems fine but the native inflater is choking on it.

We are using the old libIntelDeflater.so for now but we have about 2 days of production bams that are current broken and we would like to evaluate the chances of recovering them without have to reanalyze.

[2016-03-17 16:00] jacarey commented on #523
Not sure if it helps but just running a verbose test with gunzip I get:

gunzip -tv < /pod/pod2temp/pod2/tmp/HL3YGCCXX/C1-318_2016-03-09_2016-03-12/1/NexPond-504973/HL3YGCCXX.1.aligned.bam
gzip: stdin: extra field of 6 bytes ignored

gzip: stdin: invalid compressed data--format violated

[2016-03-17 16:06] mishalinaik commented on #523
@jacarey Thanks I was able to reproduce the bug, working on it now. Will let you know.

[2016-03-17 17:20] mishalinaik commented on #523
@jacarey @akiezun I found the issue it was with igzip build, I have rebuilt IntelDeflater.

[2016-03-17 17:39] jacarey commented on #523
@mishalinaik is there any chance of recovering the bams we created using this. We currently have about a full day and half of production data that has unusable bams.

[2016-03-17 18:24] droazen commented on #523
@jacarey @ktibbett Is it finally time to consider building for production off of a stable branch rather than HEAD, to guard against regressions like this that crop up during development?

[2016-03-17 18:34] jacarey commented on #523
@droazen @akiezun I think that without tests there is a very good chance this would have made it in to a stable branch as well. In addition to the fact that knowing the current state of things (we use master as our production stable branch) changes like these should be properly vetted.

I spent the morning tracking this down and once I found the issue was able to test in by simply trying to gunzip

[2016-03-17 18:48] lbergelson commented on #523
Does this happen on every bam that's compressed with the new inflator?  Or is it only some specific rare case?  I don't understand how this wasn't caught by the htsjdk test suite, which surely writes/reads bams?  Or are there no tests that actually use the intel deflator at all in htsjdk?

[2016-03-17 18:53] jacarey commented on #523
@lbergelson It is actually the deflater that has the issue. If the libIntelDeflater.so file is found in the bin dir with the jar htsjdk clps attempt to use it.

In this case the blocks are not valid gzip blocks and so the java inflater can't decompress them.

This is for every bam that has been generated for the last day and half. I'm guessing that all the tests use the standard JDKDeflater and so

[2016-03-17 19:07] lbergelson commented on #523
@jacarey I understand it's the deflator that has the issue.  I was just trying to figure out where the hole in our tests is.  It must be that the deflator is never used in the htsjdk tests, which is a sad state of affairs.

[2016-03-17 19:11] droazen commented on #523
@jacarey We all agree that this should have been tested before merge, but given the size of this project and the sheer number of contributors, mistakes like this will occasionally sneak in. The frequency of these breakages suggests that master is not really usable as a stable branch. With a separate branch isolated from bleeding-edge development you could at least run a heavy-duty set of stress te

[2016-03-17 22:08] ktibbett commented on #523
@lbergelson , yes, the picard tests passing are a condition of doing a release internally.

@droazen, we can discuss a better solution (and the resources to implement it) shortly.

@mishalinaik, urgently: is there any solution that would let us recover these BAMs?   Even a one-off script for re-writing them would be much, much  better than re-analyzing from scratch.

[2016-03-17 22:13] lbergelson commented on #523
Does that mean that there isn't a single test in either picard or htsjdk that writes a bam and then reads it again?

[2016-03-17 22:57] jacarey commented on #523
@lbergelson Not using the Intel Deflater no.

[2016-03-17 23:00] akiezun commented on #523
But production does use the IntelDeflater? So production just takes untested code and deploys it daily?

[2016-03-17 23:14] jacarey commented on #523
@akiezun Clearly the lack of testing here is an oversight. I think in part it has to do with the awkward way that the DeflaterFactory works.

I still maintain that because this change affects the output of ALL bams that use the deflater that we should have be absolutely sure the files being written were viable.

[2016-03-17 23:21] akiezun commented on #523
@jacarey I do accept my part of the responsibility here - I should have tested it more and will make new tests once we have a fix. But the system is clearly imperfect and we should work together on making it more robust.

[2016-03-18 15:13] lbergelson opened #525 "libIntelDeflater.so is not packaged in published jar"
`libIntelDeflator.so` isn't included in the jar that is uploaded to maven.  This seems like an oversight.

We should fix the maven upload to include it.

[2016-03-18 19:27] mishalinaik commented on #523
I have made the pull request with the fix and a test.

[2016-03-21 21:15] cmnbroad commented on #518
@vadimzalunin Can you take a look. IIRC this may be the result of the multiref PR ?

[2016-03-21 21:40] cmnbroad opened #531 "BAMIndexMetaData incorrect when index results from .crai->.bai conversion"
The BAMIndex metadata that results from internal conversion of a .crai index to a .bai has incorrect values for "alignedRecords" and "unalignedRecords."  It looks like alignedRecords is set to the size in bytes of the original slice that corresponds to the CRAI entry (for multi-ref slices there can will be a CRAI entry for each reference covered by the slice), rather than the number of records cov

[2016-03-22 09:53] vadimzalunin commented on #518
qscore 255 (-1) is used internally for lossy models to mask discarded positions so it may interfere, I need to check.

The reason for not implementing Huffman<byte[]> is that it seemed impractical but now this looks like a good use case.

[2016-03-22 14:17] cmnbroad commented on #455
Closed via https://github.com/samtools/htsjdk/pull/487

[2016-03-22 14:17] #455 closed

[2016-03-22 15:21] cmnbroad opened #535 "CRAMFileReader doesn't always honor index caching and memory mapping"
Some of CRAMFileReader constructors eagerly initialize the BAM index when the constructor is called, and some defer index initialization until getIndex is called. Only the deferred ones honor index caching; they should probably all be changed to defer, since enableIndexCaching and enableIndexMemoryMapping can't be set until after the object is constructed. (The number of constructor should probabl

[2016-03-22 17:23] magicDGS opened #537 "Request: support for GTF/GFF format"
### Support for GTF/GFF formats
[GTF](http://mblab.wustl.edu/GTF22.html) and [GFF](http://gmod.org/wiki/GFF3) are the usual formats for annotations in the genome, and even the `TabixFormat` includes a GFF default. Thus, I wonder if it could be possible to implement a `Feature` and `FeatureCodec` for these formats. I found that the IGV team have implemented a `GFFCodec` and `GFFFeature` which could

[2016-03-22 17:46] lindenb commented on #537
FYI: there is one in IGV: http://data.broadinstitute.org/igv/projects/downloads/IGVDistribution_2.1.11/src/org/broad/igv/feature/tribble/GFFCodec.java

[2016-03-22 17:57] lbergelson commented on #537
Thanks for pointing that out Pierre.  It's important to note thought that
the IGV implementation is LGPL which may not be universally acceptable to
all users.

On Tue, Mar 22, 2016 at 1:46 PM, Pierre Lindenbaum <notifications@github.com

[2016-03-22 18:20] magicDGS commented on #537
I also noted it in the description... should I add the link pointing to the file?

[2016-03-22 18:23] lbergelson commented on #537
Oh, sorry @magicDGS.  I saw your comment and Pierre's at the same time and didn't read yours carefully enough.

[2016-03-23 13:36] bpow opened #540 "runtime dependency on ant unnecessary(?) and ExternalCompression#bzip2 broken"
### Subject of the issue
Described (and addressed) in PR #533. I don't know if adding an issue is needed as well for tracking or visibility.

htsjdk.samtools.cram.io.ExternalCompression does not have any tests, but I noticed that ExternalCompression#bzip2 uses BZip2CompressorInputStream, which per the commons compress documentation, is "An input stream that decompressed from the BZip2 format..." S

[2016-03-24 12:31] lindenb opened #541 "Copy() and copy constructor in VariantContextBuilder"
### Subject of the issue

the method copy() ( https://samtools.github.io/htsjdk/javadoc/htsjdk/htsjdk/variant/variantcontext/VariantContextBuilder.html#copy-- ) in `VariantContextBuilder` is not documented and the copy constructor is wrongly implemented if the behavior is to `clone()` the parent.

I found this when I expected to run many variantctxbuild.copy() in my tests to re-use an pre-filled V

[2016-03-24 18:56] droazen commented on #531
@vadimzalunin Can you comment on this?

[2016-03-24 20:04] cmnbroad commented on #531
I think the problem is [here](https://github.com/samtools/htsjdk/blob/master/src/java/htsjdk/samtools/cram/CRAIIndex.java#L143) where the field is set during conversion, though the real problem is that during conversion we don't have access to the correct #.

[2016-03-28 13:54] cmnbroad commented on #472
Note that this change will break the picard SamFileConverter CRAM tests because the tests don't use a reference, but instead rely on the fact that the test file has only unmapped reads: https://github.com/broadinstitute/picard/blob/master/src/tests/java/picard/sam/SamFileConverterTest.java#L75.

[2016-03-30 17:55] davidbenjamin opened #544 "Change AD Number in VCF Header"
See issue #1286 in broadinstitute/gsa-unstable.  VCF headers have

`##FORMAT=<ID=AD,Number=.,Type=Integer,Description="Allelic depths for the ref and alt alleles in the order listed">`

when they should have

`##FORMAT=<ID=AD,Number=R,Type=Integer,Description="Allelic depths for the ref and alt alleles in the order listed">`.

The former denotes an unlimited values for the AD field, the latter (co