[2016-03-31 14:15] davidbenjamin commented on #544
Made the change; the build is failing with `Invalid SRA accession was passed to SRA reader`  @lbergelson or @droazen any clue what that means?

[2016-03-31 15:20] nh13 opened #545 "SRA tests fail with missing accession"
### Description
See the travis build log: https://s3.amazonaws.com/archive.travis-ci.org/jobs/119821702/log.txt

[code]

This blocks https://github.com/samtools/htsjdk/pull/516 and likely any other PR that encounters these issues

### Desired Actions
I would like to know why the test failed and  what are the plans to ensure that the test does not fail in the future.   This may not be a new issue,

[2016-03-31 15:57] nh13 commented on #544
@davidbenjamin I am seeing the same thing in my PR.  Logged an issue: https://github.com/samtools/htsjdk/issues/545

Sigh.

[2016-03-31 16:29] davidbenjamin commented on #544
Thanks for letting me know @nh13!

[2016-03-31 18:43] a-nikitiuk commented on #545
NCBI had network connectivity issues today that resulted in bad database connections. Some of the issues have been cleared up already, but we continue to work on the problem. It has nothing to do with the NGS code and it is simply a network problem which resulted in a failure to resolve SRA accession that you saw in the tests

[2016-04-01 13:55] nh13 commented on #545
@a-nikitiuk that makes a lot more sense.  Is there somewhere we could check the status of SRA network connectivity in case this happens again?  A status page (ex https://status.github.com/) would be great to see the current and past uptime.

The error message should be improved.  The message states that an invalid accession was given but really it was a problem querying SRA due to network issues.

[2016-04-01 15:09] cmnbroad opened #547 "CRAMFileReader SAMRecordIterator implementations don't implement/honor assertSorted"
the assertSorted methods for IntervalIterator and MultiIntervalIterator just return null. The SamReaderSortTests should be updated to include CRAM tests when this is implemented.

[2016-04-01 15:10] cmnbroad commented on #481
@vadimzalunin I'm taking this one since I'm fixing some other bugs with indexing. Let me know if you've started on this already.

[2016-04-04 01:35] eitanbanks commented on #545
I agree that a better error message would be infinitely more helpful here.

[2016-04-04 11:01] yfarjoun opened #548 "Review "Party""
Tomorrow, April 5th, we will make a concerted effort to review the oldest 5 PR's. Folks should feel free to join us at:

https://plus.google.com/hangouts/_/broadinstitute.com/htsjdk-review?authuser=0&hceid=ZmFyam91bkBicm9hZGluc3RpdHV0ZS5vcmc.itolfci2q1kupsqd5mp2q5ag90

The PR's that will be reviewed are:

https://github.com/samtools/htsjdk/pull/232
https://github.com/samtools/htsjdk/pull/313
https

[2016-04-04 12:45] cmnbroad opened #549 "CRAMCompressionHeader skips unrecognized encoding tags"
I've not seen this actually happen, but it looks like CRAMCompressionHeader [just discards](https://github.com/samtools/htsjdk/blob/master/src/java/htsjdk/samtools/cram/structure/CompressionHeader.java#L173) any encoding key that it doesn't recognize, which seems like it could lead to data loss.

@vadimzalunin Can you take a look at this ? Shouldn't the code throw instead of log when this happpens

[2016-04-04 13:10] vadimzalunin commented on #549
I think this was done deliberately for compatibility some time ago. But I agree, default behaviour in htsjdk should be more strict.

[2016-04-04 13:23] nh13 commented on #548
#232 I am so excited!  Thank-you @yfarjoun and others for organizing this.  I wont be able to attend (Bio-IT) but I have tried to comment on the other PRs.

[2016-04-04 13:42] cmnbroad opened #550 "CRAM index queries don't handle unmapped/placed records correctly"
Records that are positioned but unmapped can be returned in both contained and overlap queries even if the records are positioned outside of the requested interval.

[2016-04-04 13:46] cmnbroad opened #551 "CRAM multi-interval queries return multiple instances of the same record"
If multiple intervals that do not overlap are specified, a single record will be returned multiple times, once for each interval that it matches.

[2016-04-04 20:01] a-nikitiuk commented on #545
As for status page, you can look at https://www.ncbi.nlm.nih.gov/Traces/sra/sra.cgi?view=announcement for any announcements in the future.

As for changing the error message, the current version of NGS API does not distinguish between network failure and a case when a provided accession does not exists. API only says, that it cannot resolve such accession to an SRA object, so we cannot change that

[2016-04-04 20:15] tfenne commented on #545
@a-nikitiuk At least the error message should be changed to be not misleading, even if it is not currently possible to differentiate between the two.  I.e. it could read `could not resolve SRA accession; possible causes are an invalid SRA accession or that the SRA is currently unavailable.  See  https://www.ncbi.nlm.nih.gov/Traces/sra/sra.cgi?view=announcement for SRA status`.

[2016-04-05 13:59] yfarjoun commented on #545
:+1: for informative error messages.

On Mon, Apr 4, 2016 at 4:15 PM, Tim Fennell <notifications@github.com>
wrote:

[2016-04-05 18:55] yfarjoun commented on #548
Summary of action-items/descitions:

- https://github.com/samtools/htsjdk/pull/232 trivial review requests, please merge after bugfix for issue ???
- https://github.com/samtools/htsjdk/pull/313 back to OC few remaining comments and a rebase
- https://github.com/samtools/htsjdk/pull/353 request for failing test-case and a rebase to fix commits
- https://github.com/samtools/htsjdk/pull/358 looks goo

[2016-04-05 18:56] lbergelson opened #555 "canDecodeFile in AbstractVCFCodec is broken"
`canDecodeFile` is always returning `false` because of changes in #526

It used to short circuit if one of the conditions was met, before trying to open the GZIP stream.
Now it always tries to open a gzip stream and throws.

[code]

[2016-04-05 22:27] #555 closed

[2016-04-07 19:44] droazen commented on #551
@vadimzalunin This is a pretty serious problem with the existing htsjdk CRAM implementation -- could we get your thoughts on how to fix this?

[2016-04-07 20:25] akiezun opened #558 "enable async IO for BAMs"
now that we're on htsjdk 2.2.1 we should switch to asyncIO for bams (not tribble)

- [ ] switch to asyncIO for bams (build.gradle)
- [ ] switch tests to use asyncIO for bams (build.gradle)
- [ ] update readme to say that we're using async IO
- [ ] measure and report performance impact on PrintReads, BaseRecalibrator and ApplyBQSR

[2016-04-07 20:25] #558 closed

[2016-04-07 21:18] nh13 commented on #551
Does that record overlap more than one interval?

[2016-04-07 21:25] droazen commented on #551
@nh13 Yes, but with bam multi-interval queries you only get each record that overlaps the array of `QueryIntervals` once (not once per individual interval it overlaps), which is the correct behavior according to the `SamReader` API:

     * Iterate over records that overlap any of the given intervals.  This may be more efficient than querying
     * each interval separately, because multiple reads

[2016-04-08 12:00] akiezun commented on #523
Is this now done? Can we close?

[2016-04-08 12:02] akiezun commented on #445
I guess this can be closed now, right?

[2016-04-08 12:04] akiezun commented on #290
@lbergelson what's the next step here?

[2016-04-08 12:06] akiezun commented on #167
I think this is blocked by the transition away from ant. Nothing supports ant anymore.

[2016-04-08 13:43] akiezun opened #559 "BAM async compression could use multiple threads"
Right now, only 1 thread per file is used. Compression easily has enough work for multiple threads and it would speed up the runtime

[2016-04-08 13:54] tfenne commented on #559
I think the real challenge here is how to control the level of thread creation, and how to handle situations where you are writing many BAM files (e.g. think of Picard's `IlluminaBasecallsToSam` which does demultplexing to BAM).

In an ideal world there could be a pool of threads whose size is configurable/controllable, that is used for all BAM compression and writing within a VM (or factory insta

[2016-04-08 14:23] akiezun commented on #559
agreed. A fixed-size pool of threads for all our bam needs (#482 shows that reading also benefits from multiple threads though it would probably not need more than 1 (?))

[2016-04-08 14:57] droazen commented on #167
We'll be looking at the ant -> gradle branch in the next code review party

[2016-04-08 15:00] tfenne commented on #167
That's great to hear @droazen !

[2016-04-08 18:24] lbergelson opened #560 "use a mock FTP server for FTP tests"
Our FTP tests hit a live FTP server and fail at random because of this.  We should replace them with tests that use a mocked ftp server instead.

[Mock FTP Server](http://mockftpserver.sourceforge.net/) might be a good way to go.

[2016-04-08 19:08] lbergelson commented on #290
No one else seemed interested in this, so I guess we close it?  I think the things I suggested are all good things to do if not particularly high priority.  I'll open tickets for them.  We already have #443

[2016-04-08 19:15] lbergelson opened #561 "find and replace usages of outdated Date/Time classes"
Since we've updated to java 8 we should check for usage of outdated java date and time classes and replace them with their safer java 8 alternatives.

[2016-04-08 19:54] vdauwera commented on #290
Assuming the title is misleading and you're talking about enhancements not related to switching to java 8 (seems to me that ship has long sailed) I support opening specific issues and closing this one.

[2016-04-08 20:11] lbergelson commented on #290
The idea was to brainstorm improvements that would be enabled by switching to java 8.  We've already switched, and there hasn't been a rush to refactor things, so it seems like no one is interested.

[2016-04-08 20:11] #290 closed

[2016-04-09 19:59] cmnbroad commented on #551
The current implementation creates a new query iterator for each interval, which is why the records get returned once for each interval they overlap. This is also inefficient as the entire stream is re-parsed from the beginning for each interval.

There is a proposed fix in https://github.com/samtools/htsjdk/pull/552, which creates a single CRAMIterator backed by the minimal file spans required to

[2016-04-09 20:12] cmnbroad opened #562 "CRAM queryUnmapped returns incorrect values with recordPerSlice=2000"
I used a[ large BAM](https://github.com/broadinstitute/gatk/blob/master/src/test/resources/large/CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam) file, converted to CRAM and compared the number of records returned from unmappedQuery:

BAM: 50,000 records
CRAM converted using samtools defaults: 50,000 records
CRAM converted using htsjdk: 50,000 records
CRAM converted using samtools, seqs_per_slice=2000: 65

[2016-04-09 20:22] cmnbroad opened #563 "CRAM reader allows simultaneous iterators, but with inconsistent state"
SamReader enforces that only one iterator exist on a given reader at a time, but this isn't enforced by CRAMFileReader, and can result in inconsistent state if the original source of the CRAM is a stream since the same stream can get re-positioned by both iterators. We should add the same guards (requiring the previous iterator to be closed) on new iterator creation as are implemented in BAMFileRe

[2016-04-10 14:15] akiezun opened #564 "race condition in AbstractAsyncWriter causing "java.lang.RuntimeException: Queue should be empty but is size:""
[code]

- [x] Make sure your issue is not already in the [htsjdk issue tracker](https://github.com/samtools/htsjdk/issues?q=)

### Subject of the issue
I think there's a race condition in AbstractAsyncWriter that is causing https://github.com/broadinstitute/gatk/issues/1699

The race is exposed by a context switch in the middle of evaluating the `||` condition of the writer thread

The scenario is

[2016-04-10 20:45] akiezun commented on #564
i think reversing the order of operations in the while loop will fix it, ie
[code]
because, if `isClosed()` returns false, then the main thread must have at least stared to execute the close() call and no new elements will be added to the queue. So, the queue emptiness status will not change while the two parts of the `||` are being evaluated.

Can someone confirm that there is indeed a race condi

[2016-04-11 14:52] droazen commented on #564
Discussed in person with @akiezun, and we convinced ourselves that there is indeed a potential race here due to the writer thread checking for emptiness while it's still possible to add additional items via the main thread. Checking for closure first, and only checking emptiness if the writer is already in a state where no more items can be added (ie., it's already closed) seems like it should fix

[2016-04-11 14:52] droazen commented on #564
@akiezun Should we disable async I/O in GATK4 until this is resolved?

[2016-04-11 15:56] akiezun commented on #564
@droazen if possible i'd rather fix this. but yes, if we have no fix for this by the time we close the milestone, we'll turn off asyncIO

[2016-04-11 20:06] akiezun opened #566 "webpages on building are obsolete"
http://samtools.github.io/htsjdk/building.html#BuildingHtsJdk

current text is obsolete wrt Java versions

"Building HTSJDK library requires Java 1.6. It may be built with the Java 1.7 compiler, but for maximum compatibility with Java 1.6 JVM, you should compile using the Java 1.6 libraries. This can be done in one of the following ways:

Set an environment variable JAVA6_HOME that points to your

[2016-04-12 20:39] cmnbroad commented on #402
@vadimzalunin In the course of trying to fix this bug, I'm trying to tighten up the contract for SAMBinaryTagAndValue and SAMBinaryTagAndUnsignedArrayValue (by, for instance, moving the isAllowedAttributeValue test code from SAMRecord into these classes, since restricting the types to the known list is required in order to get the copy/hash/equality semantics of those classes consistent).

But we

[2016-04-13 02:48] #564 closed

[2016-04-13 11:33] vadimzalunin commented on #402
This is for test convenience. I think I wanted to test that an out of range value is prohibited explicitly by the SAMRecord checks and everything else does not impose such restrictions. Perhaps this is not required any more.

[2016-04-13 19:58] droazen opened #568 "A proposal for improving the stability of htsjdk releases, and isolating production users from htsjdk development"
Htsjdk development has entered a riskier phase in the past year or so, with major new subsystems like CRAM and SRA support hitting master, as well as efforts to improve performance by relying on third-party libraries like the Intel deflator and features like asynchronous I/O. The end result has been that the master branch is less stable than it was in the past, and the HEAD of master should defini

[2016-04-13 21:03] yfarjoun commented on #568
Could you clarify what branch the releases will be on if not master?

It would be good to also solicit comment/concerns/suggestions from htsjdk's
many other users.

On Wed, Apr 13, 2016 at 3:58 PM, droazen <notifications@github.com> wrote:

[2016-04-13 21:11] droazen commented on #568
@yfarjoun The tagged releases will typically be on master, as they are currently, the difference being that tagged versions will need to pass the additional heavy-duty tests. If it becomes necessary to hotfix an existing tagged release, it's permitted to tag and release directly from a separate hotfix branch without waiting for master to become "release-ready", as long as the hotfix gets cherry-pi

[2016-04-13 21:26] droazen commented on #568
One point that I realize I forgot to touch on above is what we do when the Picard/GATK test suites that constitute our "heavy-duty" acceptance tests can't be run on a candidate release of htsjdk due to compile-time breakage. @lbergelson can you comment on this, since you seemed to think we could work around this issue during the recent meeting? Do we manually patch picard within our jenkins/CI set

[2016-04-14 00:10] nh13 commented on #568
Suppose a change is needed in `htsjdk` for a PR in `Picard`.  Does the PR in `Picard` have to wait for an `htsjdk` release?  Alternatively, will releases be performed more frequently?  Similarly, for other non-broad tools and tool-suites that may encounter the same situation, how is it decided to perform a release?  I like the predictability of the "every two week" release schedule (not including

[2016-04-14 01:08] droazen commented on #568
@nh13 I've attempted to address the issues you raised below:

* A truly fixed release schedule might not be possible to adhere to strictly, since master might happen to be failing the heavy-duty release tests at the preset times, but we should definitely make an effort to ensure that no more than 2-3 weeks elapse between releases.

* It should be possible to release htsjdk on request at **any** ti

[2016-04-14 01:17] nh13 commented on #568
This sounds very reasonable.  Thank-you for putting the effort into leading this effort.

[2016-04-14 12:48] vadimzalunin commented on #568
:+1

[2016-04-14 13:12] vadimzalunin commented on #551
@cmnbroad  I like the proposed solution very much given that iterator implementation is shared between BAM and CRAM.

[2016-04-14 13:19] vadimzalunin commented on #559
Sounds like a singleton blocking queue of BAM blocks. I've added a similar functionality in cramtools recently.
I think this should be generalized so that the same mechanism could be used for CRAM etc.

[2016-04-15 13:49] vadimzalunin commented on #531
the current CRAI spec doesn't have number of records per slice which is required for BAM metadata. Long story, but this is a known issue and should be addressed in the next CRAI release.
https://github.com/samtools/hts-specs/issues/146

[2016-04-15 20:32] lbergelson commented on #525
This was fixed by #553.  Unfortunately there was a dumb spelling mistake so #569 is necessary to correct it.

[2016-04-15 20:32] #525 closed

[2016-04-15 20:39] lbergelson opened #573 "sbt publishLocal fails if the ivy cache is cleared"
### Subject of the issue
`sbt publishLocal` is failing to install htsjdk because the `de.johoop#sbt-testng-interface_2.10;3.0.2` dependency is not found

### Your environment
* 2.2.1-7-g868fd53 but other versions are failing too
* oracleJDK 8 something
* OSX / CentOS

### Steps to reproduce
[code]

### Expected behaviour
htsjdk should be installed to the local maven repository

### Actual behaviou

[2016-04-18 12:47] magicDGS opened #575 "VCF4.3 constants and header lines"
### VCF4.3 support
New specifications for [VCF 4.3](http://samtools.github.io/hts-specs/VCFv4.3.pdf) suggest that a new `VCFCompoundHeaderLine` could be implemented for symbolic alternative alleles (`VCFAltHeaderLine`).

New reserved keys are included in the specs, which could be added to `VCFConstants` in conjuction with reserved structural variant alleles (DEL, INS, etc.). In addition, other hea

[2016-04-18 18:32] #512 closed

[2016-04-18 18:37] cmnbroad commented on #402
Fixed via https://github.com/samtools/htsjdk/pull/543. As part of this change the checks for allowed attribute types and values have been moved inside of the SAMBinaryTagAndValue classes.

[2016-04-18 18:37] #402 closed

[2016-04-18 20:18] akiezun opened #578 "nondeterministic failure of RelativeIso8601DateTest.testLazyInstance"
I had a build fail due to this:

[code]

[2016-04-19 00:56] nh13 commented on #578
Use this to assert they are equal: http://testng.org/javadocs/org/testng/Assert.html#assertEquals-double-double-double-

[2016-04-19 16:42] yfarjoun commented on #548
Reopening this to keep history.

On April 19 we will be following up on PR's from last time and looking at

https://github.com/samtools/htsjdk/pull/383
https://github.com/samtools/htsjdk/pull/408
https://github.com/samtools/htsjdk/pull/421
https://github.com/samtools/htsjdk/pull/443
https://github.com/samtools/htsjdk/pull/449

[2016-04-19 17:19] droazen commented on #575
@magicDGS I think we'd be happy to accept any patch that improves htsjdk support for VCF4.3, and the changes you mention sound good to me.

[2016-04-19 17:42] akiezun opened #579 "AsynchronousLineReader closes a stream on EOF leading to blowup"
htsjdk 2.2.1

This tests blows up because the worker thread closes the stream when it encounters EOF.
As discussed in https://github.com/samtools/htsjdk/pull/577 the `AsynchronousLineReader` may be broken beyond repair. Thanks to @d-cameron for suggesting this testcase.

This bug led to errors like this: https://github.com/broadinstitute/gatk/issues/1638 and forced us to abandon asyncIO for tribbl

[2016-04-19 17:51] droazen commented on #579
@akiezun Should we disable the ability to use tribble async I/O at all in htsjdk until these issues are resolved?

[2016-04-19 17:56] akiezun commented on #579
i dont' know about async writing - maybe it's fine. But reading is broken - I am suggesting either turning it off or just deleting the class completely so that htsjdk clients are not using bogus code.

[2016-04-19 19:13] #573 closed

[2016-04-19 19:35] droazen commented on #548
Outcome of today's code review party:

https://github.com/samtools/htsjdk/pull/232 Waiting on a final review from @jmarshall
https://github.com/samtools/htsjdk/pull/313 Merged!
https://github.com/samtools/htsjdk/pull/353 Closed due to no reply from author
https://github.com/samtools/htsjdk/pull/358 Closed due to no reply from author, but @vadimzalunin has agreed to incorporate the same fix into an

[2016-04-19 23:29] akiezun commented on #579
See also https://github.com/samtools/htsjdk/pull/528 where I proposed disabling asyncIO reading from tribble. We took a different path that time. Nonetheless I suggest disabling it or removing it because it is broken. Can we have a "vote"? @droazen @tfenne @d-cameron (anyone else who has an opinion, please chime in)

[2016-04-19 23:56] d-cameron commented on #579
My vote is for removal. The desired performance improvement could be achieved in a more generic manner with an AsyncBufferedIterator.

I'd also like TribbleIndexedFeatureReader.query() to be updated to explicitly close the previous iterator every time it returns a new one. Incidentally, why are there LineReader interfaces defined in both htsjdk.samtools.util and htsjdk.tribble.readers, and why doe

[2016-04-20 16:16] magicDGS opened #580 "Not immutable Genotypes from GenotypeBuilder regarding extended attributes"
### Subject of the issue
When I try to re-use a `GenotypeBuilder` with an already initialized extended attribute map, the previously generated `Genotype`s contain the new attribute too. That means that a `Genotype` could be modified if you have access to the `GenotypeBuilder` that make it.

This is happening because the `extendedAttributes` field is passed by reference to the `FastGenotype` constr

[2016-04-20 16:22] lindenb commented on #580
related to https://github.com/samtools/htsjdk/issues/541

[2016-04-20 21:31] cmnbroad commented on #535
When this is fixed, we should also issue a warning if the input file is newer than the index, for symmetry with BAMFileReader.

[2016-04-20 21:48] droazen commented on #579
:+1: for removal, provided there are no objections.

[2016-04-21 09:53] magicDGS commented on #575
I will work on this, but I found some related issues (#517, #500, #389, #277, #251, #250). Should I take into account that too, @droazen?

[2016-04-21 12:56] tfenne commented on #579
:+1: on removing.

[2016-04-21 14:14] droazen commented on #575
You're welcome to take any or all of those tickets on if you like, @magicDGS, but I recommend making each individual branch/pull request as small and specific as possible, with good tests for each one. With htsjdk we have to be extra-careful about what we merge, and large monolithic branches with many features tend to take months to get in.

[2016-04-22 20:16] droazen commented on #568
Status of this: the new tests are running, and we're adding badges so that everyone can see their status (https://github.com/samtools/htsjdk/pull/582)

[2016-04-22 21:12] lbergelson commented on #568
Test status should now be visible on the Readme.  Everyone should be able to view the jenkins server and test logs anonymously.  Please let me know if this isn't the case for someone and we'll fix it.

Anyone with push access to GATK4 should be able to modify the tests and manually launch them if they log into the server with their github ID.  I'll figure out if it's feasible to extend that to als

[2016-04-22 21:18] lbergelson commented on #568
Members of samtools should now be able to launch build jobs manually.  People with picard push access should be able to edit the picard job, people with gatk push access should be able to edit that gatk job.  It's hard form me to confirm that this works exactly as expected.  Let me know if you don't have permissions you think you should have (or if you have some you think you shouldn't...)

[2016-04-22 22:07] nh13 commented on #568
@lbergelson I cannot use GATK Jenkins without giving it access to my private repos, organization, and teams.  Could you please update the required permissions?  Thank-you for this effort!

[2016-04-22 22:33] lbergelson commented on #568
@nh13 Does it need write permissions or only read permissions?  It needs read permissions to check what repos you have access to, including which private repos.  I don't see any mechanism to configure it to be more granular.  Github has pretty terrible permissions granularity so it may not even be technically feasible.  It shouldn't need write permissions though (I hope...).

[2016-04-22 22:49] lbergelson commented on #568
@nh13 Can you at least view the results without logging in?  If you don't feel comfortable granting it permissions at least being able to see it should be a start...  I might be able to give you you're own accoutn, but I can't see an option for mixed github/password login.  I'm very far from a jenkins expert though, so I'll keep looking into it and ask our devops people who might know more.

[2016-04-22 22:52] nh13 commented on #568
It looks like a limitation of github to only authorize public repos. I'll work around it for now so no need to waste time on it until it becomes an issue.

[2016-04-26 21:17] cmnbroad opened #586 "CRAMFileReader should warn on out-of-date index"
similar to the way BAMFileReader does.

[2016-04-27 14:36] alexander-polovtcev opened #588 "Allow passing `ISeekableStreamFactory` directly as a parameter, not as a singleton."
I'm using a `TabixFeatureReader` to read a vcf from a custom stream that fetches data from AWS. As I found out, the current way to achieve that is to create a `ISeekableStreamFactory` instance and set it as the default stream factory through `SeekableStreamFactory#setInstance`.

This approach has two downsides:

1. My implementation of the `ISeekableStreamFactory` is stateful, so using it as a sin

[2016-04-27 18:33] cmnbroad opened #592 "Extend CRAM test case matrix"
This is to keep track of the additional CRAM tests we want to add. There are many combinations, but we should have some of each of:

- [ ] Mix of CRAM version 3.0/2.1
- [ ] Index queries using both .crai and .bai
- [ ] Files with records per slice varying from the default
- [ ] Files with multi-reference slices (especially non-coord sorted)
- [ ] Multi ref slices including unmapped, mapped with un

[2016-04-27 18:39] cmnbroad commented on #592
https://github.com/samtools/htsjdk/pull/552 has some coverage for 5 of the above bullets ("Index queries using both .crai and .bai" through "Files containing placed/unmapped").

[2016-04-27 21:12] cmnbroad commented on #549
@vadimzalunin 4 of the tests fail when I change the code to throw when it detects these. Can you take a look ?

[2016-05-02 02:58] yfarjoun commented on #548
On May 3rd we will be following up on PR's from last time and looking at

https://github.com/samtools/htsjdk/pull/458
https://github.com/samtools/htsjdk/pull/478
https://github.com/samtools/htsjdk/pull/480
https://github.com/samtools/htsjdk/pull/489
https://github.com/samtools/htsjdk/pull/495

[2016-05-03 19:02] yfarjoun commented on #548
Outcome of today's code review party:

https://github.com/samtools/htsjdk/pull/232 Waiting on a final-final review from @jmarshall
https://github.com/samtools/htsjdk/pull/383 Waiting on @lbergelson and @jarey
https://github.com/samtools/htsjdk/pull/408 reassigned to @yfarjoun for review
https://github.com/samtools/htsjdk/pull/443 waiting for comments to be addressed, should be closed by next meeti

[2016-05-03 19:59] jmarshall commented on #548
Would have if you had mentioned it in the party agenda a couple of days ago! 😛 Okay, will look again…

[2016-05-03 20:24] droazen opened #596 "Support the latest Variant Call Format Specification (VCFv4.3 and BCFv2.2)"
Htsjdk does not currently support VCFv4.3 and BCFv2.2. Is there a volunteer in the community who is interested in taking on the task of adding support for the latest spec?

[2016-05-03 20:45] yfarjoun commented on #548
good point. I'll start mentioning all the straggling tickets in the
reminder email.

On Tue, May 3, 2016 at 3:59 PM, John Marshall <notifications@github.com>
wrote:

[2016-05-06 16:05] droazen opened #597 "Make interface changes to allow CRAM to work with IGV"
From @jrobinso, there are a few small adjustments we need to make to `CRAMFileReader` and  `ReferenceSource` to allow CRAM to work with IGV:

    Here’s what’s missing wrt IGV requirements:

    (1) At the time I last tries all the constructors for CRAMFileReader  took File,  rather than
    SeekableStream,  and therefore did not support http.  This might have changed
    (2) I would like to suppl

[2016-05-06 16:07] droazen commented on #597
For @cmnbroad. Could you please prioritize this ticket over any other non-emergency fixes in htsjdk? Thanks!

[2016-05-06 16:09] droazen commented on #597
This ticket also includes getting fixes in for https://github.com/samtools/htsjdk/issues/331 and https://github.com/samtools/htsjdk/issues/332. I believe that @jrobinso can supply the fixes for these, if we can supply unit tests for the fixes.

[2016-05-06 17:02] yfarjoun commented on #597
I think that the PR's were closed due to lack of tests...https://github.com/samtools/htsjdk/pull/335

[2016-05-06 17:12] jrobinso commented on #597
Yes that's correct,  but the fixes are there in the closed request.   As
you can see its fairly minor.

On 5/6/16 10:02 AM, Yossi Farjoun wrote:

[2016-05-06 17:15] droazen commented on #597
We've agreed to implement the tests necessary to get the patches merged.

[2016-05-06 17:16] yfarjoun commented on #597
yes. I just wanted to point out that there are fixes written that just need
tests.

On Fri, May 6, 2016 at 1:12 PM, Jim Robinson <notifications@github.com>
wrote:

[2016-05-06 17:42] jrobinso commented on #597
I just pulled the latest htsjdk and had a look.  I think the following constructor can be used by IGV without modification:

    public CRAMFileReader(final InputStream inputStream, final SeekableStream indexInputStream,
                          final ReferenceSource referenceSource, final ValidationStringency validationStringency) throws IOException {

I will be passing in SeekableStream for the

[2016-05-06 17:51] jrobinso commented on #597
So just confirming that it looks like the only requirement is to make ReferenceSource in the above constructor an interface which I will implement and supply.   And of course fixes for #331, and #332 before release,  but I don't need those to get started working.

[2016-05-06 18:08] cmnbroad commented on #597
@jrobinso Yes - the constructor you referenced above will use a SeekableStream for queries if given one (there are [tests](https://github.com/samtools/htsjdk/blob/master/src/tests/java/htsjdk/samtools/CRAMFileBAIIndexTest.java#L70) that  exercise this).  Also, be aware that there are quite a few cases where CRAM index queries will give incorrect results at the moment, though they should be fixed s

[2016-05-06 18:17] jrobinso commented on #597
OK, good to know,  IGV of course exclusively uses indexed queries and there's no point in adding CRAM support if they give incorrect results.

[2016-05-06 18:33] yfarjoun commented on #597
I think that the "incorrect results" are only when there's more than one
interval. I imagine that IGV only asks for one interval at a time.

(reads currently get returned for every interval they intersect)

On Fri, May 6, 2016 at 2:18 PM, Jim Robinson <notifications@github.com>
wrote:

[2016-05-06 18:36] jrobinso commented on #597
That's correct Yossi,  always 1 interval at a time.

On 5/6/16 11:33 AM, Yossi Farjoun wrote:

[2016-05-06 18:52] droazen commented on #597
It's worse than that @yfarjoun, I believe -- I think it can also return incorrect results in the case of unmapped reads that are assigned the positions of their mapped mates (also fixed in @cmnbroad's PR). I've pinged the reviewer of https://github.com/samtools/htsjdk/pull/552 to try to move it along.

[2016-05-06 18:54] jrobinso commented on #597
Oh yikes,  I missed something very important.    This interface is not ideal for IGV,  and might not even work.   It fetches the reference bases for the entire sequence,  not just the interval needed for a particular query

    public synchronized byte[] getReferenceBases(final SAMSequenceRecord record,
                                                 final boolean tryNameVariants) {

IGV never lo

[2016-05-06 19:00] jrobinso commented on #597
We could first try with the current interface for getReferenceBases,  it might be intolerably slow or require too much memory,  or it might not.

[2016-05-06 19:14] cmnbroad commented on #597
Right - I think the original ReferenceSource was designed to target the EBI ENA web service, where the granularity is the whole sequence as identified by md5 or sha1. For now lets get the existing interface working and then we can expand if/as necessary.

[2016-05-07 08:59] magicDGS commented on #596
I could try it, but I would like to have a list of things that should be done for it.

[2016-05-09 18:22] lbergelson opened #598 "add ability for intel deflater to load itself from the packaged jar"
Currently people using htsjdk through maven have to go through a bunch of work to get the intel deflater to work.  Every client has to figure out how to extract it from the jar and load it themselves.

We should enable the intel deflater to load itself from the htjsdk jar automatically so clients can use it without effort.  This probably involves extracting it from the htsjdk into a temp location.

[2016-05-09 19:05] droazen commented on #598
Can you add an assignee @lbergelson ?

[2016-05-09 19:33] cmnbroad commented on #332
https://github.com/samtools/htsjdk/pull/599 should fix this, but there are other places where TribbleIndexedFeatureReader and ParseUtils make [assumptions](https://github.com/samtools/htsjdk/blob/c847e260a351dd4ded3caf3c44c6ec7d0c037675/src/java/htsjdk/tribble/TribbleIndexedFeatureReader.java#L141) about the path not being a URL.

[2016-05-09 19:34] cmnbroad commented on #331
I made a somewhat different fix than the one proposed above (I added an overload that accepts a URI) but let me know if for some reason thats not adequate.

[2016-05-09 19:36] cmnbroad commented on #597
Rather than hijacking the name ReferenceSource for the interface, I left the existing concrete implementation named ReferenceSource and used the name CRAMReferenceSource for the interface since I think that will minimize source incompatibilities.

[2016-05-11 20:09] #331 closed

[2016-05-11 20:09] #597 closed

[2016-05-12 19:17] cmnbroad opened #604 "Factor and rename the CRAM ReferenceSource class"
The CRAM ReferenceSource class currently implements support for both references retrieved from a file as well as references retrieved via the EBI-ENA reference service. The two implementations  should be separated and given appropriate names, and the ReferenceSource class should be deprecated/retired.

[2016-05-13 01:18] #579 closed

[2016-05-14 04:22] yfarjoun commented on #548
We have many "straggling" ticket for this party. So I think we shouldn't add any new ones, and simply do our best to deal with the ones that are open.

#495
#489
#478
#458
#449
#443
#408
#383
#232

[2016-05-16 21:03] lbergelson commented on #377
Closed by #383.

[2016-05-16 21:03] #377 closed

[2016-05-17 13:41] lindenb opened #605 "Gradle: Travis-Ci failed with "The command "eval ./gradlew assemble" failed. Retrying, 2 of 3.""
### Subject of the issue

I'm very new to gradle. When Travis-CI is executed, it fails at the beginning  https://travis-ci.org/lindenb/htsjdk/builds/130833473 . The error seems unrelated to the changes I made.

[code]

### Your environment
* version of htsjdk https://github.com/lindenb/htsjdk/commit/1d052a3e32db3e74b1bced00c31d726b39b384ee + commit
* version of java Travis/java 8
* which OS (Travi

[2016-05-17 14:25] lbergelson commented on #605
Thanks for reporting.  This is almost certainly unrelated to changes you've made.  I'm looking into it.

[2016-05-17 14:40] lbergelson commented on #605
@lindenb This seems to be a bug in the version plugin we're using.  If a repo has no tag it's returning a null.  I suspect it can be worked around by adding a tag somewhere in your branche's history.  I'm going to add a patch to work around this as well as reporting it to the plugin author since it looks like a trivial fix and seems like a bug.

[2016-05-17 15:56] vadimzalunin commented on #548
Sorry, I won't be able to attend today unfortunately.

[2016-05-17 16:43] lindenb commented on #605
fixed with https://github.com/samtools/htsjdk/pull/606

[2016-05-17 16:43] #605 closed

[2016-05-17 18:47] droazen commented on #548
#232 poked nils and jmarshall
#383 merged
#408 not ready, needs revisions and more review
#443 wait for Louis to come back from vacation
#449 wrote note to author suggesting moving this to the specs community
#458 discussed the approach, agreed that the existing version is ok. @droazen needs to do a formal review
#478 still waiting from @vadimzalunin
#489 @droazen will talk with @cwhelan in person

[2016-05-24 06:05] dariober opened #611 "SamLocusIterator with missing quality"
Hello- I think there is a bug in SamLocusIterator causing an ArrayIndexOutOfBoundsException when a SAMRecord has the QUAL string missing (i.e. set to "*"). The test case below should reproduce the issue.

I think it can be fixed by editing the method SamLocusIterator.accumulateSamRecord from:

[code]
To:

[code]

I.e. avoiding calling baseQualities[readOffset] on a zero-length array.

This is the

[2016-05-26 00:04] jrobinso opened #614 "SamReaderFactory fails to return CRAMReader for http resource"
Hi, Jim here working on the CRAM conversion.  The call to "factory.open" in the code below fails with the following error

htsjdk.samtools.SAMFormatException: Unrecognized file format: org.broad.igv.util.stream.IGVSeekableBufferedStream@77b52d12

	at htsjdk.samtools.SamReaderFactory$SamReaderFactoryImpl.open(SamReaderFactory.java:258)
...

I recognize some of the classes below are IGV specific, bu

[2016-05-26 00:05] droazen commented on #614
@cmnbroad Could you implement a quick patch for this issue? Should be fairly simple I would think.

[2016-05-26 00:07] jrobinso commented on #614
Looking at the code, I don't see how it could be determined that the stream is on a CRAM file.  Perhaps SamInputSource should take an argument specifying the type when a stream is supplied in the constructor (SAM, BAM, or CRAM),  rather than leaving it to the factory to guess.

[2016-05-26 00:08] droazen commented on #614
@jrobinso Well, it manages to identify BAM streams via `SamStreams.sourceLikeBam(SeekableStream)`. I imagine that something similar can be done for CRAM.

[2016-05-26 00:09] tfenne commented on #614
FWIW I've also had zero luck getting Cram to work on http/ftp.  I recall trying all kinds of things, and hacking around in the code a little bit and it was nigh impossible.  Perhaps a test could be added for CRAM/http and CRAM/ftp to ensure that these work?

[2016-05-26 00:11] jrobinso commented on #614
I don't intend to support CRAM via ftp in IGV,  and I"m really sorry I went down that road for BAMs  (FTPSeekableStream).  That was done originally to support loading 1kg files from Sanger.   So from my point of view FTP can be unsupported,  http/https is sufficient.

[2016-05-26 00:15] droazen commented on #614
@tfenne Do you remember what the blocking issue was? `CRAMFileReader` does have a constructor that takes an input stream, which is why I thought/hoped this might be simple.

[2016-05-26 00:23] tfenne commented on #614
It was a while ago, and I don’t recall.  Sorry.

[2016-05-26 00:26] cmnbroad commented on #614
It should be easy enough to tell from the stream if its CRAM. I'll look into these other issues as well.

[2016-05-26 00:30] tfenne commented on #614
Thinking about this a little more - I think the symptom I saw was that when doing a range query (query(QueryInterval)) against the HTTP stream it just hung indefinitely.  I was attempting to download a small number of regions from 1000G CRAM files and it never managed to pull any records.

[2016-05-26 00:43] jrobinso commented on #614
I’m also trying 1KG files,  and am getting this at the moment  for http://1000genomes.s3.amazonaws.com/data/NA21144/alignment/NA21144.alt_bwamem_GRCh38DH.20150718.GIH.low_coverage.cram.crai <http://1000genomes.s3.amazonaws.com/data/NA21144/alignment/NA21144.alt_bwamem_GRCh38DH.20150718.GIH.low_coverage.cram.crai>

So I don’t know if the problem is with the file,  with reading the file over http, o

[2016-05-26 00:44] droazen commented on #614
@jrobinso Would you be able to attempt reading the same cram as a local file instead of over http?

[2016-05-26 00:51] jrobinso commented on #614
Its 30GB to download but I’ll try tomorrow (downloading now).

Jim

[2016-05-26 01:19] jrobinso commented on #614
The index loaded successfully as a local file.  I tried using this index with an http stream for the CRAM,  that did not work, error below

java.lang.NullPointerException
	at htsjdk.samtools.CRAMFileReader$MultiIntervalIterator.next(CRAMFileReader.java:532)
	at htsjdk.samtools.CRAMFileReader$MultiIntervalIterator.next(CRAMFileReader.java:494)

I will be able to test this CRAM as a local file tomor

[2016-05-26 14:07] cmnbroad commented on #614
@jrobinso There is a branch in my fork [here](https://github.com/cmnbroad/htsjdk/tree/cn_igv) with a commit that has what I think you need. See the tests I added - I think they mirror what you're doing (only using local file urls - I tried it manually using http and it appeared to work).

It might be a good idea to try it before we commit it in case there are other issues. There is quite a bit of

[2016-05-26 19:57] cmnbroad commented on #540
Closed via https://github.com/samtools/htsjdk/pull/533.

[2016-05-26 19:57] #540 closed

[2016-05-29 03:39] #419 closed

[2016-05-29 03:51] yfarjoun commented on #548
In the next HTS JDK PR review Party, we will be following up on what stayed relavent from last time:
#495
#489
#478
#458
#443
#232

And adding a few new ones:
#538
#542
#552
#557

As there are several PR's that deal with CRAM, I hope that @vadimzalunin will be able to join us....:-)

[2016-05-29 09:09] magicDGS commented on #387
Closed by #408

[2016-05-29 09:09] #387 closed

[2016-05-30 01:26] jrobinso commented on #614
Hi Chris,

This branch works for local files, but hot remote ones (http), I get the
same error as before

htsjdk.samtools.SAMFormatException: Unrecognized file format:
org.broad.igv.util.stream.IGVSeekableBufferedStream@1613674b
     at
htsjdk.samtools.SamReaderFactory$SamReaderFactoryImpl.open(SamReaderFactory.java:258)
     at org.broad.igv.sam.reader.BAMReader.getSamReader(BAMReader.java:106)

[2016-05-30 01:54] jrobinso commented on #614
Scratch last comment (deleted), tested wrong branch.

[2016-05-30 05:20] jrobinso commented on #614
OK, it works,  I've built IGV using this branch.  When its merged could you comment here so I can switch to the main branch?  Thanks for the quick turnaround.

[2016-05-30 13:06] yfarjoun commented on #614
This is fantastic!!! thanks for all who made this happen!

On Mon, May 30, 2016 at 1:20 AM, Jim Robinson <notifications@github.com>
wrote:

[2016-05-30 14:26] jrobinso commented on #614
When I say built I mean locally,  I will push this out to the snapshot
build this evening.

On 5/30/16 6:06 AM, Yossi Farjoun wrote:

[2016-05-30 20:33] cmnbroad opened #618 "SeekableFTPStream.getSource always returns null"
always. This in turn causes SamStreams.sourceLikeBam to always return true when given such a stream, even if the target resource is not a BAM.

[2016-05-30 20:35] cmnbroad opened #619 "SamStreams.sourceLikeBAM returns true for any SeekableStream with a null source"
which includes any SeekableFTPStream (see related issue https://github.com/samtools/htsjdk/issues/618).

[2016-05-30 21:14] yfarjoun commented on #614
I know...I'm excited that progress is being made and that we might soon be
able to view CRAMs in IGV!

On Mon, May 30, 2016 at 10:26 AM, Jim Robinson <notifications@github.com>
wrote:

[2016-05-31 00:31] nh13 opened #621 "Tests with gradle not working."
`./gradle test` and `./gradlew test --tests "*SamLocusIteratorTest"` fail.  I would like to run a single test.  I get the following error for the latter:
[code]

[2016-05-31 00:32] nh13 commented on #621
@droazen or @lbergelson can you take a look at this?  I am not up to speed on gradle.

[2016-05-31 04:50] jrobinso opened #622 "SamReaderFactory fails if input source is a SeekableStream on a SAM file"
I've run into an issue that is preventing me from replacing the deprecated direct construction of a ".sam" file reader with the factory pattern.   If passed a SeekableStream on a ".sam" file SamReaderFactory.open throws an exception at line 273
                throw new SAMFormatException("Unrecognized file format: " + data.asUnbufferedSeekableStream());

A SeekableStream is an InputStream and wor

[2016-05-31 13:21] cmnbroad commented on #622
I added a commit to #620 with the proposed fix for this.

[2016-05-31 14:09] droazen commented on #621
@nh13 Hmm, I ran the same command (`./gradlew test --tests "*SamLocusIteratorTest"`) and `SamLocusIteratorTest` ran and passed. Can you do a `./gradlew clean` and try again, making sure there are quotes around the wildcard expression? Also, you can try this alternate syntax for running a single test: `./gradlew test -Dtest.single=SamLocusIteratorTest`

[2016-05-31 14:33] cmnbroad commented on #619
Note: this results in SamReader.open always assuming that an input source on an ftp stream represents a BAM file (so it will always fail with with a CRAM file).

[2016-05-31 14:34] vadimzalunin commented on #548
I'm going to join.

@yfarjoun it'be nice to have a bit more info on the list:
#495 VariantContextWriterBuilder
#489 VCF header line parser
#478 CRAM3 by default
#458 Add SeekablePathStream
#443 default methods to Locatable
#232 output the SAM flag

And adding a few new ones:
#538 Implement CRAI writing
#542 variantcontext.* javadoc
#552 CRAM index queries
#557 100% test coverage for FastqRecord

[2016-05-31 14:49] cmnbroad opened #623 "Failure reading CRAM through SamReaderFactory from an FTP input stream"
The following code causes SamReaderFactory to attempt to create a BAMReader on a CRAM stream:

SamReaderFactory.makeDefault()
                .open(SamInputResource.of(new URL("ftp://ftp.broadinstitute.org/test.cram")));

This is due to https://github.com/samtools/htsjdk/issues/618, which in turn results in https://github.com/samtools/htsjdk/issues/619, which in turn causes SamReaderFactory impl t

[2016-05-31 14:53] cmnbroad commented on #614
@tfenne Just to circle back, reading CRAM from http through SamReaderFactory should work once this PR is in; reading from FTP (via SamReaderFactory anyway) fails due to a [cascade of errors](https://github.com/samtools/htsjdk/issues/623) which are not fixed in this PR.

[2016-05-31 15:26] tfenne commented on #614
Thanks @cmnbroad that's great to hear about the http support.  Once it's on master I'll take it for a whirl.

[2016-05-31 17:46] yfarjoun commented on #548
Thanks Vadim. sorry for the curtness.

On Tue, May 31, 2016 at 10:34 AM, Vadim Zalunin <notifications@github.com>
wrote:

[2016-05-31 18:31] droazen commented on #548
#232 progress on review, end in sight
#408 merged!
#443 review complete, waiting on Louis to come back from vacation
#458 review complete, waiting on Tom to come back from vacation
#478 needs rebase, then can be merged
#480 closed/rejected as problematic
#489 needs final review pass from @droazen
#495 waiting on a reply from @tfenne
#538 blocked by #552
#542 @droazen will ask around methods for an

[2016-05-31 18:53] yfarjoun opened #624 "Need to be able to open an URL input stream that doesn't have .bam in the name."
### Verify
Can you see anything in the logs?
Make sure your issue is not already in the [htsjdk issue tracker](https://github.com/samtools/htsjdk/issues?q=)

### Subject of the issue
Describe your issue here.
Provide **screenshots** , **stacktrace** , **logs** where appropriate.

### Your environment
* version of htsjdk
* version of java
* which OS

### Steps to reproduce
Tell us how to reproduce

[2016-05-31 19:22] droazen opened #625 "Publish continuous snapshots of every branch in sonatype/artifactory to facilitate cross-project development"

[2016-05-31 21:13] jrobinso commented on #614
Yossi, you can pull from source, build, and use this now to load crams from files or urls.  However, I’ve run into an issue making a release build.  We use the bcel to package the igv jar,  and the release version (5.2) does not support Java 8.   I don’t know how easy or difficult this will be to solve.  If you use bcel for your builds and have a solution let me know.

[2016-05-31 21:52] brendanofallon commented on #611
Should be fixed when / if PR #626 is merged

[2016-05-31 22:47] jrobinso commented on #614
The development snapshot build of IGV now supports loading CRAM files from local files or http/https urls.  The snapshot is available at http://www.broadinstitute.org/software/igv/download_snapshot <http://www.broadinstitute.org/software/igv/download_snapshot>.   A note:  loading the first region of a sequence (chromosome) is excruciatingly slow.  I think this due to the htsjdk CRAMReferenceSource

[2016-06-01 17:50] jrobinso opened #627 "Option to force CRAMIterator to throw exception upon sequence slice MD5 mismatch."
IGV now supports CRAM files.  In this implementation, the sequence is provided by IGV from the user's currently loaded reference.   This works,  but I am concerned about sequence validation.  Its incumbent on the user to load alignments against the correct reference.  This has always been the case, but with BAM files the view is lit up with mismatches everywhere so its immediately obvious.  With C

[2016-06-01 17:51] droazen commented on #627
@vadimzalunin @cmnbroad can you comment on this proposal?

[2016-06-01 18:09] cmnbroad commented on #627
I think we definitely need this, and I planned to do it as part of https://github.com/samtools/htsjdk/issues/506, but we should leave this ticket open since the two things are related but technically independent.

I would suggest we make the switch be to opt-out, and make the default behavior be to throw.

[2016-06-01 18:12] jrobinso commented on #627
That works for me.   It would be good if it weren't tied to the "ValidationStringency"  setting.

[2016-06-01 18:19] tfenne commented on #627
I totally agree with @cmnbroad on opt-out ability.  It's totally frustrating to receive borked up files from somewhere and have no way at all to process or correct the files because `htsjdk` refuses to parse them at all.

[2016-06-01 18:21] jrobinso commented on #627
Yes Tim, that's why I ask that it not be tied to ValidationStringency.  In IGV that is set to SILENT,  because it seems a substantial % of bam files in the world at large are borked.   However, for this one case I feel we have to validate,  or people will get really misled by loading an hg38 CRAM against an hg19 reference, for example.

[2016-06-01 18:25] tfenne commented on #627
Absolutely @jrobinso - I'm all for validation, and even having the strictest validation on by default.  My pain has mostly been with VCFs in htsjdk fwiw.

[2016-06-01 18:28] droazen commented on #621
@nh13 Did you get this to work for you, or are you still getting the same error?

[2016-06-02 18:47] droazen opened #628 "Bring htsjdk's BCF2Codec up-to-date against the latest spec, and add tests"
`BCF2Codec` has not been well-maintained over the years, and does not fully support the latest BCF 2.2 spec (see the BCF section in http://samtools.github.io/hts-specs/VCFv4.3.pdf). We now have at least one  htsjdk client (Intel) that wants to use the htsjdk BCF codec for performance reasons to ingest htslib output (which does support BCF 2.2), and even if we didn't it's worth bringing the codec u

[2016-06-02 18:47] droazen commented on #628
For @cmnbroad

[2016-06-02 19:57] droazen opened #630 "Histogram class is pathologically not serializable, despite being marked as Serializable"
`Histogram` cannot be serialized via either Java or Kryo, despite being marked as `Serializable`, for two reasons:

-It has a non-static inner class (`Bin`). According to the Java Object Serialization Specification, serializing non-static inner classes has problems and should be avoided. Kryo does not appear to support this either (see discussion in, eg., https://groups.google.com/forum/#!topic/kr

[2016-06-02 19:58] droazen commented on #630
Issue was raised by @cmnbroad

[2016-06-03 09:56] tfenne commented on #630
@droazen I'm confused by this issue.  The declaration of Histogram is as follows:

[code]

It doesn't claim to be serializable.  That said, if you need to make it serializable, I see no problem with making it static and passing through the type parameter.

[2016-06-03 13:14] cmnbroad commented on #630
Right - I think the strange bit is that although Histogram isn't marked serializable, Bin is. There is a [commit here](https://github.com/cmnbroad/htsjdk/commit/69674d400a20c692e1bb5aad53ea7cea40200e59) with the minimal changes we'd need. They don't solve all of the Histogram serialization issues since both kryo and java still incorrectly reify deserialized Histograms as TreeMap instances, but the

[2016-06-03 13:30] tfenne commented on #630
@cmnbroad Bizarre.  At any rate that commit seems totally reasonable to me.

[2016-06-03 14:10] lbergelson commented on #630
@tfenne `Histogram`inherits `Serializable` from `TreeMap`

I'm definitely a fan of converting Bin to a static parameterized class.  Or even a non-static parameterized class if that's somehow less breaking.  It's caused me pain in the past and intellij's linter hates it as it is.

[2016-06-03 14:56] droazen commented on #630
Glad everyone is ok with making `Bin` static and parameterized. I think the other issue (deserialized `Histograms` coming back as `TreeMaps`) could be caused by the fact that `Histogram` inherits from a Serializable class `TreeMap` that has custom serialization routines, but does not provide custom serialization routines of its own that call into the superclass versions.

[2016-06-03 15:36] akiezun commented on #630
I wrote code to fix this - see https://github.com/samtools/htsjdk/pull/631

[2016-06-03 21:38] jabbarish opened #635 "S3ReaderFactory plugin"
We have developed S3ReaderFactory plugin - an HTSJDK CustomReaderFactory implementation. It enables comfortable and fast direct reading of the SAM/BAM files stored in AWS S3 storage (both private and public buckets).

The key factor of speed increase is  simultaneous download of file parts (chunks) via multiple connections.  Our tests showed an increase of Picard viewsam speed ten times or more co

[2016-06-03 22:32] arjunvadapalli opened #636 "cannot compile htsjdk-2.4.1 on Cygwin on windows"
### Subject of the issue
Downloaded htsjdk-2.4.1, unzipped file and ran gradlew script on Cygwin prompt. The necessary plugins were downloaded but the compilation ended with an error saying

FAILURE: Build failed with an exception.

* Where:
Build file 'C:\Progs\htsjdk-2.4.1\build.gradle' line: 61

* What went wrong:
A problem occurred evaluating root project 'htsjdk-2.4.1'.

### Your environment

[2016-06-03 22:34] arjunvadapalli commented on #636
There is .github directory but no .git directory.

[2016-06-04 00:23] droazen commented on #636
To build htsjdk from source, you first need to clone the htsjdk github repository using the "git clone" command, and then run gradle within your clone.

[2016-06-07 19:44] #630 closed

[2016-06-10 17:38] jabbarish commented on #635
Sources:  https://github.com/jabbarish/S3ReaderFactoryPluginDraft

[2016-06-11 01:39] yfarjoun commented on #548
for the next review party, we will re-examine our old friends:
#232 Adding the ability to output the SAM flag field in various formats
#443 add default methods to Locatable
#478 write CRAM3 by default
#538 Implement CRAI writing
#542 improve variantcontext.* javadoc
#552 Fixes and tests for CRAM index queries

And add 4 PR's the the list:
#567 Added a skip list implementation for efficient overlap

[2016-06-11 02:35] nh13 commented on #621
@droazen thanks for the advice, clean worked for me and I am able to execute the tests.  Thanks for the help!

[2016-06-11 02:35] #621 closed

[2016-06-12 21:37] #550 closed

[2016-06-12 21:37] #551 closed

[2016-06-13 01:14] yfarjoun commented on #551
hmmm. the description of #552 states that it doesn't fix #551...

On Sun, Jun 12, 2016 at 5:37 PM, Chris Norman <notifications@github.com>
wrote:

[2016-06-13 12:16] cmnbroad commented on #551
@yfarjoun PR #552 originally didn't include a fix for this, but it was added and is included, and is listed further down in the comments.

[2016-06-13 12:17] cmnbroad commented on #481
Closed via #552.

[2016-06-13 12:17] #481 closed

[2016-06-13 12:17] cmnbroad commented on #562
Closed via #552.

[2016-06-13 12:17] #562 closed

[2016-06-13 12:21] cmnbroad commented on #614
Closed via #620.

[2016-06-13 12:25] #614 closed

[2016-06-13 14:16] yfarjoun commented on #551
OK. it would be good to change the PR comments to make it easier to see.

On Mon, Jun 13, 2016 at 8:17 AM, Chris Norman <notifications@github.com>
wrote:

[2016-06-13 21:24] cmnbroad commented on #507
Related to: https://github.com/samtools/htsjdk/issues/628.

[2016-06-13 21:25] cmnbroad commented on #628
Also, when this is finished we should undo https://github.com/samtools/htsjdk/pull/591.

[2016-06-14 18:16] droazen commented on #548
#232 merged!
#443 @lbergelson will address comments by next meeting
#458 merged!
#478 merged!
#489 merged!
#495 merged!
#538 @cmnbroad will rebase and merge before next meeting
#542 @droazen will do another review pass before next meeting
#552 merged!
#557 merged!
#567 merged!
#572

[2016-06-16 19:15] akiezun commented on #628
@droazen to be clear - we only need to be able to read BCF2.2 records created by htslib. I don't think we need to be able to write BCF2.2 for our usecase. Is that right?

[2016-06-17 17:19] droazen commented on #628
@akiezun I believe so, yes (though we should confirm with the TileDB guys). In any event, the `BCF2Codec` is only capable of reading, so writing is not covered by this ticket.

[2016-06-17 22:06] travc opened #643 "htsjdk.samtools.SAMException: Unexpected number of metadata chunks 3"
I'm getting a exception being thrown by multiple tools which use htsjdk (IGV, picard and samtools specifically).  GATK is also choking on the bam file, but it's errors don't get logged in my workflow as well.

Example: running `IGV` 2.3.63 on a bam file generated with `bwa mem` 0.7.5a-r405 from paired-end reads... when I zoom in far enough to show alignments it throws:
[code]

Various recent versi

[2016-06-18 00:13] yfarjoun commented on #643
I'm pretty sure there's a known issue with reference sequences that are
longer than INT_MAX_VALUE, so that is probably the problem you are seeing.
I agree that the logging could be better, but I doubt this will be fixed
soon.

On Fri, Jun 17, 2016 at 6:06 PM, Travis Collier <notifications@github.com>
wrote:

[2016-06-18 04:20] travc commented on #643
I think I've found at least part of the problem actually...
According to the SAM reference docs:
https://samtools.github.io/hts-specs/SAMv1.pdf

Looks like I need to use `CSI` indexes.

Note that the limit isn't quite `INT_MAX_VALUE`, it is (2^29)-1
That was throwing me off since I'm well below (2^32)-1

[2016-06-21 18:15] meganshand commented on #614
@jrobinso I just opened a cram file using the development snapshot build of IGV at Yossi's suggestion. I ran into an issue with the reference that I was surprised by. The cram file I'm using was aligned to hg38 using the Broad's production reference files. When I loaded the cram in IGV I got an MD5 error when I used the default hg38 reference in IGV. I can load the file just fine when I first use

[2016-06-21 18:29] jrobinso commented on #614
What assembly are the Broad's production reference files?    Could you open an issue in IGV,  and if possible send me a pointer to the CRAM file and also the fasta.   You can send the file paths by private email if you like,  I have access to the Broad file system.

[2016-06-21 18:38] meganshand commented on #614
I'll send you the data and open an issue. Thank you!

[2016-06-21 18:43] jrobinso commented on #614
OK.  BTW this is why the MD5 check and exception is absolutely essential,  otherwise you would get incorrect SAM records with no obvious way to know they are incorrect.

[2016-06-21 20:57] jrobinso commented on #614
@yfarjoun -- Discussion continued at https://github.com/igvteam/igv/issues/264.   The problem is the IGV hg38 is soft-masked, i.e. has lower-case actg.   Does anyone know how CRAM files are compressed if a soft-masked reference is used?  I've never seen lower case actg in a BAM sequence record.   I'm just unsure how case is treated, if at all,  in the CRAM compression and MD5 calculation.

[2016-06-21 21:03] yfarjoun commented on #614
@vadimzalunin  can you comment on this?

[2016-06-21 21:18] jrobinso commented on #614
I found it in the spec,  all bases are upper cased.  So its an igv bug,  the reference sequence for cram decompression should also be upper-cased.  Will fix.

1. M5 (sequence MD5 checksum) field of @SQ sequence record in the BAM header is required and UR (URI
for the sequence fasta optionally gzipped file) field is strongly advised. The rule for calculating MD5 is
to remove any non-base symbols (l

[2016-06-21 21:24] jrobinso commented on #614
Actually I'm not sure this is an IGV bug, or rather it should be solved there.   One could argue the same rule referenced above that is used for MD5 calculation when creating the CRAM should be applied when calculating the MD5 for decompression.   In other words Slice.validateRefMD5() should upper-case the reference.   Otherwise its very possible to create a BAM with a soft-masked reference, and b

[2016-06-21 21:33] jrobinso opened #645 "CRAM MD5 validation should use upper-cased sequence"
This issue was first reported on #614 and there is some discussion there that I will try to summarize.  It was noted that attempting to load hg38 CRAM files in IGV resulted in an MD5 validation error.  We determined this is because IGV's hg38 uses a soft-masked reference with lower-case actg.  According to the CRAM specification the reference should be upper-cased before calculating MD5  (quote be

[2016-06-21 21:38] cmnbroad commented on #614
That sounds right to me - htsjdk should do the upper casing.

[2016-06-21 21:43] jrobinso commented on #614
@cmnbroad  - I just opened an issue on this (#645).   I'll wait to see what the htsjdk team decides.  I can easily upper-case on the IGV side, but wouldn't want to do it twice.

You are receiving an array of bytes, not a string, you could just check for values >= 97 and subtract 32 in place when required.  I only mention this because these can be large strings (250MB)  and memory/efficiency might

[2016-06-21 21:54] jrobinso commented on #645
This solved the issue on the IGV side

            // CRAM spec requires upper case
            for(int i=0; i<bases.length; i++) {
                if(bases[i] >= 97) bases[i] -= 32;
            }

[2016-06-22 07:20] nathanhaigh commented on #447
Any progress on this? It would be good to be able to load large (~1Gbp) plant pseudomolecules into IGV using CSI indexes.

[2016-06-23 14:14] ayang99 opened #648 "ViewSam Performance"
### Subject of the issue

(Posted originally to GATK forums and they recommended I open an issue here)

I have been playing around with the latest Picard Tools build (2.4.1) with the intention of eventually using HTSJDK directly to manipulate SAM/BAM/CRAM files. I've found that when I run the ViewSam Picard Tool on a CRAM, it takes a very long time to run. In this example, my "interval.txt" contai

[2016-06-23 16:22] ayang99 commented on #648
Whoops - meant to create this in the Picard project

[2016-06-23 16:22] #648 closed

[2016-06-23 22:41] jrobinso opened #649 "CRAM CompressionHeader producing stream of DEBUG log entries"
Using the htsjdk to decode CRAM records from IGV produces a large stream of DEBUG statements.  I use log4j,  but do not have any debug flags set.   This appears to be default behavior for the htsjdk,  and in addition to overflowing the igv.log probably impacts performance.

Here is a small sampling

DEBUG   2016-06-23 15:38:42 CompressionHeader   FOUND ENCODING: BF_BitFlags, HUFFMAN, [24, 0, 16, 6

[2016-06-24 00:28] cmnbroad commented on #649
Yes, it would be nice to get rid of these, though as you say the real issue is that for some reason htsjdk [defaults](https://github.com/samtools/htsjdk/blob/8485225f488ac25b508f5876472d55a7844b5af7/src/main/java/htsjdk/samtools/util/Log.java#L46) to LogLevel.DEBUG.

[2016-06-24 00:30] cmnbroad commented on #649
Marking as a CRAM issue since it mostly affects CRAM, even though technically its not. (Other than CRAM there is very little code dependent on the debug level, only a little SRA code IIRC).

[2016-06-27 20:49] heuermh commented on #628
For what it is worth, our use case is to read BCF2.2 records created by htslib with htsjdk through Hadoop-BAM.  Thanks for looking into this!

[2016-06-28 18:35] droazen commented on #548
#443 @lbergelson will review before next meeting
#538 merged!
#542 should be split into documentation PR and non-doc PR, @droazen will review
#572 discussed, raised questions about design, asked for input from the author
#576 @akiezun will do a final review before next meeting
#581 reviewed, needs second pass from @droazen
#593 needs comment from @vadimzalunin

[2016-06-29 14:04] tomwhite opened #653 "TribbleIndexedFeatureReader cannot read header from .bgz files"
`TribbleIndexedFeatureReader.isGZIPPath` only recognizes paths ending in _.gz_, so block gzip-compressed files are not picked up.

The fix is to check for any of the extensions defined in `AbstractFeatureReader.BLOCK_COMPRESSED_EXTENSIONS` rather than just _.gz_.

[2016-07-03 18:04] yfarjoun commented on #167
I think that this is done! right @droazen

[2016-07-05 16:08] lbergelson opened #655 "Fix Downstream tests"
Downstream tests for picard broke when picard switched to gradle.  The tests expect to be building picard with ant and don't work at the moment now that it uses gradle instead.  They need to be updated.

[2016-07-06 19:46] droazen commented on #167
Yes, done -- closing

[2016-07-06 19:46] #167 closed

[2016-07-08 13:11] yfarjoun commented on #548
For the next meeting we will review the PRs that remained in the previous week:

#443 add default methods to Locatable
#542 improve variantcontext.* javadoc
#572 RawRead interface
#576 Async Bam writing
#581 mutable extendedattributes
#593 throw exception in cram
#638 SRA tests

and also look at the following PRs:
#637 new algorith for samlocus iteration
#644 MD5 mismatch in cram
#646 Fix self-sup

[2016-07-10 01:44] nh13 opened #658 "Release 2.6.0?"
@droazen @lbergelson would it be possible to perform a release?  It's been >2 weeks and I am looking forward to some of the new commits for my own work.  Let me know if I can help in any way.

[2016-07-11 02:52] lbergelson commented on #658
Sure, I think we can do one tomorrow.

[2016-07-11 02:57] nh13 commented on #658
Thanks @lbergelson!

[2016-07-11 02:57] #658 closed

[2016-07-11 15:15] lbergelson commented on #658
@nh13 2.5.1 released!

[2016-07-11 15:28] nh13 commented on #658
![image](https://cloud.githubusercontent.com/assets/846274/16736352/9730767e-475a-11e6-9f25-356cfa03dfff.png)

[2016-07-12 04:35] akiezun commented on #548
I may not be able to review #576 for this week's party.

[2016-07-12 15:49] mmokrejs opened #660 "Keep apache ant functionality"
Hi,
  we added recently [https://github.com/gentoo-science/sci/tree/e894fffa75d809914ef009a06bfe3ce4052a91c3/dev-java/htsjdk](a package for cramtools to Gentoo Linux) and I am unhappy you decided to move away from apache ant.

  Basically, relying on a binary/jar/java included inside the cramtools-*.tar.gz source tarball is not nice but moreover, this may even prevent users on other architectures

[2016-07-12 19:15] droazen commented on #548
Outcome of today's review party:

#443 no progress, but @lbergelson will try to get to this one by next meeting
#542 author has removed code changes from branch, @droazen to do another pass on the remaining documentation changes before next meeting
#572 @droazen to reply to author and suggest an approach
#576 @akiezun waiting on request for additional reviewer
#581 did final review, back to author

[2016-07-12 19:28] droazen commented on #660
You don't have to use the included wrapper script (`gradlew`) to run `gradle` -- you're free to install it manually and run `gradle` directly to build htsjdk. Recommend that you try this and see if it resolves your issue.

You can read about the reasons we switched from ant to gradle in this thread: https://github.com/samtools/htsjdk/issues/377.

[2016-07-12 19:39] lbergelson commented on #660
If gradle writing to the ~/.gradle is problematic for you you can use any of the options described [here](http://mrhaki.blogspot.com/2010/09/gradle-goodness-changing-gradle-user.html) to point it to a directory you're allowed to write too.

[2016-07-12 21:03] mmokrejs commented on #660
@lbergelson : Thank you for the tip, so I called
`GRADLE_USER_HOME="${WORKDIR}" ./gradlew build`
which got expanded as expected but I ended up with plenty of jar fetched from the network:

[code]

From the perspective of a Gentoo package development, it is not acceptable that a compile step fetches are files (e.g. likewise if a Makefile called wget under compile target). The files needed prior to

[2016-07-12 21:21] mmokrejs commented on #660
Actually, there is some discussion ongoing and some package definition exists in a testing repositories:
https://bugs.gentoo.org/show_bug.cgi?id=339574

[2016-07-12 21:54] lbergelson commented on #660
@mmokrejs I'm sorry that the change is causing problems.  I suspect it will be possible to resolve these issues though.  The things that get downloaded automatically are:

1) the appropriate version of gradle to build htsjdk.  This is currently 2.13, but it may change in future versions since gradle is being rapidly updated and because we assume that people are mostly building using the provided w

[2016-07-12 22:55] mmokrejs commented on #660
Thank you for detailed answers. In principle you are right that the downloads would happen "once", but that applies only to a single "build" machine and second, the sandboxed directory tree gets of course wiped soon after the package is merged. ;-) Basically, that is why sandbox is used in the first place.

I am not a java coder, not even an official Gentoo developer (at least yet), so my answer a

[2016-07-14 15:55] magicDGS commented on #580
Closed by #581.

[2016-07-14 15:55] #580 closed

[2016-07-14 16:25] magicDGS opened #664 "VariantContextWriterBuilder does not support text files without ".vcf""
`setOutputFile()` determines the output type based on the extension, first checking if the file ends with _.bcf_ suffix, then if it ends with a block-compressed extension and finally if it ends with a _.vcf_ extension. If none of them is met, the output type is unspecified and using `build()` will thrown a `IllegalArgumentException`. Nevertheless, the Javadoc tells that it will be thrown if no fil

[2016-07-15 01:28] delocalizer opened #665 "> 1 public class declarations in StreamInflatingIndexingOutputStream.java"
StreamInflatingIndexingOutputStream.java declares both `StreamInflatingIndexingOutputStream` and `Indexer` classes in the same file, both public. This is not good. For one thing, it means my scala compiler can't actually find `StreamInflatingIndexingOutputStream` class in `htsjdk.samtools` package. As both StreamInflatingIndexingOutputStream and Indexer are useful, I suggest putting them in separa

[2016-07-15 02:18] yfarjoun commented on #665
Indexer is only used inside `StreamInflatingIndexingOutputStream` any reason not to make it private?

[2016-07-15 02:39] delocalizer commented on #665
For my purposes that is fine; I only want `StreamInflatingIndexingOutputStream`.

[2016-07-15 10:41] tfenne commented on #665
Both `StreamInflatingIndexingOutputStream` and `Indexer` are both package private.  @delocalizer I think you're confused by the different default access level in scala vs. java.  What you're really requesting here is that `StreamInflatingIndexingOutputStream` be made public.

[2016-07-17 22:48] delocalizer commented on #665
My apologies, that's absolutely correct: I assumed the default access level in Java was the same as Scala i.e. public. Yes, the actual request is that StreamInflatingIndexingOutputStream be public.

Date: Fri, 15 Jul 2016 03:41:34 -0700
From: notifications@github.com
To: htsjdk@noreply.github.com
CC: conrad.leonard@hotmail.com; mention@noreply.github.com
Subject: Re: [samtools/htsjdk] > 1 public c

[2016-07-20 20:57] lbergelson opened #666 "update to a newer snappy version"
HTSJDK currently is using `org.xerial.snappy:snappy-java:1.0.3-rc3`, the most recent version is `1.1.2.6`

Many other projects (spark, rely on newer versions of snappy which have eliminated the `LoadSnappy` class.  If these are required by other libraries they tend to replace the older htsjdk dependency causing htsjdk to break and fail with `NoClassDefinitionFound` if snappy is used.  A workaround

[2016-07-22 02:03] yfarjoun commented on #483
currently Picard's SamFormatConverter doesn't generate a PIcard-valid sam since the NM tag is missing.

[2016-07-25 13:54] cmnbroad commented on #467
Closed via https://github.com/samtools/htsjdk/pull/478.

[2016-07-25 13:54] #467 closed

[2016-07-26 14:20] droazen commented on #660
Closing this one. I'm sorry, but we can't change our build system to help you with your Gentoo packaging issues. Pulling down project dependencies from maven central is standard behavior for modern Java-based projects -- I recommend that you ask around on the Gentoo forums for suggestions on how to handle this when building packages.

[2016-07-26 14:20] #660 closed

[2016-07-26 14:35] magicDGS commented on #520
Any news about this? I would like to contribute if this is going to happen...

[2016-07-26 15:59] pabarcgar opened #670 "Exception in VCFEncoder when trying to write a missing value in the VCF "Filter" column"
### Subject of the issue
When I try to write to an VCF file a Variant containing a Missing value (.) in the FILTER column an exception is thrown:

[code]
Both VCF 4.1 and 4.3 specifications say:

##FILTER = < ID=ID,Description="description">

then this field should be set to the missing value.

A missing value is not a filter and shouldn't be described in the header.

### Your environment
* versio

[2016-07-26 16:28] lindenb commented on #670
That would be

[code]

or

[code]

isn't it ?

[2016-07-26 16:43] pabarcgar commented on #670
That's correct. I got confused because of the Constant VCFConstants.UNFILTERED (that I see now that is used for parsing/writting VCF files). Closing the ticket.

[2016-07-26 16:43] #670 closed

[2016-07-26 17:07] tfenne commented on #520
@magicDGS I lost steam on this because I realized that:
1) What I really want is an API that works really well in scala
2) It's hard to make an API in Java that feels anything like as good as a native scala API
3) I don't think a native scala API would see the uptake a Java one would
4) I think putting scala wrappers around a Java API would degrade performance too much

[2016-07-26 17:15] lindenb commented on #520
Can we start something anyway ? For example slowly moving SAMRecord to an interface... :

[code]

[2016-07-26 18:05] droazen commented on #548
#443
#542
#572
#576
#581
#593
#638
#637
#644
#646

[2016-07-27 07:16] mmokrejs commented on #660
There is nobody working on supporting not even maven under Gentoo, and gradle is even more complex and depends on maven anyway. I posted a number of URLs to show there are almost no other maven-based packages, not even speaking of gradle. And that these build systems are not supported for a reason: unclean build system.

Thank you for your kind answers, as the Subj states, I was asking for a resto

[2016-07-27 08:32] magicDGS commented on #520
I see, @tfenne... even with a new API it will be difficult to integrate into scala.

But I think that the idea is great to have a new and clean API, well tested and with interfaces for Read and Variants (as @droazen and @lindenb suggested), and the use of `java.nio.file.Path` instead of `File` for easier file handling in different filesystems.

I'm in for the implementation of an evolution of htsj

[2016-07-27 12:30] magicDGS commented on #653
This could be close, couldn't it?

[2016-07-27 12:31] magicDGS commented on #611
This could be close, couldn't it?

[2016-07-27 12:33] magicDGS commented on #544
This could be close, couldn't it?

[2016-07-27 12:36] cmnbroad commented on #653
@magicdgs The change @tomwhite made only helps Hadoop-BAM. This still needs to be fixed in htsjdk.

[2016-07-27 12:39] magicDGS commented on #653
I can take this ticket, because it is easy to fix. So thanks for the answer, @cmnbroad!

[2016-07-27 13:50] magicDGS commented on #430
I think that this could be close, couldn't it?

[2016-07-27 16:21] davidbenjamin commented on #544
Yes, closed by PR #546.

[2016-07-27 16:21] #544 closed

[2016-07-28 21:02] mmokrejs commented on #636
Quoting from #660:

So, why does this happen if I start from https://github.com/samtools/htsjdk/archive/htsjdk-2.5.1.tar.gz file?

[code]

[2016-07-28 21:28] droazen commented on #636
@mmokrejs Because that `.tar.gz` archive contains the code from this repository, but is not itself a git repository. You need to `git clone` this repository, and build within that clone.

[2016-07-28 22:19] mmokrejs commented on #636
Do you mean this?

[code]

Or should I fiddle with `$GIT_DIR` or `$GIT_WORK_TREE` or `$GIT_COMMON_DIR` env variables? Note I have no write access to $HOME/.git from under this user, so I need to eventually redirect git to store its crap in some temp space. Ideally in current working directory.

[2016-07-28 22:29] droazen commented on #636
You don't need to download the `.tar.gz` at all. Just `git clone` this repository, cd into the clone, and run `./gradlew jar` to build an htsjdk-only jar, or `./gradlew shadowJar` to build a monolithic jar that includes htsjdk plus all of htsjdk's dependencies. See the README for this repo for more build options.

[2016-08-02 17:43] kbergin opened #674 "Request for a release of htsjdk"
Hello,

I have merged in a change to htsjdk that I need for Picard (#667). Would it be possible to have a release?

Thanks,
Kylee

[2016-08-03 17:15] droazen commented on #674
Sure, we'll do a release today -- waiting on merge of https://github.com/samtools/htsjdk/pull/675 first.

[2016-08-03 17:16] kbergin commented on #674
@droazen Thank you!

[2016-08-03 19:47] lbergelson commented on #674
@kbergin htsjdk 2.6.0 is now available on github

[2016-08-03 19:47] #674 closed

[2016-08-03 22:19] jblachly opened #677 "@PG ID:bwa line containing @RG ID:... causes SAMFormatException"
***(Foreword) This may actually be an htslib issue rather than specifically htsjdk***

### Verify
I searched the issue tracker for the text: "clash"

### Subject of the issue
Briefly, when read groups are added at the alignment step with BWA (instead of adding them later), bwa inserts the @PG BAM header line that includes its complete command line after the CL: key. However, when the command line

[2016-08-03 22:21] lbergelson commented on #655
I believe the tests themselves are fixed now.  They're successfully failing because we have breaking changes against picard/gatk at the moment.

[2016-08-03 22:21] #655 closed

[2016-08-04 00:01] nh13 commented on #677
`@PG` lines cannot have tabs, see section 1.3 of the SAM spec:

    Thus header lines match /^@[A-Z][A-Z](\t[A-Za-z][A-Za-z0-9]:[ -~]+)+$/ or /^@CO\t.*/.

[2016-08-04 01:55] jblachly commented on #677
Field *values* cannot have tabs, yes. I agree is a bwa bug. But is an htslib/jtsjdk issue nontheless -- feel free to mark 'wontfix,' but I thought it was important to document in case someone else runs across this, as there are I think zero google hits for this.

[2016-08-04 04:36] nh13 commented on #677
Thanks for documenting it here for folks to find it, and feel free to link the issue you log with BWA, as it likely needs to sanitize its output in this case.  Also, you can modify your script/code not to produce tabs.

[2016-08-04 04:36] #677 closed

[2016-08-04 18:10] hwangy opened #679 "Unable to distinguish between unfiltered and PASS for variant calls (genotypes)"
### Subject of the issue
When creating genotypes on VCF import, both unfiltered and PASSing filters are represented as NULL. This causes losing information on whether the original call was PASSing or unfiltered.

### Your environment
N/A

### Steps to reproduce
In the comment on <a href="https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/variant/variantcontext/GenotypeBuilder.java

[2016-08-08 17:29] kasont commented on #664
isCompressedVCF() seems to look for .gz, Do you know if it stops after .vcf and does not continue to look for .gz, or has this already been fixed to check for them?

[2016-08-09 05:05] magicDGS commented on #664
I think that it is fixed for your question, @kasont. First it use `isBCF(f)` (checks for __.bcf__ extension), then use `isCompressedVCF(f)` (which use `AbstractFeatureReader.hasBlockCompressedExtension(f)`, checking for __.gz__ and other extensions like __.bz__), and finally use `isVCF(f)` which checks for __.vcf__).

The problem that I'm facing (and also in the GATK framewor as described in this

[2016-08-09 18:39] droazen commented on #548
Outcome of today's review party:

#443 @lbergelson is addressing review comments
#542 Did thorough review, waiting on reply from author
#572 author has addressed comments, needs a new review from @lbergelson
#576 pinged @jabbarish for a review
#593 pinged @cmnbroad for status
#638 merged!
#637 @yfarjoun will re-run his performance tests
#644 closed in favor of #671, reviewed #671
#646 merged!

[2016-08-09 20:40] droazen opened #680 "EnaRefServiceTest failing in master"
`EnaRefServiceTest` is failing in master with a `GaveUpException`:

[code]

[2016-08-09 20:40] droazen commented on #680
@vadimzalunin can you comment, since this is part of the cram package?

[2016-08-10 17:17] droazen opened #681 "SAMTextReader should allow a second iterator to be opened after closing the first one"
The docs for `SamReader.iterator()` state that a second iterator can be opened on a reader, provided that you close the first iterator:

[code]

`SAMTextReader` violates this contract by closing the reader itself whenever an iterator on the reader is closed, making it impossible to open a second iterator even when you dutifully close the first. This is also inconsistent with the behavior of `BAMFi

[2016-08-10 17:23] droazen commented on #681
For @jamesemery

This should be a very simple fix -- goal is to make the behavior of `SAMTextReader.RecordIterator.close()` consistent with the behavior of`BAMFileReader.AbstractBamIterator.close()` (close the iterator and not the associated reader).

You should write a unit test to prove that your fix works that opens a `SAMTextReader` on a SAM file, calls `iterator()` on it, asserts that the ite

[2016-08-10 19:18] #653 closed

[2016-08-17 15:02] SHuang-Broad opened #686 "Make JEXLMap (package-access) lazy but unusual exception behavior or the other way?"
### Verify
Can you see anything in the logs?
No.

### Subject of the issue
There is some troubling design choices in the JEXLMap class: the laziness and exception behavior.

Because the class is currently designed to be lazy, when an instance is created, some invalid expressions may be provided. Later when user requests some/all values by calling `get()`/`values()`, those invalid expressions will

[2016-08-23 18:13] vadimzalunin commented on #680
looks like connectivity issue, is it intermittent?

[2016-08-23 18:23] #549 closed

[2016-08-23 18:54] cmnbroad commented on #627
Closed via https://github.com/samtools/htsjdk/pull/671.

[2016-08-23 18:54] #627 closed

[2016-08-23 18:55] cmnbroad commented on #645
Closed via #671 .

[2016-08-23 18:55] #645 closed

[2016-08-23 19:34] cmnbroad commented on #442
I''m able to run these tests now - I think this was fixed in https://github.com/samtools/htsjdk/pull/638 and can be closed ?

[2016-08-23 19:35] cmnbroad commented on #545
Can this be closed (fixed in https://github.com/samtools/htsjdk/pull/638 ?)

[2016-08-23 19:36] cmnbroad commented on #460
Can this be closed (fixed in https://github.com/samtools/htsjdk/pull/638 ?)

[2016-08-23 19:36] cmnbroad commented on #461
Can this be closed (fixed in https://github.com/samtools/htsjdk/pull/638 ?)

[2016-08-23 19:36] cmnbroad commented on #459
Can this be closed (fixed in https://github.com/samtools/htsjdk/pull/638 ?)

[2016-08-23 19:37] cmnbroad commented on #442
@a-nikitiuk Is there anything else to be done here ?

[2016-08-23 19:54] lbergelson commented on #680
There were a few days were it was consistently failing but it seems to be back up now.  I think it would be good if the test could identify that the service was unavailable and skip in that case instead of failing.

[2016-08-24 02:01] a-nikitiuk commented on #442
Nope, it can be closed

[2016-08-24 02:04] a-nikitiuk commented on #460
Yes, it should be

[2016-08-24 02:04] a-nikitiuk commented on #461
Yes

[2016-08-24 02:05] a-nikitiuk commented on #545
Yes

[2016-08-25 12:22] cmnbroad commented on #442
Closed via https://github.com/samtools/htsjdk/pull/638.

[2016-08-25 12:22] #442 closed

[2016-08-25 12:23] cmnbroad commented on #461
Closed via https://github.com/samtools/htsjdk/pull/638.

[2016-08-25 12:23] #461 closed

[2016-08-25 12:23] cmnbroad commented on #460
Closed via https://github.com/samtools/htsjdk/pull/638.

[2016-08-25 12:23] #460 closed

[2016-08-25 12:25] cmnbroad commented on #545
Closed via https://github.com/samtools/htsjdk/pull/638.

[2016-08-25 12:25] #545 closed

[2016-09-01 16:40] magicDGS commented on #561
This should be replaced by the Local or Zoned API? I can take this ticket if I know which one; I guess that Local is enough...

[2016-09-05 05:09] Lenbok opened #695 "Attack of the zombies! (SAMFileReader/SAMFileTruncatedReader)"
The release notes for 2.5.0 say that SAMFileReader and SAMFileTruncatedReader have been deleted.

However, they still exist on master. It looks like there has been a merge muckup that resurrected these files.

[2016-09-06 16:30] SHuang-Broad opened #697 "JEXLMap evaluateExpression's un-overridable default behavior restricts user's options."
### Verify

Can you see anything in the logs?
Make sure your issue is not already in the [htsjdk issue tracker](https://github.com/samtools/htsjdk/issues?q=)

Answer: At the time of ticket opening (2016-09-06), there's another [fix](#668) that tries to remedy a related problem. But that fix doesn't change any logic, so couldn't solve this problem.
### Subject of the issue

Summary: `JEXLMap` decid

[2016-09-06 18:20] lbergelson commented on #695
@Lenbok Thanks for pointing this out.  It must have been resurrected during the gradle transition.

[2016-09-06 18:38] vadimzalunin commented on #548
any updates?

[2016-09-06 19:29] lbergelson commented on #548
No update today, we cancelled the meeting due to people being on vacation and having conflicting meetings.

It looks like we forgot to make an update last time we did meet.  There was an issue with hangouts that prevented people at the broad from seeing the people not at the broad and I believe we held two parallel meetings.

@vadimzalunin Did you get the cancellation email today?

[2016-09-07 08:45] paulmenzel opened #700 "Please use HTTPS URL in GitHub description"
Currently the [project description](https://github.com/samtools/htsjdk) looks like below.

Please update the URL to use the HTTPS scheme.

[2016-09-07 16:57] magicDGS opened #701 "Request: Tribble writing support"
### Tribble writing support
Now the tribble support is only regarding reading through implemented `FeatureCodec` and `Feature`, and the only support for writing is for __VCF/BCF__. Implementing an interface and some abstract `FeatureWriter` and `IndexingFeatureWriter` could improve the usage of the codecs implemented in htsjdk or other software (like GATK), for indexing on the fly.

Two possibilit

[2016-09-07 17:00] magicDGS commented on #520
I would like to highlight this again. What do you think about open a new htsjdk3 repository in the samtools account? I will definitely contribute!

[2016-09-07 18:34] yfarjoun commented on #520
I think that this will have much more enthusiasm if it were to be done in
scala.....

On Thu, Mar 10, 2016 at 5:20 PM, Tim Fennell <notifications@github.com>
wrote:

[2016-09-07 18:37] tfenne commented on #520
I would definitely be more enthusiastic for a scala version if others were on board.

[2016-09-08 13:23] magicDGS commented on #520
My problem is that I'm not that familiar with scala. Could a scala API be used in normal java code?

[2016-09-08 14:23] tfenne commented on #520
Not easily.  The reason scala is attractive is that is has a lot of language features that remove a _ton_ of bolierplate, but some of them are implemented via the compiler, so if you're writing Java code you lose a lot of the advantage, and probably make life even harder.

If you're writing a lot of Java you might like to take a look a Scala though.  [Fgbio](https://github.com/fulcrumgenomics/fgbi

[2016-09-08 14:51] magicDGS commented on #520
Thanks for the explanation, @tfenne! I've already had a look to scala, but I didn't use it after knowing about the Java 8 lambda support. I will have a look!

[2016-09-08 14:57] lbergelson commented on #520
I'd be very interested in an improved htsjdk, and I personally would be happy to move to scala.  However, GATK is pretty entrenched in java-land and isn't likely to to adopt a scala htsjdk.  If GATK isn't going to make use of it then I don't think that our team will be able to contribute to it.

[2016-09-08 14:58] lbergelson commented on #520
If java-8 hadn't come around I think moving GATK to scala would have been a much more plausible thing.  Java 8 has just enough features that it makes remaining in java tolerable for most developers here.

[2016-09-08 15:02] tfenne commented on #520
@lbergelson I think tolerable is about right 😉   I have several Java 8 projects I work on and several scala ones too ....  at first Java 8 seemed great because it was so much better than Java 7, but after spending more time with Scala, I now barely tolerate working in Java any more.  There are just so many more features that you come to rely on over time and resent having to code manually in Java

[2016-09-08 15:12] lbergelson commented on #520
@tfenne I don't disagree with you.  Java improvements happen at the bare minimum level necessary to keep the language alive for entrenched users with massive legacy code bases.  Unfortunately, that definitely applies to the GATK.  As much as GATK4 has been improving old code, there's still so much of it that it would be a huge undertaking to bring it into idiomatic scala.  From my limited scala ex

[2016-09-08 15:22] magicDGS commented on #520
I'm working now a lot with the GATK4 framework, and before I was using htsjdk to develop some projects. That's why I would be interested in improving htsjdk to make easier both APIs, and have a nice way of develop bioinformatic software. But if both APIs change to scala (something that I think is kind of unlikely) I will definitely spend more time on it, to be able to use it and contribute.

If it

[2016-09-09 13:21] magicDGS opened #702 "Request: public access to inner class PositionalOutputStream"
I would like to index on the fly some file while writing features, so I will need `PositionalOutputStream`. This is also related with #701, because it will be used while indexing.

[2016-09-13 08:50] magicDGS opened #705 "Clean up the IndexingVariantContextWriter"
`IndexingVariantContextWriter` have some methods/classes that does not belong to the writer itself:

* `PositionalOutputStream` class could be useful for other purposes (#702), like indexing on the fly other feature files (#701)
* `setIndexSequenceDictionary()` for tribble indexing and the "DICT:" property belongs to the `TribbleIndexCreator` instead of the writer. Like that, it could be use for a

[2016-09-16 17:57] lbergelson commented on #523
I'm closing this since the intel deflater is no longer part of htjsdk.

[2016-09-16 17:57] #523 closed

[2016-09-16 17:58] lbergelson commented on #598
this is no longer relevant since we removed the intel deflater from htsjdk.

[2016-09-16 17:58] #598 closed

[2016-09-16 18:15] #430 closed

[2016-09-16 18:19] lbergelson commented on #701
It's always bothered me that tribble codecs are actually only "decs". I would be a fan of adding a mandatory encode to the codec API along with decode, but we should see how much an impact that would have on users.

@jrobinson likely has the most custom codecs implemented, so we should get his opinion before making any changes.  It looks like he has his own interfaces for encoding on top of the ex

[2016-09-17 09:49] magicDGS opened #709 "Overhaul exceptions thrown by Tribble"
Exceptions in the tribble package sometimes are not consistent (as found during review of https://github.com/samtools/htsjdk/pull/683), and sometimes are just random or not informative. It will be interesting to have a look to the exceptions thrown in the package and decide which ones should be used in each case.

[2016-09-17 10:37] magicDGS commented on #156
The `Feature` interface extends [`Locatable`](https://github.com/samtools/htsjdk/blob/909381a31321deb1e411a34fca3d1f75e4fc2410/src/main/java/htsjdk/samtools/util/Locatable.java), and the contract of them says that `getStart()`/`getEnd()`are 1-based. In addition, `BEDCodec` is handling this to convert from 0-based to the `Feature` specifications.

It is this still an issue?

[2016-09-17 10:47] magicDGS commented on #203
This could be close, no?

[2016-09-17 10:50] magicDGS commented on #236
@yfarjoun, this could be close, no?

[2016-09-17 10:56] magicDGS commented on #269
Could this be closed, @tfenne?

[2016-09-17 11:01] magicDGS commented on #278
Can this be closed now, @droazen?

[2016-09-17 11:37] magicDGS commented on #332
Now the `WFIterator` uses `hasBlockCompressedExtension`, but I think that for solve completely this issue all the usages in htsjdk of `hasBlockCompressedExtension` should use the `URI` version. If so, let me know if I can help with a PR modifying all the usages...

[2016-09-17 12:11] magicDGS commented on #351
This can be close, no?

[2016-09-17 12:12] magicDGS commented on #360
This is fixed now, no?

[2016-09-17 13:34] magicDGS commented on #393
Can you try with the latest master version, @dariober? I fixed some bugs in the Tabix/Tribble indexing recently...

[2016-09-17 13:35] magicDGS commented on #409
Could this be closed?

[2016-09-17 13:37] magicDGS commented on #415
I guess that this should be close, because htsjdk migrated to gradle and there is no longer ant tasks...

[2016-09-17 13:38] magicDGS commented on #445
Could this be closed?

[2016-09-17 13:39] magicDGS commented on #459
I think that this is already fix, no?

[2016-09-19 18:34] lbergelson commented on #459
Marking this as done.

[2016-09-19 18:34] #459 closed

[2016-09-19 18:34] #445 closed

[2016-09-19 18:35] #415 closed

[2016-09-19 18:36] #409 closed

[2016-09-19 18:37] lbergelson commented on #360
This was fixed in the move to gradle.

[2016-09-19 18:37] #360 closed

[2016-09-19 18:37] #351 closed

[2016-09-19 18:39] #203 closed

[2016-09-19 18:43] lbergelson commented on #156
We changed the contract of `Feature` when we made it implement `Locatable` so it should all be 1-based closed on both ends.  Features in HTSJDK should this contract, but there are existing features in the wild that may not.

[2016-09-19 18:43] #156 closed

[2016-09-20 10:48] yfarjoun commented on #236
yes. there's an exception checking this now.

[2016-09-20 10:48] #236 closed

[2016-09-20 22:18] #705 closed

[2016-09-20 22:19] cmnbroad commented on #702
Closed via https://github.com/samtools/htsjdk/pull/706.

[2016-09-20 22:19] #702 closed

[2016-09-21 17:16] magicDGS commented on #701
Hi @lbergelson, I was looking to this issue (work in progress at [magicDGS@`dgs_feature_writers`]( https://github.com/magicDGS/htsjdk/tree/dgs_feature_writers). I did a basic structure for the writers following the `VariantContextWriter` interface and the implementations. The abstract implementation is using the same approach as the `VCFWriter` for high performance and managing both block-compress

[2016-09-22 20:31] cmnbroad opened #713 "Bam->CRAM can alter cigar string"
The file xx#minimal.3.sam (in the src/test/resources/htsjdk/samtools/cram test folder) contains a read with cigar "5H0M5H" that, after being round tripped through CRAM, is restored as "10H". This task/question here is to understand and characterize round trip fidelity of cigar elements in CRAM.

### Steps to reproduce
Write the above file to a .cram and then read and compare the records with the o

[2016-09-22 20:34] cmnbroad commented on #713
@vadimzalunin Can you let us know if this is expected, and if so what the nature of the transformations are ? Thx.

[2016-09-22 20:42] cmnbroad opened #714 "Bam->CRAM loses mapping quality on unmapped reads"
In the case where a read is unmapped but has a non-zero mapping quality (!), the mapping quality (and alignment start, if any) are dropped on round trip through CRAM. It appears that the actual values are in fact maintained in the CRAM stream, but the code just doesn't restore them in the unmapped case.

This was discovered in the effort to try to characterize what we can expect in round trip fide

[2016-09-22 20:43] cmnbroad commented on #499
@vadimzalunin ping. Can you take a look at this ? Thx.

[2016-09-22 21:09] cmnbroad commented on #380
Closing this as we've added a fair amount of javadoc since this was opened.

[2016-09-22 21:09] #380 closed

[2016-09-22 21:12] cmnbroad commented on #433
Update: there is now support for creating .crai (https://github.com/samtools/htsjdk/pull/538), but its not currently turned on by default due to https://github.com/samtools/htsjdk/issues/531.

[2016-09-22 22:55] yfarjoun commented on #714
This would be great as it is affecting a project I'm working on....:+1:

On Thu, Sep 22, 2016 at 4:42 PM, Chris Norman <notifications@github.com>
wrote:

[2016-09-23 13:51] cmnbroad commented on #714
On a closer look, it appears that for unmapped segments, the mapping quality is NOT emitted to the stream, so the fix is probably not as simple as I originally thought.

[2016-09-26 17:43] yfarjoun commented on #713
@cmnbroad some folks from hts-spec are wondering about this CIGAR string...can I ask where it came from? did it show up in a file? did you come up with it artificially?

thanks.

[2016-09-26 17:52] cmnbroad commented on #713
@yfarjoun Its one of the htsjdk cram test files - I assume it was part of the original cram checkin so I'm not sure where it ultimately came from. It looks pretty artisanal/handmade though.

[2016-09-27 09:18] vadimzalunin commented on #714
This was done deliberately i'm afraid - non-zero mapping quality score as well as non-empty CIGAR string on unmapped reads do not seem valid to me.

Here is from the SAM specs:

POS is the only field that sort of makes sense to allow for half-mapped pairs stored together.

So the case is in the grey area where BAM format as transport just doesn't care but validators would probably classify such re

[2016-09-27 15:09] yfarjoun commented on #714
I think that a file format should not be in the business of validating the
spec. a warning would be fine, but changing the data should be avoided as
much as possible.

On Tue, Sep 27, 2016 at 5:18 AM, Vadim Zalunin <notifications@github.com>
wrote:

[2016-09-27 15:54] jmarshall commented on #714
This is a demonstration of the [argument we had a while back](https://sourceforge.net/p/samtools/mailman/samtools-devel/thread/0A3B3627-34E0-494C-825A-807BB41FEAE0%40sanger.ac.uk/#msg24727201) as to whether the spec should say that meaningless fields (like RNAME/POS/CIGAR/MAPQ for unmapped reads) are undefined / don't care, or whether it should prescribe particular dummy placeholder values to be u

[2016-09-27 16:57] vadimzalunin commented on #714
@yfarjoun A file format surely relies on data validity, like bases and scores length must match - text SAM for example can handle it.

Are there any examples of valuable data stored in RNAME/CIGAR/MAPQ fields for unmapped reads somewhere?

Is this just for testing or we have to prove losslessness :D to people that don't accept explanations? I can accept the latter but hopefully it is the former!

[2016-09-27 17:12] nh13 commented on #714
See the best-practices section 2.4 for when RNAME (and POS) are meaningful, namely placing an unmapped read next to its mapped mate.  Its cigar may be meaningful if hard-clipping exists, though that is neither in the spec nor the best practices.  Nonetheless, I agree that it is perfectly fine to return a `0` for the MAPQ unmapped reads when reading from CRAM, since the spec says no assumption can

[2016-10-03 22:57] lmichael107 opened #718 "Allow user to indicate sra cache location AND delete cache files after they're used"
At UW-Madison's Center for High Throughput Computing, our users have important reasons to not have file written to their home directories. In particular, when sending jobs to the Open Science Grid (a national grid of immense backfill campus computing capacity), software runs within a temporary directory on a remote server where the user's home directory doesn't exist. In a different context, even

[2016-10-05 12:54] cmnbroad commented on #718
@a-nikitiuk Can you take a look/respond ? thx.

[2016-10-05 15:18] s-andrews opened #719 "Allow CRAM to be read if reference sequences are missing."
I need to parse some CRAM files in an application and currently these are failing with an error "A valid CRAM reference was not supplied..." - which is true - the reference files used to create the original CRAM file aren't available on the system I'm using.

However - all I need from the CRAM files are the mapped positions of the reads.  I don't need the actual sequences so I'd like to be able to

[2016-10-05 21:07] cmnbroad commented on #719
@s-andrews The exception you're hitting is there because the downstream code assumes it has access to the reference, and doesn't fail gracefully without it. I don't see any reliable way to do what you're asking using the current htsjdk implementation.

In general, for CRAM, the smallest unit of access is the "slice", which holds a group of records (in htsjdk the default size is 10,000) that are en

[2016-10-06 04:07] #665 closed

[2016-10-06 17:44] tfenne commented on #719
@cmnbroad I don't know much about the CRAM implementation in htsjdk, but it sounds like what @s-andrews is asking for is to return records either where the sequence field is just a `*` for "sequence not stored", or perhaps a string where `=` is used for bases that are reference, and just the mismatching bases are present as `A/C/G/T`.  Does CRAM support the encoding of records that have no base st

[2016-10-06 18:06] s-andrews commented on #719
Yes, what @tfenne suggested is exactly what I'm after.  Dummy records for sequences are fine.  I'd be happy to fake up a polyN genome sequence and get gibberish back as I don't need the sequence at all and it seems a waste to make people locate and download the references when they're not actually going to be used other than to get past the initial verification.

[2016-10-07 13:06] cmnbroad commented on #719
I see. It might be possible to do something like that.

@s-andrews Short of such a thing being implemented, you can provide a referenceSource to the SAMReaderFactory in the form of an implementation of the htsjdk.samtools.cram.ref.CRAMReferenceSource interface, which is a pretty small interface that just returns the reference bases for a given sequence. As of 2.6.1, the calling code will require t

[2016-10-07 18:58] cmnbroad commented on #483
@yfarjoun Do you have more context for this SamFormatConverter issue ? It looks to me like Picard is just delegating to htsjdk to do the conversion, so (with the changes we made in https://github.com/samtools/htsjdk/pull/487) it should be restoring whatever NM tag value was there when the file was originally converted to CRAM.

[2016-10-07 19:04] yfarjoun commented on #483
OK.  perhaps it is now working.

[2016-10-07 19:07] cmnbroad commented on #483
Remaining outstanding issues:

https://github.com/samtools/htsjdk/issues/499 (unsigned attributes)
https://github.com/samtools/htsjdk/issues/713 (cigar element transformations)
https://github.com/samtools/htsjdk/issues/714 (lossy values for unmapped reads)
https://github.com/samtools/htsjdk/issues/509 (legacy issue that only affects version 2.1 CRAMs created with old htsjdk code)

[2016-10-07 19:50] cmnbroad opened #721 "*CRAM files generated with samtools using "--output-fmt-option no_ref" fail during read"
If you try to read a CRAM file that was created using samtools with "--output-fmt-option no_ref" (which turns off reference-based compression), it fails on read because the slice MD5 validation fails (the slice MD5 is all zeroes, but the reference MD5 isn't). I temporarily turned off md5 guard and the rest of the reading succeeds.

This is probably another reason to support something like what is

[2016-10-07 19:51] cmnbroad commented on #592
Closing this because we have either test cases or tickets for everything listed here now.

[2016-10-07 19:51] #592 closed

[2016-10-10 21:39] jpaul6 opened #722 "HTSJDK performance on CRAM"
I've recently been trying to use recent builds of IGV on CRAM files. Especially when using the Broad-hosted reference files, performance is very poor. I've traced this back to three (semi-independent) issues with the interface that HTSJDK provides/implements.
1. The CRAMReferenceSource interface has a single function that demands a byte[] for the entire chromosome. This takes an age to load over a

[2016-10-11 14:28] cmnbroad commented on #722
@jrobinso @vadimzalunin Thoughts on this ? @jpaul6 Have you PoC'd #3 - I'd be curious to see what that looks like.

[2016-10-11 17:24] jpaul6 commented on #722
@cmnbroad I have not, and I agree that's probably among the stickier parts.

[2016-10-11 18:48] tfenne commented on #722
I've also been experimenting with IGV and CRAM files, and it's pretty painful.  For my own personal use I tend to load a local genome when using CRAM as then the reference sequence fetching is fast, and in general things are _only_ 1-2X slower than working with a BAM file.  The downside of this, of course, is all the standard annotations in the server-hosted genomes aren't at my finger tips any mo

[2016-10-11 19:18] jrobinso commented on #722
I like Tim's approach of returning an object instead of a byte [] array,
 but IIRC this might be a substantial undertaking on the HTSJDK side.

Tim, IIRC when you first load a server-hosted genome you can check a box
that says download sequence (or fasta).   The intent of that was to allow
you to work with a local fasta.  To be honest I didn't implement that, and
don't know if it even works,  but

[2016-10-11 19:24] tfenne commented on #722
@jrobinso I haven't profiled - but the performance is night and day different using the hosted genome vs. a local genome.  I had meant to say in my comment, that while there are workarounds (use a local genome, the checkbox you suggest) those are not great workarounds for less experienced users.  For example I support a number of lab where there's a plethora of lab techs and mol-bio people using I

[2016-10-11 19:27] jrobinso commented on #722
OK.   Since disk space is not usually a problem these days,  perhaps IGV
could notice you are using a CRAM and cache entire sequences on disk when
first accessed.

On Tue, Oct 11, 2016 at 12:24 PM, Tim Fennell <notifications@github.com>
wrote:

[2016-10-11 19:28] jrobinso commented on #722
BTW I think the best solution is to change the CRAMReferenceSource  API to
not require entire sequences,  but I don't know if that's feasible and I
definitely would not want to loose the MD5 sequence check.

On Tue, Oct 11, 2016 at 12:27 PM, James Robinson <
jrobinso@broadinstitute.org> wrote:

[2016-10-11 19:31] tfenne commented on #722
I agree on not losing the MD5 check .. but perhaps the API can require that the returned object yield up the MD5 of the full sequence, and then also allow querying of sub-sequences?  I don't think it's necessary for the CRAM code to fetch the full sequence and compute the MD5, if, e.g. there's a sequence dictionary or similar file available with the reference genome I think it should be sufficient

[2016-10-11 23:23] jpaul6 commented on #722
Presently the MD5 check is implemented only at the level of the slice in HTSJDK (as far as I can tell). My personal preference would be to allow the client code to decide whether and how to check at the genome and/or contig and/or slice level, or not at all (i.e. to enable something like #719).

@jrobinso to your question re: profiling, I did not profile, but I did implement the CRAMReferenceSourc

[2016-10-12 12:38] btiernay opened #723 "Add InputStream support to VCFFileReader"
This is an enabler for remote streaming of VCF files from remote locations or even stdin. A common use case would be reading from an S3 bucket a slice of a VCF file without having to first transfer the entire file locally. The current File requirement is quite limiting for these types of usages.

[2016-10-13 16:15] chriswhelix commented on #628
Is there any sense of when this work might be completed? We have a similar requirement.

[2016-10-13 16:26] droazen commented on #628
We really hope to be able to assign an engineer to work on this this quarter, but can't make any firm promises at this time. The work has been started (see https://github.com/samtools/htsjdk/pull/694 and https://github.com/cmnbroad/htsjdk/tree/cn_bcf2), but it's run into snags related to the fact that we need to maintain backwards compatibility for older versions of the VCF/BCF specs, but the htsj

[2016-10-13 16:52] chriswhelix commented on #628
@droazen thanks for the quick response! Is that branch functional for BCF2.2 support if we don't need compatibility with earlier formats?

[2016-10-13 16:54] droazen commented on #628
@chriswhelix That branch is a work in progress that definitely shouldn't be used for anything except testing purposes -- @cmnbroad can provide more details on its current status.

[2016-10-13 18:02] cmnbroad commented on #628
Its been a while since I've looked at it, but my recollection is that support for reading was mostly there, with the exception of one remaining BCF2.2. feature (end-of-vector marker ?). There is no write support at all. Anyway, its not finished; its pretty far behind master, and its certainly not tested.

[2016-10-14 16:27] chriswhelix commented on #628
Thanks @cmnbroad. Really appreciate the responsiveness on this.

After an only mildly hellish tour through JNAerator, Bridj, and undocumented C code, I managed to get bindings to htslib working as a short term solution. Would definitely prefer to use htsjdk once it's updated.

[2016-10-21 10:19] mdyckmanns commented on #494
I second that! I am using a CRAMFileWriter with a reference fasta stored on disk and when I interrupt the writing, I end up with an input stream from the reference file that never closes.

Make ReferenceSource closeable and in its close method, call close on the ReferenceSequenceFile rsFile.
Store the referenceSource in the CRAMFileWriter and close it in a CRAMFileWriter.close method (or close it

[2016-10-24 16:48] #695 closed

[2016-10-24 16:53] #578 closed

[2016-10-26 20:06] cmnbroad opened #730 "VCFHeader drops sequence dictionary attributes"
Both:

- VCFHeader.setSequenceDictionary
- the VCFContigHeaderLine constructor VCFContigHeaderLine(final SAMSequenceRecord sequenceRecord, final String assembly)

drop all SAMSequenceRecord attributes except ID, length, and assembly (i.e. they drop MD5/UR).  If these are allowed in the vcf (AFAICT they are) then both of these classes should be fixed up to propagate these in and out.

[2016-10-26 20:18] cmnbroad opened #731 "SAMSequenceDictionaryExtractor doesn't handle CRAMs"
Just adding the cram extension to the list of extensions used by the SAM handler won't work unless a method overload is added that accepts a reference. Alternative it would be possible to have a custom handler that bypasses the SAMReader and just retrieves the header directly, since the reference isn't needed to just do that.

[2016-10-27 00:23] yfarjoun commented on #731
I have an implementation of a solution that involves the following:

- an "empty" implementation of ReferenceSource (that does nothing and will throw an exception if you ask for the referenceBases)
- changing the default for MakeDefault of SamReaderFactory so that it will use that referenceSource by default (which will get overridden by any subsequent setReferenceSource, or setReferenceFile call)

[2016-10-27 00:59] yfarjoun commented on #731
the implementation can be viewed here: #732

[2016-10-27 01:01] cmnbroad commented on #731
One other option - it might be less intrusive to just crack the file open. Given a stream on the file, I think its a one-liner to get the header without the reference, i.e.:

CramIO.readCramHeader(inputStream).getSamFileHeader()

[2016-10-27 19:00] cmnbroad commented on #586
Fixed in https://github.com/samtools/htsjdk/pull/716.

[2016-10-27 19:00] #586 closed

[2016-10-28 17:28] meganshand opened #737 "htsjdk Release"
I have a PR in Picard that needs an htsjdk release: https://github.com/broadinstitute/picard/pull/663

Thanks!

[2016-10-28 17:29] meganshand commented on #737
@droazen @lbergelson

[2016-10-28 17:58] lbergelson commented on #737
I can do one today I think.

[2016-10-28 20:34] lbergelson commented on #737
@meganshand htsjdk 2.7.0 is out now.

[2016-10-28 20:34] #737 closed

[2016-11-01 18:45] yfarjoun commented on #548
Nov1

#443 (Locatable stuff) pinging @lbergelson
#572 needs a new review @lbergelson
#576 needs response from @d-cameron
#637 pinged @ZLyanov waiting for response to review.
#678 asked author to delete the constant MAX_GENOTYPE_QUAL at the same time.
#682 @lbergelson  will commandeer PR and get it to the finishline since @jamesemery is in school

[2016-11-07 08:26] lindenb opened #738 "How should I cite htsjdk ?"
Is there a `doi:`  describing the htsjdk library ?

[2016-11-07 11:39] yfarjoun commented on #738
The samtools paper points (eventually) at the samtools github, underwhich
htsjdk is published...perhaps that can serve as a good doi?

(10.1093/bioinformatics/btp352
<https://dx.doi.org/10.1093%2Fbioinformatics%2Fbtp352>)

On Mon, Nov 7, 2016 at 3:26 AM, Pierre Lindenbaum <notifications@github.com>
wrote:

[2016-11-07 11:46] lindenb commented on #738
Thanks.
BTW, I've tried to setup a doi from zenodo https://guides.github.com/activities/citable-code/ but one need to be the owner of the repository to create a doi.

[2016-11-07 11:47] lindenb commented on #738
@yfarjoun  thanks + closing
 feel free to create a doi from https://zenodo.org/

[2016-11-07 11:47] #738 closed

[2016-11-08 18:37] vdauwera opened #739 "Set default logging level to INFO instead of DEBUG"
We're getting DEBUG messages bleeding through to GATK output, for example this is showing up during normal runs (not setting log level to debug):

    DEBUG	2016-11-04 15:31:23	BlockCompressedOutputStream	Using deflater: Deflater

coming from https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/samtools/util/BlockCompressedOutputStream.java#L166

            log.debug("Using deflate

[2016-11-10 04:50] nathanhaigh commented on #447
What is required to add CSI support? I may be able to get a colleague to work on this but will need some pointers as to where to start etc.

[2016-11-14 18:44] heuermh opened #741 "Genotype requires a method filtersWereApplied"
Where do the assertions in #663 come from?

"A Genotype always has filters. If there are no non-PASS filters, it's PASS."

Per VCF specification:
"FT : sample genotype filter indicating if this genotype was “called” (similar in concept to the FILTER field). Again, use PASS to indicate that all filters have been passed, a semi-colon separated list of codes for filters that fail, **or ‘.’ to indicat

[2016-11-14 21:46] fnothaft commented on #741
+1, subscribing

[2016-11-15 02:32] ronlevine commented on #739
Closing since  #740 is merged.

[2016-11-15 02:32] #739 closed

[2016-11-15 13:24] cmnbroad commented on #649
I believe this is fixed now by https://github.com/samtools/htsjdk/pull/740, but I'll wait to close until I verify.

[2016-11-15 17:43] yfarjoun commented on #741
I guess the assertion was a way to say that you should always be able to
ask about a genotype whether it is filtered or not.

do you think that there should also be a "wereFiltersApplied()" function
that would return false if the FT tag is missing or "."?

On Mon, Nov 14, 2016 at 4:46 PM, Frank Austin Nothaft <
notifications@github.com> wrote:

[2016-11-15 17:58] heuermh commented on #741
Yes, that would be my suggestion.  Because of the special treatment `FT` receives as one of `PRIMARY_KEYS` (https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/variant/variantcontext/Genotype.java#L54) the actual attribute value appears not to be accessible.

[2016-11-19 17:44] dmyersturnbull commented on #265
Forgot to close. It looks like you've moved to Gradle, anyways.

[2016-11-19 17:44] #265 closed

[2016-11-20 12:27] magicDGS commented on #330
I think that this is already fixed.

[2016-11-20 13:04] yfarjoun commented on #330
fixed by #728

[2016-11-20 13:04] #330 closed

[2016-11-20 13:22] #371 closed

[2016-11-20 13:23] yfarjoun commented on #371
@ldgauthier ask and ye shall recieve! thanks @magicDGS!!

[2016-11-21 13:42] ronlevine opened #747 "Add file name to FileTruncatedException message"
### Verify
Look at https://github.com/broadinstitute/gsa-unstable/issues/1427.
For HTSJDK, create a test that that catches the `FileTruncatedException` from reading a truncated `vcf.gz` file and verify the exception message is `Premature end of file`. [testBasicWriteAndRead](https://github.com/samtools/htsjdk/blob/master/src/test/java/htsjdk/variant/variantcontext/writer/VCFWriterUnitTest.java#L92

[2016-11-21 21:38] kcibul opened #749 "Index associated with GCS-path bam not working properly"
When attempting to access a BAM in GCS using GATK PrintReads, although the index is found initially it appears to be lost in SamReaderFactory.

### Your environment
GATK 4.alpha.2-103-g4d29cf7

### Steps to reproduce

`./gatk-launch PrintReads --input gs://public-dream-data/synthetic.challenge.set1.normal.v2.bam  --output k.bam --intervals 1:1000000-1001000 `

### Expected behaviour
k.bam would co

[2016-11-21 21:40] droazen commented on #749
@tomwhite Can you have a look? Should be a simple patch.

[2016-11-21 22:52] lbergelson commented on #265
@dmyersturnbull Thanks for cleaning up.

[2016-11-23 08:29] fnothaft opened #751 "Phase quality standard header line type disagrees with VCF 4.3 spec"
The [standard header line definition for the "PQ" phase quality field](https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/variant/vcf/VCFStandardHeaderLines.java#L161) defines the field as a float:

[code]

However, the [VCF4.3 spec](https://samtools.github.io/hts-specs/VCFv4.3.pdf) defines this reserved field as an Integer:

[code]

The VCF spec seems to define the PQ field as an

[2016-11-23 13:14] ronlevine commented on #747
Closing since #750 is merged.

[2016-11-23 13:14] #747 closed

[2016-11-23 18:26] heuermh commented on #751
See also comment at https://github.com/samtools/hts-specs/pull/123#r66714564

[2016-11-23 21:11] dariober commented on #393
Hi - Thanks for looking into this and apologies I kept quiet. I tested the code above on htsjdk-2.7.0 an the problem persists.

Also, after indexing the following file (call it chrom.bed.gz):

    chr1	1	10
    chr1	100	1000000

The query

    tabix chrom.bed.gz chr1

skips the first record and returns:

    chr1	100	1000000

However, this file is correctly queried:

    chr1	1	10
    chr1	100	100

[2016-11-25 02:09] ronlevine opened #757 "Validate VariantContext AC and AF without genotypes"
### Verify
From https://github.com/broadinstitute/gsa-unstable/issues/1053#issuecomment-262613997

### Subject of the issue
A VC with a locus with no genotypes should check that `AN` and `AF` have the same number items as alternate alleles.

### Your environment
* version of htsjdk - 2.7.0
* version of java - 1.8.0_66
* which OS - macOS  version 10.12.1 (16B2555)

### Steps to reproduce
Add
`1 768

[2016-11-25 13:04] magicDGS opened #758 "MD5 for fastq.gz files are wrong"
### Subject of the issue
While using a `BasicFastqWriter` with a compressed output file and computing the MD5 digest at the same time, the output _.md5_ file have a hash that is the same as the uncompressed file. I think that the output should be

### Your environment
* htsjdk 2.7.0
* java 1.8.0_60
* MacOS

### Steps to reproduce
[code]
Running the previous code, the result is the following:

[cod

[2016-11-28 01:47] d-cameron opened #760 "SAMReader.AssertingIterator.assertSorted() incorrectly throws assertion error"
### Steps to reproduce
[code]

### Expected behaviour
assertSorted() should assert that the records returned by the iterator are in the correct order.
Once a SAMRecord has been returned by the iterator, the record should be able to be mutated by the caller in any way.

### Actual behaviour
An assert exception is thrown when the most recently returned record is mutated such that it no longer is con

[2016-11-28 01:52] d-cameron commented on #760
I see three potential fixes:

- Make the input iterator peekable (simplest, but changes on which record the assertion is thrown)
- Clone the SAMRecord (expensive)
- Copy the fields required to do the comparison (complicated as it doesn't fit nicely with the SortOrder/SAMRecordComparator API)

[2016-11-28 17:31] jrandall opened #761 "Output filenames containing the string ".bcf" result in BCF output instead of VCF"
### Subject of the issue
Output filenames containing the string ".bcf" anywhere in the filename result in BCF output when VCF output is desired. For example, if one has filenames containing an md5 offset by dots, and an md5 happens to start with "bcf" then you can wind up with unexpected output format.

### Expected behaviour

An output filename such as `library.bcfce04b6b0fba5bd286ed9a1c9ebfe1.g.

[2016-11-28 17:33] jrandall commented on #761
Relevant code is here: https://github.com/samtools/htsjdk/blob/fbba5364e1809de071bc479f30e4e2c8b17f5bbe/src/main/java/htsjdk/variant/variantcontext/writer/VariantContextWriterFactory.java#L252

Possibly the solution could be changing `.contains()` to `.endsWith()` but I'm not sure why that wasn't done in the first place. Are there some BCF files that are expected to have a suffix beyond `.bcf` ?

[2016-11-28 18:00] nh13 commented on #761
Likely it was there to support `.bcf.gz`, but the variant package is a bit mysterious to me.

[2016-11-28 18:22] magicDGS commented on #761
That class is deprecated, and actually I did a PR to remove it (https://github.com/samtools/htsjdk/pull/756). Does this happen when using `VariantContextWriterBuilder`, @jrandall?

[2016-11-28 18:27] magicDGS commented on #761
Checking the no-deprecated class, this should not happen (see this: https://github.com/samtools/htsjdk/blob/fbba5364e1809de071bc479f30e4e2c8b17f5bbe/src/main/java/htsjdk/variant/variantcontext/writer/VariantContextWriterBuilder.java#L498).

[2016-11-28 19:03] jrandall commented on #761
@magicDGS I don't use htsjdk as a developer - I ran into this problem using the GATK and tracked it down to this class. It looks like the GATK is still using the deprecated class: https://github.com/broadgsa/gatk-protected/blob/f185a75e1c49fb4c039511e61254da0509833ee9/public/gatk-engine/src/main/java/org/broadinstitute/gatk/engine/io/storage/VariantContextWriterStorage.java#L139

[2016-11-28 19:18] nh13 commented on #761
@vdauwera given this ultimately shows up in GATK, you may want to take a look.

[2016-11-28 19:19] vdauwera commented on #761
@ronlevine Could you please check if we're still using this in the dev snapshot? If it's an easy change I'd love to get this fixed for the 3.7 release, even if it means delaying a day or two.

[2016-11-28 20:36] ronlevine commented on #761
It's in the dev snapshot.  So, the logic should be changed from:
`location.getName().contains(".bcf")`
to
 `endsWith(".bcf.gz") || endsWith(".bcf")`.

[2016-11-28 21:16] vdauwera commented on #761
@ronlevine To be clear I think we would want to update to using the newer class mentioned above -- especially given @magicDGS 's PR to remove the old class entirely -- though perhaps the new class needs to be updated to allow bcf.gz.

[2016-11-28 21:22] ronlevine commented on #761
@vdauwera The logic snippet pertains to the non-deprecated class https://github.com/samtools/htsjdk/blob/fbba5364e1809de071bc479f30e4e2c8b17f5bbe/src/main/java/htsjdk/variant/variantcontext/writer/VariantContextWriterBuilder.java#L498

[2016-11-28 21:52] vdauwera commented on #761
Oh ok

[2016-11-28 22:32] ronlevine commented on #761
In GATK's [VariantContextWriterStorage](https://github.com/broadgsa/gatk-protected/blob/f185a75e1c49fb4c039511e61254da0509833ee9/public/gatk-engine/src/main/java/org/broadinstitute/gatk/engine/io/storage/VariantContextWriterStorage.java#L139), replace `VariantContextWriterFactory` with the appropriate`VariantContextWriterBuilder` logic

[2016-11-28 23:15] ronlevine commented on #761
On second thought, there should be no need to make a change in HTSJDK since any file ending in `.gz` is handled as [compressed VCF](https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/variant/variantcontext/writer/VariantContextWriterBuilder.java#L474)

[2016-11-29 19:57] droazen commented on #548
11/29

#443 "one day"
https://github.com/samtools/htsjdk/pull/572 needs review from @lbergelson
#576 will merge after one final rebase
#637 author replied, needs response from @yfarjoun
#678 still waiting on author
#682 needs refactor, problem is deeper than initially thought

[2016-11-29 20:00] droazen commented on #548
#720 @vadimzalunin will review

[2016-11-29 22:48] lbergelson opened #765 "SRA tests are all skipping due to http 403"
All of the SRA tests have been skipping because of a failure to download the necessary SRA drivers.

This started happening sometime between september 20th and october 24.

It looks like there was a change in the ncbi sratoolkit web endpoints that will require a patch.  I'm assuming SRA functionality is broken by this ands it's not just a test failure.

[code]

[2016-11-29 22:49] lbergelson commented on #765
@a-nikitiuk Can you take a look at this?  I'm assuming it means SRA functionality is broken for all htsjdk users.

[2016-12-02 19:18] lbergelson opened #766 "Htsjdk defines queryname sorting differently than samtools which can cause failures"
samtools queryname sort (`samtools sort -n`) sorts readnames in a numerically aware fashion
htsjdk expects queryname sorting to be done by lexicographical comparison of readnames

This causes  reads like HXXX:999 and HXXX:1000 to sort in different ways when using picard SortSam vs samtools to sort.

This creates problems when reading and then writing files sorted with samtools.  If a vcf writer is

[2016-12-02 19:40] droazen commented on #766
A big :+1: to being able to accept either order -- I think this has been a pain point for many years. @vdauwera care to comment?

[2016-12-02 19:52] nh13 commented on #766
@lbergelson @droazen make sure to do a thorough search of the samtools mailing list since this has been raised many, many times ([example](https://sourceforge.net/p/samtools/mailman/samtools-devel/thread/509CF4E2-2AB8-450C-9B6A-5487B2E76B15%40sanger.ac.uk/#msg26674128)).  I would even suggest bringing back up the topic to the samtools-devel list, as folks may not see this issue.

Also, why would t

[2016-12-02 19:56] vdauwera commented on #766
+1 for accepting either

[2016-12-02 19:57] droazen commented on #766
@nh13 We're aware that this has been discussed in the past -- but nothing has come of those discussions. We think this is a bug in htsjdk. If both definitions of queryname ordering are compliant with the BAM spec, then it seems to us that htsjdk should accept both when doing validation.

Note that we're not proposing standardizing on a single universal order (which is what the thread you linked to

[2016-12-02 20:05] nh13 commented on #766
Do folks rely on a specific sort order implementation?  If so, then validating that the input follows htsjdk's qname sort order implementation sounds useful to have in the API.

[2016-12-02 20:07] droazen commented on #766
Perhaps, but by default htsjdk should not be blowing up on input that is compliant with the spec. Ie., when you tell htsjdk "please check whether the input is not actually queryname-sorted", it should not explode on input that is in fact queryname-sorted according to the spec as it does now.

[2016-12-02 20:14] lbergelson commented on #766
@nh13 vcf writer -> bam writer.  Mental failure due to sleep deprivation.

[2016-12-02 20:17] nh13 commented on #766
I am not saying "No" (or saying "Yes") just that it isn't as simple as "the spec says...".  I believe that the SamFileValidator already is stricter than the spec: https://broadinstitute.github.io/picard/sam-differences.html.

If you want to relax the validation of queryname sort order, how would that be done?  It seems like we would have to just skip sort order validation if the input is queryname

[2016-12-02 20:20] lbergelson commented on #766
Does anyone depend on the specifics of the queryname sort?  We don't actually know.  What order do fastq's come from the sequencers.  Does it match either sort?

As far as I know, the only thing important about queryname sort is that pairs are together.  It's just hard to validate that pairs are together if you can't agree on a unique sorting.

[2016-12-02 20:22] lbergelson commented on #766
It's definitely the case that SamFileValidator makes additional assumptions on top of the spec.  It's just that if possible, it would be good to accept files sorted in any valid queryname sort if theres a way to do so safely.

[2016-12-02 20:24] droazen commented on #766
@nh13 I'm saying we should do what is done for validation of coordinate-sorted input -- use a more relaxed ordering than the htsjdk comparators impose when validating that a particular ordering exists.

Eg., `SAMRecordCoordinateComparator` imposes all sorts of crazy tie-breaking rules when there are two records with the same position, but we don't require that these tie-breaking rules have been ap

[2016-12-02 21:19] yfarjoun commented on #766
The non-lexicographic sort-order seems to me very complex and not even well
defined.  I prefer to say "this is not queryname sorted" and ask that the
input be resorted before processing with htsjdk than to build a complex
sort function based on an arbitrary implementation we do not control and
lose the concept of queryname sorted (PIcard style) being a unique thing.

:-1: from me.

On Fri, Dec 2,

[2016-12-02 21:28] droazen commented on #766
@yfarjoun It doesn't need to be complex, or a full re-implementation of the logic from samtools -- we just need to verify that identical read names are grouped together, and ignore all other arbitrary conventions imposed by the various htsjdk/samtools comparators. Right now, we blow up by default on an entire class of valid bams produced by a very popular set of tools -- don't you think we should

[2016-12-02 21:39] yfarjoun commented on #766
I guess I'm not sure that I would consider them valid.

While the sam spec doesn't specify it, My interpretation is that a string
(which is what QNAME is) has one "natural" sort order and that is
lexicographic. any other order needs to be specifically defined and put
into the spec.

You are talking about being queryname *GO (group order)* which is a concept
that exists in the sam spec and we could

[2016-12-05 09:47] tfenne commented on #766
@droazen The problem with `we just need to verify that identical read names are grouped together` is that you need either time or memory in proportion to the number of reads.  In many cases you simply don't know how many reads there are per template, so the only way to validate a group ordering _without_ validating a sort ordering is to keep track of all the querynames seen so far and ensure that

[2016-12-05 11:24] tillea opened #767 "SAMFileReader vanished in Version 2.7.0"
Hi,
since htsjdk was uploaded to Debian the packages fastqc and artemis do not build any more with the very same problem which can be seen in the Debian bug tracking system ( [fastqc](https://bugs.debian.org/846708), [artemis](https://bugs.debian.org/846671) ) where you have the build logs which end both by something like

  /<<BUILDDIR>>/artemis-16.0.0+dfsg/uk/ac/sanger/artemis/components/alignme

[2016-12-05 12:33] tillea commented on #767
Hi again,
I simply tried to add a copy of src/main/java/htsjdk/samtools/SAMFileReader.java from htsjdk 2.6.1 in 2.7.0, rebuild the Debian package with this.  If I now build fastqc everything seems to be fine.  Did you possibly removed the file by accicent and it just needs to be restored?
Kind regards, Andreas.

[2016-12-05 14:18] magicDGS commented on #767
The file was removed in #699 because it was deprecated. I guess that either 1) fastqc/artemis should be updated to use the new API version, or 2) the classpath for them in Debian should include an older version.

[2016-12-05 19:30] vdauwera commented on #761
Is that actually desired behavior? Doesn't that mean we can't write a bcf.gz, unless there is logic within the "compressed VCF" handling to allow the BCF case?

[2016-12-05 22:11] jean-philippe-martin commented on #749
Fixed by #762

[2016-12-06 04:07] d-cameron commented on #766
If the above is unpalatable then I'd setting for an option for approximate validation such as a sliding window of names of the last of the last X million reads. If memory is problematic, just store a unique hash of the read names. A 128 bit or larger hash would avoid both the birthday problem and having to store the actual read names.

The two key scenarios one encounters when wanting name grouped

[2016-12-06 04:14] d-cameron opened #768 "SAM TLEN validation does not conform to SAM specifications"
### Subject of the issue
TLEN is defined as the template length. For sequencing technologies that sequence entire templates (eg PacBio/nanopore), a non-zero TLEN with no mate coordinates is valid.

### Your environment
htsjdk 2.6.0
picard 2.6.0

### Steps to reproduce
Create an unpaired read with a TLEN matching the sequence length and parse.

### Expected behaviour
Non-zero TLEN without mate coor

[2016-12-06 09:33] tfenne commented on #766
Agreed @d-cameron, there are approximate or limited solutions that require less memory.  My point was simply that validating query grouped isn't a trivial undertaking, and that most solutions will add significant overhead in either compute or memory.

[2016-12-06 13:46] yfarjoun commented on #768
This is in the Sam spec. please discuss it there first:

[2016-12-06 13:46] #768 closed

[2016-12-06 13:52] yfarjoun commented on #766
I agree that one could implement a solution that validates group order.
I disagree that the queryname order should be more permissive.

Perhaps one could use a hashed approach and store as value the position of the read in the file. Then in the case of a collision (one will happen eventually), a few random-access reads of the bam will discern if the collision was real or due to a hash-collision. T

[2016-12-06 23:53] ronlevine commented on #761
No, it isn't, `bcf.gz` is written as `vcf.gz`. I created a test on the branch `rhl_validate_bcf.gz` to investigate this behavior;

[2016-12-07 18:19] ronlevine commented on #757
Closing since #759 is merged.

[2016-12-07 18:19] #757 closed

[2016-12-09 20:47] lbergelson commented on #767
closing, feel free to reopen a new issue if you need help migrating to the new code

[2016-12-09 20:47] #767 closed

[2016-12-09 22:27] lbergelson commented on #697
solved by #772

[2016-12-09 22:27] #697 closed

[2016-12-12 00:15] #396 closed

[2016-12-13 14:19] AlexanderSenf opened #773 "Support for Encrypted Files?"
Our organization has implemented a strategy where we encrypt files using the AES CTR mode. This produces files of equal length compared to the original and it preserves byte positions within the encrypted file. (Actually, +16 bytes due to the IV added to the encrypted data).

To enable transparent random-access to these files we have extended the htsjdk SeekableStream class (https://github.com/Ale

[2016-12-13 17:11] tk2 commented on #773
For context, this is related to the presentations that we had at the last GA4GH file formats meeting. We had three proposals for different encryption schemes, this from the Alexander (EGA group at EMBL-EBI) being one of them. So I think the next step is to prepare a summary with the pros and cons for each approach, circulate to the formats team and also to the GA4GH security group for their sign o

[2016-12-13 19:35] yfarjoun commented on #765
Given that no-one seem to care, I move that we **remove** SRA support from HTSJDK.

[2016-12-16 15:55] yfarjoun commented on #760
I vote for the first option.

With a modified error message to ensure that the right record is reported
when an error occurs. (or at least a note that the offending record is the
one after the current one...)

On Sun, Nov 27, 2016 at 8:47 PM, Daniel Cameron <notifications@github.com>
wrote:

[2017-01-04 21:34] lbergelson opened #776 "non-deterministic test failure in AsyncBufferedIteratorTest"
I'm seeing a random failure of AsynchBufferedIteratorTest.testBackground blocks.

[code]

The test has a comment saying that it's subject to race conditions.

[code]

[2017-01-05 09:44] jkbonfield opened #777 "Please consider provided prebuilt jar files as releases"
Since the move to gradle I am unable to build htsjdk.  I've tried several systems, but it just seems incompatible with many (baffling wedges or cryptic error messages like "invalid source release: 1.8").  I finally did get it working on one particular machine, after reading the gradlew source to figure out which environments to change.  I'm hardly a computer novice (although am a gradle and java n

[2017-01-05 12:16] jkbonfield opened #778 "CRAM bug with ambiguous bases"
### Verify
I'm using cramtools to drive the htsjdk cram code.  I see no warnings present from cramtools.

### Subject of the issue
Ambiguous bases in sequence and/or reference decode incorrectly when going via CRAM round-trips.  Oddly it does this in a baffling way.

My basic example is this as the fasta file:

[code]

My SAM file is a sequence of ACGTRYMWSKDHVBN aligned to coordinates 1 to 30 inc

[2017-01-05 13:45] cmnbroad commented on #778
@jkbonfield Thanks for the detailed report. Although cramtools is built with htsjdk, I think it has (or at least the repo contains) [overrides/replacements](https://github.com/enasequence/cramtools/tree/master/src/main/java/htsjdk/samtools/cram) for a fair amount of the htsjdk cram implementation (??). I think this should ticket should probably live there until we determine the bug is in htsjdk. I

[2017-01-05 14:25] jkbonfield commented on #778
@cmnbroad, I just tried Picard (2.6.0 because 2.7.2 brings other issues related to this CRAM file) and with SamFormatConverter and ViewSam it demonstrates the same issue.  (I tweaked the .fa file to be longer to prevent reads aligning off the end, but the ambiguous bases still change.)

Round trip then gives:

[code]

PS.  With 2.7.2 we run into issues the new checking of Slice MD5 values, which i

[2017-01-05 15:30] lbergelson commented on #777
@jkbonfield Sorry you're having trouble.  As Tim pointed out the binaries are available for manual download through maven central if you need them.  We could add a link in our release notes if that would be helpful in the future though.

Ideally the build would just work though every system, or at least provide helpful error messages.  I'm curious what flavor of systems you're having gradle proble

[2017-01-05 16:51] vadimzalunin commented on #778
Confirmed.
Looks like subs matrix does not expect amb bases in reads.

[2017-01-05 16:53] jkbonfield commented on #778
Correct - by design we only supported the obvious base types in the substitution matrix to keep it small and simple (and probably efficient).  In Scramble I switch to generating base features instead of substitution features when the matrix isn't applicable.

[2017-01-06 11:58] vadimzalunin commented on #778
what quality score do you use then?

[2017-01-06 13:54] jkbonfield commented on #778
I use the actual quality score for that base, or 255 (-1) if it has none (as my example above did).  This isn't ideal as the qualities have to be coded twice in a rather ugly fashion.  I guess this is one reason why we added the "b" operator instead.

[2017-01-06 23:23] tfenne opened #781 "Thoughts on using scala for writing tests in htsjdk?"
What do folks think about using scala for testing in htsjdk?  @yfarjoun and I were talking about this over lunch and thought this would be a good change overall.  @nh13 and I have been working a lot more in scala over the last couple of years, and one thing I've noticed is that unit tests (particularly using `scalatest`, tend to be much more concise and hence easier to write and easier to read and

[2017-01-07 01:31] yfarjoun commented on #781
I agree that if it makes writing and reading tests easier, it's a Good
Thing (TM). I would want to be sure that otherwise things do not get worse.

So, to add upon the list you mentioned, I'd like to be sure that (these
might be trivially true, I just don't know):

1. The coverage reports (from CodeCov) include combined coverage from the
Java and scala tests,
2. It is easy (in IntelliJ for example

[2017-01-08 23:43] cmnbroad commented on #781
I'm not sure how many people we'd lose if we did that, but I personally would like to see it. Also, I think there are some areas where htsjdk would benefit from generative, property-based testing.  Plus it builds character.

I added a simple scalacheck property-based test, with basic Gradle integration [here](https://github.com/cmnbroad/htsjdk/commit/cbf79a47b6d727cce34e084171031be0f053c302). The

[2017-01-09 16:30] magicDGS commented on #781
How much difficult will be to implement/read the tests for a Scala-newb? On the other hand, will it be possible to still implement some tests in pure Java? I would like to continue contributing, but I don't know if I will be able to implement unit tests for my patches properly...

[2017-01-09 16:41] tfenne commented on #781
@magicDGS: My take (although I'm biased) is that if you're familiar with Java 8's stream support that writing tests in scala, given a reasonable number as examples and sources of copy/paste, shouldn't be too bad.  This wouldn't preclude writing tests in Java, but I suspect we'd want to keep all unit tests for a given class either in Java or in Scala.

Here's a link to all the test sources in a sca

[2017-01-09 17:00] magicDGS commented on #781
Thanks for the explanation @tfenne! I will have a look, but if it's like Java 8's streams should be fine for me.

[2017-01-09 21:44] yfarjoun commented on #781
I wonder if "we'd want to keep all unit tests for a given class either in
Java or in Scala" might be too strong. It would preclude adding tests in
scala to already existing classes, and would deter someone from starting a
good scala testing framework to an already existing class.

Why not allow XyzTest.java and XyZTest.scala in the same project (under the
appropriate directory)?

On Mon, Jan 9, 20

[2017-01-10 16:00] tfenne commented on #781
@yfarjoun I just think it would likely get difficult to keep track of what tests a certain class has if there are both java and scala tests for it.  And your example of `XyzTest` and `XyZTest` is a good one - we couldn't even call both classes the same thing, so we'd have to invent artificial differences and that would cause yet more confusion.  My 2c, you may disagree.

[2017-01-10 18:32] droazen commented on #781
I'm a little concerned about this proposal's potential implications for compilation times. @cmnbroad's test showed that compilation time more than doubled even with just one scala test, due to the slowness of the scala compiler.

[2017-01-10 18:59] cmnbroad commented on #781
I think we need more observations; mine was purely anecdotal. What I noticed was a visible pause during scala compile. Having said that I just tried doing a clean rebuild of my branch a few times (on a different machine) and it seemed quite fast.

[2017-01-10 19:23] tfenne commented on #781
The scala compiler is definitely slow-er, the question is just how much slower is tolerable.  I'm of the opinion that ~5-10s extra in compile time is worth it if it means writing tests is easier and faster, and as a result we get better test coverage.  Others may disagree.

[2017-01-10 20:08] droazen commented on #781
I'd be in favor of some more empirical tests to try to figure out what the slowdown would be like.

[2017-01-10 23:49] mmokrejs opened #783 "Convert source tree from UTF8 chars into us-ascii"
Hi,
  java-8 is picky about UTF8 chars in the sources, it even bother about such comment in comments. Here are some I hit in current git checkout.

[code]

[2017-01-11 03:03] yfarjoun commented on #783
Thanks. @magicDGS, would you be able to change your copyright info to have only ascii characters?

[2017-01-11 15:15] #783 closed

[2017-01-11 19:01] lbergelson commented on #781
Running `./gradlew compileTestJava` in @cmnbroad's branch takes about 8s on my machine, and running `./gradlew compileTestScala` (which also compiles the java code)  takes about 14. I tried adding a few more scala files and it went up to around 15 seconds. So, from this very naive testing, it looks like theres a few seconds constant cost + a fraction of a second per additional scala file.
That doe

[2017-01-11 19:15] droazen commented on #781
@lbergelson Can you try compiling on, eg., a Broad server on an NFS filesystem to see whether the few seconds' difference you're seeing locally translates into additional minutes in a non-local dev environment?

Also a bit concerned that this change would make it difficult to determine what code is actually covered by tests. Adding new tests for an existing class would require additional time/ment

[2017-01-11 19:17] yfarjoun commented on #781
this was one of my concerns (coverage) as well, and I suggested that we see
if it's possible to get a single codeCove report that includes all the
tests (java and scala)

On Wed, Jan 11, 2017 at 2:15 PM, droazen <notifications@github.com> wrote:

[2017-01-11 19:20] nh13 commented on #781
@lbergelson we have some code elsewhere that wraps the `SamRecordSetBuilder` and adds `VariantContextSetBuilder`: https://github.com/fulcrumgenomics/fgbio/tree/master/src/main/scala/com/fulcrumgenomics/testing.  We find them incredibly useful.

[2017-01-12 12:29] jkbonfield commented on #499
Is this talking about B aux tags?  We have a stress test file in htslib (https://github.com/samtools/htslib/blob/develop/test/auxf%23values.sam) in which htsjdk changes the sign for aux B arrays.  It doesn't appear to do it for SAM "i" aux types.

Note: this is a CRAM encoder bug rather than a decoder bug.  It also works for BAM.

[2017-01-12 12:36] jkbonfield commented on #713
This is something that is impossible in CRAM and has been since the very first draft.

Fundamentally it doesn't store CIGAR strings, but edits.  You will notice that it also changes cigars containing = and X to M too.

To fix this would require a new CRAM version (likely major version bump as it would be incompatible).

I added this to the list of ideas for CRAM v4, incase we ever get around to ha

[2017-01-13 21:41] tfenne commented on #781
@lbergelson @droazen Coming back to the compile time - this hasn't really been an issue for me on projects where we have a lot of tests written in scala.  My experience is that I only compile the tests when I'm going to run them, and the test suite run time is many multiples of the compile time ... so a slightly longer compile time is not that bad.  Also, I suspect gradle can do this to, but sbt i

[2017-01-19 13:57] dbolser-ebi commented on #722
Sorry for ignorance, but is an MD5SUM of each reference sequence a part of the CRAM specification?

We're having difficulty processing CRAMs with ~1G reference sequences (an assembly believe it or not). It takes ages (about 5 hours per file) to check the given MD5SUM against the CRAM. Not sure if this issue is related or if I should discuss it on a separate thread.

Thanks,

[2017-01-19 14:12] dbolser-ebi commented on #719
I have a related issue (I think) where I want to disable the MD5SUM check under certain circumstances. I realize this seems dangerous, but in this case there are ~1G reference sequences, and I can verify the MD5SUM of the whole genome (we have ~1k CRAMs from this genome to process). Could this be an option for me as well as a useful feature here?

[2017-01-19 19:20] cmnbroad commented on #722
I believe it is part of the spec (because CRAM is reference-compressed, without this check its possible to silently get completely bogus results):

"2. All CRAM reader implementations are expected to check for reference MD5 checksums and report any missing or mismatching entries. Consequently, all writer implementations are expected to ensure that all checksums are injected or checked during compr

[2017-01-19 19:36] jrobinso commented on #722
Should it take 5 hours to compute MD5 on a 1G sequence?   Sorry I'm not
familiar with the algorithm or how it scales.

On Thu, Jan 19, 2017 at 11:20 AM, Chris Norman <notifications@github.com>
wrote:

[2017-01-19 20:49] tfenne commented on #722
@jrobinso I want to believe you're being sarcastic, because the answer is that it should take nowhere near that long.  On my ~3 year old mac laptop it takes ~8s to compute the md5 of the entire hs38DH reference.  You can try for yourself.

Calculate the MD5 checksum of the whole human genome:
[code]

[2017-01-19 23:45] jrobinso commented on #722
Tim, not being sarcastic at all,  the OP stated that is was taking 5 hours.
  So I don't want us off on a tangent (e.g. turning off MD5 checking) if
that's not the problem.

On Thu, Jan 19, 2017 at 12:49 PM, Tim Fennell <notifications@github.com>
wrote:

[2017-01-20 11:15] dbolser-ebi commented on #722
Sorry for confusion, in this case there are 735,943 reference *sequences* (scaffolds) for a total of approximately 13 Gbp. http://plants.ensembl.org/Triticum_aestivum/Info/Annotation

The problem isn't generating the MD5SUMs, it comes from the fact that ~1G sequences need to be checked against the CRAM Reference Registry for a few thousand CRAM files. Because we're using HTSJDK in our processing p

[2017-01-20 14:43] yfarjoun commented on #781
So would all the tests be run by scalatest so that the coverage includes
everything?

On Fri, Jan 13, 2017 at 4:41 PM, Tim Fennell <notifications@github.com>
wrote:

[2017-01-20 14:47] tfenne commented on #781
All the tests would be run by scalatest.  I _think_ that would then lead to coverage being collected for all the tests, but we would need to check and make sure that actually works.

[2017-01-20 23:07] d-cameron opened #787 "VariantContextWriter causes OutOfMemoryError"
### Subject of the issue
VariantContextWriter causes an OutOfMemoryError when writing un-ordered VCF records (such as breakend pairs) unless the default Options.INDEX_ON_THE_FLY option is explicitly removed.

### Steps to reproduce
[code]
### Expected behaviour
Either the on-the-fly index should be abandoned, or an exception should be raised.

### Actual behaviour
[code]

[2017-01-20 23:17] mmokrejs opened #788 "htsjdk.tribble.TribbleException: The provided VCF file is malformed at approximately line number 3793131: unparsable vcf record with allele 0"
Hi,
  can you please tell us what are the zeroes on the problematic lines? Is that an ENSEML-86 issue of htsjdk issue? Ideally please update original https://github.com/igvteam/igv/issues/362 issue.

[code]

[code]

[2017-01-20 23:25] mmokrejs commented on #777
Hi James, you are not the only one: https://github.com/broadinstitute/picard/issues/693 .

[2017-01-21 16:40] tfenne commented on #781
Hi All.  I've created a PR, #789, that is a first pass at making this happen.  It was relatively painful for the following reasons:

1. Almost all the test classes in HTSJDK don't descend from anything except `Object`, and best way to make them runnable via scalatest _and_ TestNG is to parent them under a specific class that enables this.  I had to hunt down every test class and add the extends cl

[2017-01-23 03:02] yfarjoun commented on #781
Given the PR #789 that @tfenne has provided, the remaining issues (as I see them) are as follows:

1. Check whether in IntelliJ a "find usages" action actually finds both java and scala tests (assuming a class has both) similar question when a test failes and dumps a stacktrace...is the jump from scala to java clear enough to use quickly in Intellij?
2. A "style-guide" (first agreed upon here, and

[2017-01-23 09:52] magicDGS commented on #781
I would appreciate to have a Wiki regarding this, not only for implement but for understand what the tests are doing. I look at the PR and it seems quite similar to working with streams in Java 8, but I get a bit confused with the syntax of __shouldBe__ and other keywords; although they are verbose enough, I don't know if it could become more complicated when combined with others. For example, `sh

[2017-01-23 10:45] tfenne commented on #781
@magicDGS I'm happy to put a wiki page together assuming that we move forward with this.  In the meantime this page on scalatest is very useful for understanding the various kinds of "matcher" statements that you can use: http://www.scalatest.org/user_guide/using_matchers

[2017-01-23 10:52] magicDGS commented on #781
Thanks @tfenne, looks great for me. From my side, +1 to the change!

[2017-01-23 17:33] lbergelson commented on #788
@mmokrejs That definitely looks like a malformed vcf to me.  `0` is not a valid allele string. Any combination of 'ACGT` or named symbolic alleles like `<LONG_DEL_32>` is valid.

What is 0 meant to represent?

[2017-01-23 17:51] lbergelson commented on #788
Is it meant to be a spanning deletion?

[2017-01-23 18:25] mmokrejs commented on #788
@lbergelson I do not know.  The file path includes the original URL. Would you mind asking ENSEMBL developers directly?

[2017-01-23 18:40] vdauwera commented on #788
@mmokrejs The htsjdk validator is correct, this file is invalid according to the VCF specification. There's really not anything we can do about it, regardless of what those zeroes are supposed to represent... Whoever is interested in consuming this file should notify its creator that is is not a valid VCF.

[2017-01-27 13:25] hesparrow commented on #788
Ensembl are aware of this bug, and it is fixed for our upcoming release. Apologies for this inconvenience.

[2017-01-27 18:38] lbergelson commented on #788
@hesparrow Thanks for chiming in!  👍  Going to close this.

[2017-01-27 18:38] #788 closed

[2017-01-29 23:28] mmokrejs opened #792 "MarkDuplicates requires sorted input although docs say it does not"
Hi,
  unless I misread the runtime help by default MarkDuplicates anticipates unsorted input and from that I infer it is supported. I did not fiddle with any of the below defaults on my commandline as it seemed I can stay on the safe side with them.

[code]

However, after quite some CPU cycles picard bailed out that my iinput was not sorted. A bit too late, IMHO. I suggest at least updating the d

[2017-01-29 23:41] yfarjoun commented on #792
I agree that this is confusing and possibly not documented properly. There are two ways to run MarkDuplicates in picard:

1. with a coordinate sorted bam (only mark "canonical" records, not secondary or supplementary)
2. with a queryname sorted bam (mark all the reads, secondary and supplementary reads are marked like their canonical read)

(this is true regardless of what is written in the header

[2017-01-30 03:32] vdauwera commented on #792
If the documentation is lacking then we should fix it. We'll add the points discussed above; this issue should remain open until that is done.

[2017-01-31 19:20] nh13 opened #793 "Rounding doubles in VCF output"
I am trying to divine the purpose of rounding doubles for some values in [VCFEncoder.java](https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/variant/vcf/VCFEncoder.java#L213-L231).  For example `0.0825` gets rounded to `0.083`, which is a significant difference.  There's not a way to control those, and I am not sure if there is as sensible default.  Perhaps keep at least `n` digi

[2017-01-31 19:48] lbergelson commented on #793
This has annoyed me when writing tests because the results of saving and reloading a variant context are not identical to the original in memory context.  I had just assumed there was a good reason.

[2017-01-31 20:51] yfarjoun commented on #793
I suspect that it's for rounding off machine errors (1->0.9999999999999) ,
which could cause a significant increase in storage footprint. I'm in favor
of a better fix than seems to be currently implemented.

Y

On Tue, Jan 31, 2017 at 2:48 PM, Louis Bergelson <notifications@github.com>
wrote:

[2017-02-02 08:25] d-cameron commented on #793
If possible, could the 2dp rounding of the QUAL field be looked at as well?

[2017-02-05 19:16] yfarjoun commented on #781
I've looked at FGbio's test suite which is quite extensive and runs in under 5 minutes, so I don't think that the time to test is a big issue. The only remaining issue, as I see it is that our agreement to limit the scala-ness of the tests might erode as more and more scala features creep into the code-base. To be clear, I am not opposed to that style of programing, but given that HTSJDK is a java

[2017-02-06 16:49] dariober opened #797 "SeekableStream and TabixReader cannot read from ftp"
I don't know if it's just me... I cannot read a remote file sitting on an ftp server using `TabixReader` or `SeekableStream` as I get a `SocketTimeoutException`.

Examples:

* With `TabixReader`:

[code]

* With `SeekableStream`

[code]

Full stack trace:

[code]

I tried a couple of files on different ftp sites. If instead I try to connect to a file on http both of the above work fine so my conne

[2017-02-10 10:21] magicDGS opened #799 "Porposal: use commons-compress for gzip and other compression support"
### Subject of the issue
Currently the gzip output in HTSJDK for normal files (I'm not talking about SAM compression) is using hard-coded extension checks (in `IOUtils`) wrapping with a `CustomGzipOutputStream` (see #798).

Commons Compress is already a dependency in HTSJDK used in CRAM, so it is not adding more dependencies to the library. In addition, it will be useful to include it also in othe

[2017-02-10 14:50] cmnbroad opened #800 "CRAM MD5 slice validation fails on samtools .cram when reference contains ambiguity codes"
### Subject of the issue
The slice md5 validation check fails when reading crams that were created by samtools if the slice spans a reference sequence that contains ambiguity codes or '.' bases.
In https://github.com/samtools/htsjdk/pull/644, we added reference normalization using the CRAM normalizer, but samtools appears to not do this for purposes of creating the slice md5s; it appears to only u

[2017-02-10 16:07] cmnbroad opened #802 "BAM->CRAM conversion doesn't handle supplementary reads correctly"
### Subject of the issue
Converting a BAM->CRAM doesn't correctly preserve mate pairings/flags when supplementary alignments are present.

Below are 3 reads ( a, b, c), taken from a BAM before conversion, and from a CRAM after conversion.  mateAligmentStart, flags, and fragmentSize/templateLength appear to be different in one or more of the post-conversion CRAM reads.

Reads from the original bam:

[2017-02-10 16:12] cmnbroad commented on #802
@vadimzalunin Can you have a look at this one. I don't have an actual test case file since its huge.

[2017-02-10 17:27] cmnbroad commented on #802
Note that these all have the same read names - I renamed them to a,b,c for here for identification.

[2017-02-10 20:12] tfenne commented on #793
I'm thinking about this again as I've just run into it, writing p-values for various tests into the info field.  I think my preference would be to change the implementation to do something like the following:
1) If the value is >= 0.1 store it in normal numerical format with some fixed number of digits of precision (I might suggest 5 instead of 3)
2) If the value is < 0.1 but can be accurately rep

[2017-02-12 03:16] yfarjoun opened #805 "Please release a new version of htsjdk."
@lbergelson

[2017-02-13 19:10] lbergelson commented on #805
We've been waiting on one of the tom white pull requests.  @droazen What's the status of that, have you taken a look at it or should I?

[2017-02-13 19:10] lbergelson commented on #805
I can also just do a release now and then another once that goes in...

[2017-02-13 19:17] yfarjoun commented on #805
Not that urgent, but there's a Picard PR that is waiting on it, and it's
been a while..so I thought I'd put an issue for it...

On Mon, Feb 13, 2017 at 2:10 PM, Louis Bergelson <notifications@github.com>
wrote:

[2017-02-13 19:40] lbergelson commented on #805
Yeah, sorry.  I think we told you we'd have it done a month ago...

[2017-02-13 19:59] yfarjoun commented on #805
I thought it was done...:-)

On Mon, Feb 13, 2017 at 2:40 PM, Louis Bergelson <notifications@github.com>
wrote:

[2017-02-14 15:46] droazen commented on #805
Will take a look at the relevant PR now

[2017-02-14 16:33] droazen commented on #805
Since that PR still scares me a bit, and I think we need to do another round, I suggest we do a release now without that change.

[2017-02-14 21:59] yfarjoun opened #806 "Proposal for changes to Allele VariantContext, and Genotype Context for upstream deletion compatibility"
The current VCF spec allows for a * allele (no brackets):

"The ‘*’ allele is reserved to indicate that the allele is missing due to a upstream deletion."

Currently, Allele, VariantContext, and GenotypeContext do not have any special consideration towards the star allele, and therefore consider the following to be true:

Alelle
"*" is a SNP and in particular not SYMBOLIC

VariantContext
Ref = A A

[2017-02-14 22:13] tfenne commented on #806
@yfarjoun Thanks for tackling this!  I'm in agreement with most of what you propose but would like to nit-pick a couple of points if I may!

The latest released version of the spec I could find (4.3) has slightly different language than you quote:  "The ‘*’ allele is reserved to indicate that the allele is missing due to a an _overlapping_ deletion".  I think that terminology is better because "up

[2017-02-14 22:25] lbergelson commented on #806
*/* as HOM_REF seems a bit weird to me.  If I query a vcf at some position and see */* I don't think I want to be told that that's a HOM_REF site.  I'd probably want to know that it's a homozygous deletion at that site.  If the problem is that we want to avoid double counting things in the metrics then we should make it a different category entirely I think.  Or just treat it as symbolic and let i

[2017-02-14 22:26] lbergelson commented on #805
@yfarjoun 2.9.0 is out on maven central now.

[2017-02-14 22:26] #805 closed

[2017-02-15 12:52] magicDGS commented on #806
I have one concern about this: if _"the ‘*’ allele is reserved to indicate that the allele is missing due to a an overlapping deletion"_ it does not mean that this overlapping deletion was called or even present in the file. What I would like to point is that I'm in favor of naming it as an `SPANNING_DELETION`, but I am not sure about the change in `VariantContext` or `GenotypeContext` because the

[2017-02-15 13:25] tfenne commented on #806
@magicDGS's points reminded me of something I've been thinking about, but which might be beyond the scope of this PR.  Specifically that with larger callsets and/or more complicated genomic regions the idea of a `VariantType` is becoming less and less useful, and the `GenotypeType` is really the critical thing.  I'm getting around this a fair amount if code by doing things like `ctx.subContextFrom

[2017-02-15 15:22] yfarjoun commented on #805
Thanks!

On Tue, Feb 14, 2017 at 5:26 PM, Louis Bergelson <notifications@github.com>
wrote:

[2017-02-15 16:09] yfarjoun commented on #806
The problem with treating star as symbolic, is that I'm considering the case of callsets like ExAC where almost _every_ variant will have a spanning deletion and so all the variant types will become SYMBOLIC...so that's not good either.

Alternatively, we could add a boolean to the VC `hasSpanningDeletion()` that will inform about that directly, while the getType() method will return a result igno

[2017-02-15 16:46] vadimzalunin opened #807 "a utility method to restore bases from MD:Z tag and reference"
For reads with unknown bases ('*') it should be possible to restore bases given a reference sequence and MD:Z tag. Does a utility method for this exists in HTSJDK or Picard?

[2017-02-15 17:42] yfarjoun commented on #807
Not that I'm aware of.

[2017-02-16 02:14] d-cameron commented on #807
It sounds like there is a general need for a generic Picard utility that can rehydrate/infer/compute information from other fields or records. For example, read and base qualities can be restored from multi-mapping reads, hard clipped based from split read alignment (bwa soft clips the primary alignment and hard clips all supplementary alignments), all mate-related fields can be extracted from the

[2017-02-16 11:04] magicDGS commented on #806
I see your point with `SYMBOLIC`, @yfarjoun. The case of `VariantContext`in combination with the method looks like the proper way of doing it.

Regarding the `Genotype`, I think that this is still not a good idea to assign `HOM_REF` or `HET` to an hemizygous call. What's about a new type in `GenotypeType` for the hemizygous case? In the case that this is changed, maybe __*/*__ could be also define

[2017-02-16 11:12] vdauwera commented on #806
I'm delighted to see this being discussed -- but I would point out that it will be crucial to make whatever nomenclature comes out of this agnostic of ploidy. The amount of data being produced for non diploid orgs is growing all the time (from bacterial genomes to agricultural staples; lots of cereals are polyploid, iirc) so we can't ignore it and should plan for it, otherwise we'll just have to r

[2017-02-16 11:26] magicDGS commented on #806
Apart of the cases that @vdauwera mentioned, it will be also important in pooled samples such cancer, virus or Pool-Seq datasets. Actually I was looking for discussing the diploid design of HTSJDK in a different issue, because this is just focused on the spanning deletion.

[2017-03-01 18:40] magicDGS opened #811 "Request: Path support for BlockCompressed IO streams"
Currently the `BlockCompressedInputStream` and `BlockCompresseOutputStream` does not have support for `java.nio.Path` in their constructors. The constructors are only for Input/Output streams and File. In addition, the `String` constructor is using it as a `File`.

This prevents for using the block-compressed support with `Path` directly, unless the API client is converting the path to an stream.

[2017-03-02 10:19] magicDGS opened #812 "Suggestion: use Locatable in tribble instead of Feature"
Currently, the only method in `Feature` is deprecated, and `Locatable` represents the same structure. Tribble is supposed to handle "features" which maps to the genome, and thus using `Locatable` will help to provide a broader scope of the classes contained here.

I propose the following changes to minimize the backwards compatibility:
- Deprecate `Feature` in favor of `Locatable`and setting a dat

[2017-03-02 19:51] nh13 commented on #793
@tfenne I really like this idea.  I'll take it on to submit a PR.

[2017-03-07 21:48] #812 closed

[2017-03-08 14:13] yfarjoun opened #819 "Poorly worded error when trying to use a closed FeatureReader"
### Subject of the issue
When using a closed feature reader
[code]
 one gets a very non-informative error message:

[code]

And while I realize that one shouldn't be using a closed reader, it will make debugging a lot easier if the error messages were pertinent to the actual error...

[2017-03-09 11:47] magicDGS commented on #393
This is also happening to me, @dariober. I will create a PR with a failing index to point out that this is happening and ask how can be fixed.

[2017-03-09 15:30] lbergelson opened #821 "TabixIndex.writeBasedOnFeaturePath should throw instead of silently Failing"

[2017-03-10 17:25] jrobinso commented on #447
Hey all any updates?   I might work on this myself but would like to know the status, if any, first.   As this is still open I assume that CSI is not yet supported.

[2017-03-10 17:31] peterjc commented on #643
Clearly the error handling could be improved when attempting to view a reference/chromosome sequence over 512Mbp using the BAI index.

See also #447 for supporting CSI indexing, needed if you have a reference/chromosome longer than 512Mbp.

[2017-03-10 21:30] lbergelson opened #823 "throw a reasonable exception when a contig has more than 512Mbp"

[2017-03-10 21:31] lbergelson commented on #643
We should fix that error message so that it's not confusing and useless.  I opened a more explicit ticket #823

[2017-03-11 06:53] nathanhaigh commented on #447
Not as far as I'm aware. I'm trying to get CSI support in other tools like Sambamba: https://github.com/lomereiter/sambamba/issues/284

[2017-03-15 19:22] lbergelson opened #825 "add convenience method hasAltAlleles to VariantContext"
Currently people tend to call  `VariantContext.getAltAlleles().isEmpty()`, but this causes an unnecessary object allocation due to `sublist()`.  We could alternatively or additionally store the altAlleles as a separate immutable list that could be returned directly without a sublist call.

[2017-03-17 21:06] nh13 opened #828 "SamLocusIterator.RecordAndOffset.getRefPos always returns -1"
@ZLyanov could you take a look since you added `AbstractRecordAndOffset`?

It's also weird that `public AbstractRecordAndOffset(final SAMRecord record, final int offset, int length, int refPos)` is never used, even by the constructor in `StartEdgingRecordAndOffset`

[2017-03-17 21:33] ZLyanov commented on #828
@nh13 this changes were made as a support for the https://github.com/broadinstitute/picard/pull/556 which is still under review/modification. We will try to finish it ASAP. Meanwhile, you may check the proposed changes to see how these classes and methods are used.

[2017-03-17 21:51] nh13 commented on #828
@ZLyanov unfortunately the changes have already made it into the master of htsjdk prior to the above change.  My main concern is that folks will call `getRefPos` on a `SamLocusIterator.RecordAndOffset` and always return `-1`, which seems like an oversight of the original commit.  Could you make a PR and link this issue?

[2017-03-20 09:20] maarten-k commented on #666
I checked the changelog of snappy and there were some speed-ups (although minor):

[code]

It looks that org.xerial.snappy:snappy-java is well maintained and I could not reproduce this error(n=1).

I think it is worth the shot to update  org.xerial.snappy:snappy-java  to a recent version. This will also solve some upstream problems.

[2017-03-20 19:02] lbergelson commented on #666
@maarten-k I'm definitely in favor of upgrading if we can be relatively sure it won't cause problems.  It's just silly that we're on an ancient beta version instead of a proper release.

I can't remember if I actually encountered class loading error in my tests or if it's just a theoretical problem.  Traditionally htsjdk has had very minimal reliance on native code to avoid any sorts of hardware d

[2017-03-20 20:00] maarten-k commented on #666
Currently version has native binaries for:

AIX/ppc64
FreeBSD/x86_64
Linux/aarch64
Linux/android-arm
Linux/arm
Linux/armv6
Linux/armv7
Linux/ppc64
Linux/ppc64le
Linux/s390x
Linux/x86
Linux/x86_64
Mac/x86
Mac/x86_64
SunOS/sparc
SunOS/x86
SunOS/x86_64
Windows/x86
Windows/x86_64

I think Linux/ppc64le includes power9 so I hope 99.99% of all machines were htslib would run on is covered.

Maybe testing

[2017-03-20 20:03] lbergelson commented on #666
My worries may have been unfounded.  That seems like a pretty comprehensive list.

[2017-03-23 10:20] magicDGS opened #830 "Java implementation of .fai index creation"
### Motivation

The `.fai` index from samtools is used in some parts of the code in HTSJDK, but there is no way to generate it within the library. Because it is well documented [here](http://www.htslib.org/doc/faidx.html) and it looks simple to implement, I think that HTSJDK could benefit for a java-based implementation of this indexing.

[2017-03-23 10:56] tfenne commented on #830
I agree, this would be nice.  It would also be nice to have the capability to create and use the indices that are generated on bgzipped fasta files which samtools supports.

[2017-03-24 20:23] cmnbroad opened #831 "SamRecordFactory makeDefault has unpredictable inflater behavior"
The default SamReaderFactory used by SamReaderFactory.makeDefault initializes it's inflater factory by querying BlockGunzipper at the time it's [static initializer](https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/samtools/SamReaderFactory.java#L156) is executed. It caches the inflater obtained at that time (which can vary depending on call history), but subsequent calls to Bloc

[2017-03-27 20:44] lbergelson opened #833 "VariantContext.toString() should include filter status"
Currently VariantContext.toString() doesn't output anything about the filter status.  It would be good if it was included so it's easier to see all the relevant information when working with them in an IDE.

[2017-03-29 01:40] nathanhaigh commented on #447
Have you begun working on this yet @jrobinso ?

[2017-03-29 05:29] jrobinso commented on #447
@nathanhaigh Not yet.   IGV is taking all my time, very little left to contribute to htsjdk.

[2017-04-02 14:40] cmnbroad commented on #831
@gspowley I can't assign this to you, but can you take a look at this one ?

[2017-04-02 15:58] dariober opened #838 "Very slow iteration over a single read"
### Subject of the issue

I don't know if this is a bug or me doing something wrong.

I iterate over a small region of 100 bp in a bam file containing a single read using `SamLocuIterator`. If this single read contains a long skipped region, such as an intron, the iteration goes very slowly, something like ~30 seconds to go through 100 bp. This can't be right!

### Your environment
* version of ht

[2017-04-02 16:08] dariober commented on #830
If any useful... I have the code to create `.fai` index from fasta (not bgzipped though). The code it's here: https://github.com/dariober/ASCIIGenome/tree/master/src/faidx

The tests are here: https://github.com/dariober/ASCIIGenome/blob/master/test/faidx/

Usage is pretty straightforward:

[code]

Feel free to grab anything that maybe useful.

[2017-04-02 18:48] magicDGS commented on #830
I've already started an implementation, but it may be useful to refine some parts of my code. Thank you very much, @dariober!

[2017-04-03 01:07] gspowley commented on #831
Sure, I'll take a look.

[2017-04-06 15:57] noamBarkai opened #844 "Indexing very large VCF files causes out of memory exception"
Am using htsjdk 2.9.1, trying to index a 4gb VCF file, via IndexFactory.createLinearIndex()
It crashes on out of memory. This was somewhat surprising as the indexing is done via iteration on the input file, and hence the memory footprint should remain rather low.

Looking at the heap dump created it seems the "culprit" for the OOM is:
htsjdk.variant.vcf.AbstractVCFCodec#stringCache

defined thus:

[2017-04-07 09:47] noamBarkai commented on #844
I've created the following PR:
https://github.com/samtools/htsjdk/pull/845
tested locally - OOM issue gone
all tests pass locally (except two, also failed on master I checked out, and which seem to be completely unrelated)

[2017-04-07 17:01] ronlevine opened #847 "Maintain ordering of header returned by VCFUtils.smartMergeHeaders()"
### Subject of the issue
The order of the VCF header lines returned from VCFUtils.smartMergeHeaders() was incorrectly lexicographically sorted. The order should be maintained. The issue was found when researching the cause of https://github.com/broadinstitute/picard/issues/669.

### Your environment
* version of htsjdk - 2.9.0
* version of java - 1.8.0_66
* which OS - Mac OS 10.12.3 (16D32)

### S

[2017-04-08 13:50] ronlevine commented on #847
Closed since https://github.com/samtools/htsjdk/pull/848 is merged.

[2017-04-08 13:50] #847 closed

[2017-04-11 14:36] kamyshova opened #851 "Make CRAMFileReader works with CRAI directly"
As we see, the fact that `CRAMFileReader` doesn't work with native CRAI indices (it finds and reads CRAI file but then converts it internally to a BAI stream) leads to a set of performance problems when processing CRAM files. This problem has already been indicated [issue#722](https://github.com/samtools/htsjdk/issues/722). The trick is that there is no one-to-one correspondence between BAI and CR

[2017-04-12 16:18] gspowley commented on #831
@cmnbroad my proposal to fix this issue is for `SamReaderFactory.makeDefault()` to return a new `SamReaderFactory` instead of a copy of the `DEFAULT`.

Like this: https://github.com/samtools/htsjdk/compare/master...gspowley:gp_default_sam_reader

Does that change make sense?

[2017-04-12 22:58] cmnbroad commented on #831
@gspowley I'm not really sure that the default was cached anyway, but that change seems reasonable to me.

[2017-04-13 23:03] tpoterba opened #852 "VariantContext.getID doesn't produce missing values for ".""
htsjdk version: 2.5.0

If the ID is ".", then the `getID` method returns the string ".". According to the VCF 4.2 spec, this is a missing value, so the method should return null.

I'll make a pull request if someone can confirm this as a good change.

[2017-04-14 03:01] yfarjoun commented on #852
sure...seems reasonable to me.

[2017-04-18 16:40] RWilton opened #856 "Bug: htsjdk fails to return complete information from a SAM RG record"
There is apparently a bug in the htsjdk library implementation that causes IGV to behave incorrectly due to htsjdk's failure to return complete information from a SAM RG record.

A description and repro may be found here:
https://groups.google.com/forum/#!topic/igv-help/pav9URHob0o

Thank you.

[2017-04-18 18:53] gspowley opened #859 "Add feature to use non-default InflaterFactory in AbstractVCFCodec"
Currently, the `AbstractVCFCodec` always uses the default implementation of the `InflaterFactory`. This feature request would allow each block compressed VCF instance to use a different `InflaterFactory`.

This feature would be similar to the `BAMFileReader` capability in #771.

This feature request came from https://github.com/broadinstitute/gatk/issues/2420.

[2017-04-19 17:43] heuermh commented on #741
This one has been sitting for a while, any update?

[2017-04-19 19:00] yfarjoun commented on #741
I think that it's a reasonable idea. Genotype filters haven't loomed large in our world...(though this might soon change)...So I'm not sure that we would prioritize submitting the PR...but we will review it if you have a suggestion.

[2017-04-19 20:34] AlexanderDilthey opened #860 "Samtools sort CIGAR operations limitation, despite not using BAM"
samtools 1.4 sort gives me an error when trying to sort a SAM or CRAM file with more than 64K CIGAR operations.

Example command:

/data/projects/phillippy/software/samtools-1.4/samtools sort combined_with_header.sam -o combined_with_header_and_sorted.sam

Example output:

[E::bam_write1] too many CIGAR operations (66411 >= 64K for QNAME "CHM1.gi|929855600|gb|LJII01000029.1|")
samtools sort: faile

[2017-04-19 20:47] yfarjoun commented on #860
should this be posted in the samtools repository rather than the htsjdk?

[2017-04-19 20:47] #860 closed

[2017-04-19 20:50] AlexanderDilthey commented on #860
Clearly yes! Sorry!

[2017-04-20 13:36] vadimzalunin opened #861 "PR build failed due to FTP unavailability"
Travis reports test failure in https://github.com/samtools/htsjdk/pull/834

The log file excerpt:
[31m- testFTPOpenInputStream *** FAILED ***[0m
[31m  java.net.ConnectException: Connection timed out (Connection timed out)[0m
[31m  at java.net.PlainSocketImpl.socketConnect(Native Method)[0m
[31m  at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)[0m
[31m  at ja

[2017-04-20 14:10] droazen commented on #861
@vadimzalunin I've re-started the travis build for that PR -- the ftp tests are prone to intermittent failures, unfortunately.

[2017-04-20 14:10] #861 closed

[2017-04-25 13:37] magicDGS commented on #830
Closed by #842

[2017-04-25 13:37] #830 closed

[2017-04-25 13:44] magicDGS opened #864 "Support for bgzipped fasta indexes"
### Motivation
After #842, there is the possibility to create .fai indexes for a FASTA file, either bgzipped or not. Nevertheless, bgzipped files are not fully supported:

- [x] Index creation for bgzipped FASTA does not creates a .gzi index, which is a difference with respect to samtools. This index cannot be created for other bgzipped files, and will be interesting to be able to do it for any ki

[2017-04-25 13:45] magicDGS commented on #830
@tfenne, I open a different issue regarding the capability to fully support compressed FASTA.

[2017-04-26 15:01] lbergelson commented on #723
Hi @btiernay.  One alternative to streaming from stdin would be to implement or find a `java.nio.FileSystemProvider` for S3 buckets.  We've implemented support for reading VCFs from anything that can be represented by a `java.nio.Path`.  There's an existing implementation for Google's object store.  The nice thing about doing it that way is that it will automatically have support for things like t

[2017-04-26 17:05] lindenb commented on #723
@btiernay @lbergelson related PR: https://github.com/samtools/htsjdk/pull/837

[2017-04-27 19:22] lbergelson opened #866 "Why are Genotype.getAttributeAsX methods deprecated?"
There are a number of deprecated methods in `Genotype` that seem useful.  There's no explanation why they're deprecated or what the replacement is.

ex:
[code]

Is there something wrong with these methods?  Is there a replacement somewhere?  There are analogous methods in `VariantContext` that are not deprecated.  They were deprecated before being moved into htsjdk so the history is cut off.  Does

[2017-04-27 22:39] yfarjoun commented on #866
pinging @tfenne...do you know?

On Thu, Apr 27, 2017 at 3:22 PM, Louis Bergelson <notifications@github.com>
wrote:

[2017-04-28 07:10] magicDGS commented on #866
I was wondering the same. What'as about having a `CommonInfo` field in the `Genotype` abstract class instead of the map of extended attributes in the `FastGenotype`? This will allow to use exactly the same methods as in `VariantContext`...

[2017-04-28 10:23] tfenne commented on #866
@yfarjoun I have no idea.  I think that in general it would be really nice to make both Genotype and VariantContext a bit more type-safe, whether it's by un-deprecating these methods, or removing these methods and putting something similar in place.  I _still_ struggle when dealing with both `Genotype` and `VariantContext` to know what I'm going to get back, and have a lot of defensive code around

[2017-04-28 14:17] lbergelson commented on #866
I would love to make this type safe.  We have so much confusing defensive code and it always misses cases anyway resulting in bugs.

I have some thoughts about how this could be cleaned up a bit:

We could define a set of Accessor interfaces which would capture the type information.
Then you would get and set using constant defined Accessors.  I seems like we could make it very clean and easy to e

[2017-04-28 14:29] lindenb commented on #866
@lbergelson (related idea) can we also use VCFHeaderLineType to define some String converters ?

`VCFHeaderLineType.Float  ###  (T)->Float.parseFloat(T)`

[2017-04-28 15:46] magicDGS commented on #866
I like the `AttributeAccessor` idea, but in combination with the `VCFHeaderLineType`. I propose the following.
* Add a method to parse an `Object` into teh `VCFHeaderLineType` as suggested by @lindenb
* Add the `AttributeAccessor` abstraction suggested by @lbergelson
* Add a `AttributeAccessor<T> getAccessor()` method to `VCFFormatHeaderLine` (and the same to `VCFInfoHeaderLine` for `VariantContex

[2017-04-28 15:58] lbergelson commented on #866
I'm not sure binding the converter to the VCFHeaderLineType is sufficient, you also need to consider the VCFHeaderLineCount to determine if it's a list or a scalar.  I.e. `integer 1` is just an Integer, but `Integer 2` is an `int[]`.

We have to consider the performance impact / where we want validation failures to occur.  It seems likely that it would be more efficient to only perform conversion/

[2017-04-28 18:17] vruano opened #867 "VariantContext.getAttributeAsIntList should be able to accept an arbitrary list (including an empty list) as the default value."
VariantContext.getAttributeAsIntList default value is always a single int value to be returned in case the list is not defined in the variant. Therefore is not possible to specify a default return value with either no values (i.e. an empty list return) or more than one value.

### What I would like to see

That you can specify any number of elements for the return list... for example the method co

[2017-04-28 19:47] vruano commented on #867
Looking closer to the code it seems that the behavior is somehow different that what I expected... the default value indicates the default value for any given element that is not specified... say if the input is '.,.,3,.' and the default is set to '1' then the returned list is [1,1,3,1]. The problem here is then that there is no way one can give a default overall value if the annotation is simply

[2017-04-28 19:47] #867 closed

[2017-05-02 08:25] magicDGS commented on #866
What I meant is that the `VCFHeaderLineType` could convert a single-element, and implementations of `VCFFormatHeaderLine`/`VCFInfoHeaderLine` will be the ones which creates an array if necessary...

[2017-05-02 08:28] magicDGS commented on #866
In addition, I think that this will be also another interesting point supporting the non-backwards API changes (#520).

[2017-05-02 18:43] lbergelson opened #869 "ScalaTest report is missing ignored tests"
When I run the test suite it tells me
[code]
However, if you look at the test report it shows 0 ignored tests.

<img width="210" alt="screen shot 2017-05-02 at 2 42 19 pm" src="https://cloud.githubusercontent.com/assets/4700332/25633559/865fd406-2f45-11e7-8ad1-6b08e40f3361.png">

This seems wrong, and makes it hard to tell which test were ignored.

[2017-05-03 20:52] tfenne opened #871 "HTSJDK requires defined processes and governance"
HTSJDK is an open source project within the samtools organization that grew out of work performed by many individuals presently or previously at the Broad institute.  The project has been operating informally since it's move to GitHub, and has no defined processes, no agreed upon ways to make decisions or resolve conflicts, etc.  While the vast majority of work was being performed by individuals e

[2017-05-03 21:20] alecw commented on #871
Hi @tfenne ,

I agree that some clarity about the process would be good.  I have hardly touched HTSJDK in > 2 years, so I think I should no longer be an admin.  Also, I think it's not up to me how to proceed.  I don't know what the GATK/Picard team has in mind.

-Alec

[2017-05-04 01:08] d-cameron commented on #871
I couldn't agree more. If would be nice to know exactly what hoops one needs to jump through to contribute. The issues I had getting https://github.com/samtools/htsjdk/pull/576 accepted are a good example of the problems with the current state of affairs. Yes I can contribute to a nominally public open source project, but my contributions are conditional on a whole bunch of tests passing in non-pu

[2017-05-04 01:41] yfarjoun commented on #871
👍

[2017-05-04 08:49] magicDGS commented on #871
I vote for the first one too, and even if I'm starting to be repetitive with my suggestion, a brand-new htsjdk3 API and repository may be useful for clean-up the library and solve from the very beginning the issues and discussions between the teams...

[2017-05-05 12:23] tfenne commented on #871
@yfarjoun (and maybe also @ktibbett ?) would you be able to raise this for discussion internally at Broad and figure out who wants to be involved, and who can represent the Broad position?  I'm happy for anyone who wants to be involved to do so, but it would be great if there were 1-2 people from Broad who could officially represent Broad for this discussion?

I'd like to drive this process to com

[2017-05-05 14:52] droazen commented on #871
@tfenne If your fear is "lack of engagement from the necessary parties", then you're going to have to give us at the Broad, at least, a bit more than the proposed 2 weeks to engage in this topic. As you know, we're currently too swamped to deal even with a major deprecation in the codebase due to an internal conference deadline, so you can easily believe that we're too swamped to engage in a discu

[2017-05-07 16:57] tfenne commented on #871
@droazen, a month is reasonable - that's why I asked _if_ two weeks was reasonable.  I figured I was more likely to get a response by proposing a timeline than just asking "what's a reasonable timeline".

I'd like to ask a few questions of you in order to help calibrate my own, and others', expectations.  For context, while I would love to resolve this quickly, realistically I would prefer us to h

[2017-05-07 18:27] vdauwera commented on #871
I'd like to be involved on the Broad side. I have zero bandwidth before
Bio-IT, then probably minimal bandwidth until July, but if you and others
want to take the lead I'm happy to play catch up when my availability
improves.

If there are any major changes in status that result we'll need to run them
past our IP office but I don't anticipate any difficulties.
On Sun, May 7, 2017 at 10:57 AM Tim F

[2017-05-07 19:14] nh13 commented on #871
@vdauwera I think one of the things that is unclear is the difference from individuals contributing to this discussion who happen to work at the Broad versus having an explicit person (or 1-2 people) who represent the Broad as an organization and can make decisions or the like on their behalf.  I think the latter is what @tfenne is looking for, and what question (1) to @droazen is about.  Would yo

[2017-05-08 14:59] binaryminary opened #873 "BAMFileReader does not expose constructors"
Very simple oversight, while BAMFileReader has been made public to expose the class outside the package, the constructors have not been made "public" and therefore the class cannot be instantiated in other projects without hacking around this issue using reflection.

[2017-05-08 17:11] yfarjoun commented on #873
You should use a factory for that:
[code]

[2017-05-08 17:11] #873 closed

[2017-05-09 01:20] binaryminary commented on #873
Ah many apologies, I had thought I searched for usages within the package but looks like I missed it. Thanks.

[2017-05-09 13:27] yfarjoun commented on #873
no worries. Welcome to the project!

In general, I would recommend looking for usages in picard https://github.com/broadinstitute/picard/

or other libraries that use htsjdk.

[2017-05-09 14:54] droazen commented on #871
@tfenne To answer your question, unfortunately neither myself nor anyone else on our side has bandwidth to participate in this discussion until June. To be on the safe side, I'd propose a start date of June 10.

I know that you're impatient to resolve this (or at least understandably nervous that the topic will get dropped again), but I feel strongly that starting the discussion without all the st

[2017-05-09 15:26] yfarjoun commented on #871
In my opinion, the current status of non-active (@kt, @bradtaylor, @alecw) and non-empowered (@nh13, @tfenne) maintainers is unworkable. I suspect that the conflicts we have been seeing recently are due to this problem.

To me this is a "drop-everything" issue. We cannot afford to have htsjdk without active, and empowered maintainers any longer. There are folks at the broad that do have time to en

[2017-05-09 15:46] droazen commented on #871
@yfarjoun If we can't even agree on how to begin this discussion in a way that's fair to all parties, then that does not bode well for our ability to make collective decisions in the future! It seems to me that our request to hold this important discussion at a time that works for all major stakeholders is not an unreasonable one. Starting this discussion without a representative of the GATK proje

[2017-05-09 22:08] yfarjoun commented on #871
(following some internal discussion at broad)
I move that there will be a new set of maintainers:

- @jacarey
- @tfenne
- @lbergelson

Who will start with **equal** veto power and set the "processes and governance" going forward.

This motion come with the implicit understanding that conflicts need to be discussed (perhaps offline) till resolution.

Given that there are currently 5 official mainta

[2017-05-10 00:35] bradtaylor commented on #871
I second this proposal. I am no longer in a position to offer administrative support to this very important software project, and I wish to be removed as an admin.

The proposed set of three maintainers are deeply knowledgable about this repository and its goals / design standards.  I trust them to engage with the developer community propagate a governance model that ensures the improved health of

[2017-05-10 01:02] nh13 commented on #871
I agree.

[2017-05-10 03:06] vdauwera commented on #871
As advocate for the GATK user community, which depends hugely on the health
of the htsjdk project, I agree as well.
On Tue, May 9, 2017 at 7:02 PM Nils Homer <notifications@github.com> wrote:

--
Geraldine A. Van der Auwera, PhD
Associate Director of Outreach and Communications
Data Sciences and Data Engineering
Broad Institute

[2017-05-10 08:53] magicDGS commented on #871
I agree to speed-up this issue. As a contributor and user of the library, I would like to have this solved soon because I have several projects depending on this....

[2017-05-10 11:52] ktibbett commented on #871
:+1:

[2017-05-10 17:08] tfenne commented on #871
👍

[2017-05-10 18:08] lbergelson commented on #871
👍

[2017-05-10 19:25] jacarey commented on #871
adding my 👍

[2017-05-10 19:42] alecw commented on #871
+1

[2017-05-11 14:06] droazen commented on #871
:+1:

[2017-05-14 22:40] tfenne commented on #871
@yfarjoun I think I see 👍 from all the existing maintainers, and proposed future maintainers, and most of the folks who joined the conversation too. Are we ready to move forward, or were there any last people you wanted to make sure we heard from?

[2017-05-15 02:20] yfarjoun commented on #871
As I understand it, the motion has passed. Not sure what official things
need to happen now....

On May 14, 2017 6:40 PM, "Tim Fennell" <notifications@github.com> wrote:

[2017-05-15 12:56] tfenne commented on #871
Thanks @yfarjoun.  I think the only major thing that needs to happen that I cannot make happen is that all three of @jacarey, @lbergelson  and myself should have access to edit who has access to the project.  This is currently administered through a pair of groups in the samtools org, `Java admins` and `Java developers`.  It looks like @jacarey is already an "Owner" within samtools, but that @lber

[2017-05-15 13:42] jacarey commented on #871
@tfenne and @lbergelson are now "Owner" as well.

[2017-05-16 07:02] jrobinso opened #874 "Queries for non-existent contigs throw exception"
I'm not sure if you consider this a bug, or not, or when exactly the behavior changed,  but doing queries against a contig (sequence, chromosome) not present in a SAM or BAM file now throws an illegal argument exception.   At some point in the past an empty iterator was returned.    Clients (such as IGV) sometimes query for regions present in the fasta but for whatever reason not present in the SA

[2017-05-16 11:06] yfarjoun commented on #874
I don't know if it was a decision on which deliberation occurred, or not, but it seems to be me that this is the proper behavior. An empty iterator would imply that the request is legal, but there are no records in the requested region/contig/locus.

Asking for a contig that doesn't exists is illegal and normally implies that there's a dictionary mismatch. IGV has a user interface and so, of cours

[2017-05-16 16:25] jrobinso commented on #874
OK, that makes sense.

[2017-05-16 16:25] #874 closed